<div class="apiHelperAddDeviceToProduct apiHelperManualSetup"> 
    <!-- api-helper, api-helper-extras, api-helper-usb -->
    <table class="apiHelperTableNoMargin">
        <tbody>            
            <tr class="productIsSelected" style="display:none;">
                <td>Selected Product</td>
                <td class="selectedProductCell"></td>
                <td>&nbsp;</td>
            </tr>
            <tr class="productIsSelected">
                <td>Device to add</td>
                <td><input type="text" size="30" class="deviceIdText"></td>
                <td><button class="addDeviceButton" disabled>Add device to product</td>
            </tr>
            <tr>
                <td colspan="2" class="statusMessage"></td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>            
</div>
