{{#if previous}}
  <a href="{{previous.path.href}}{{previous.path.name}}" class="arrow previous-arrow"><i class="ion-chevron-left"></i></a>
{{/if}}
{{#if next}}
  <a href="{{next.path.href}}{{next.path.name}}" class="arrow next-arrow"><i class="ion-chevron-right"></i></a>
{{/if}}
