<div class="bandMaskCalculator">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <div class="bandsDiv" style="display: flex; flex-wrap: wrap;"></div>     
            <div>
                <button class="downButton secondaryButtonSmall">Calculate &#x2B07;</button>
                <button class="selectAllButton secondaryButtonSmall">Select All</button>
                <button class="selectNoneButton secondaryButtonSmall">Select None</button>
                <button class="upButton secondaryButtonSmall">Calculate &#x2B06;</button>
            </div>     
            <div>
                Decimal value: <input type="text" size="30" class="numInput"/>
            </div>
        </div>
    </div>
</div>
