<div class="apiHelper batteryCalculator"> 
    <!-- api-helper, api-helper-extras, battery-calculator -->
    

    <table class="apiHelperTableNoMargin">
        <tbody>            
            <tr class="productIsSelected" style="display:none;">
                <td>Selected Product</td>
                <td class="selectedProductCell"></td>
                <td>&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>