<!-- api-helper, api-helper-extras, battery-calculator -->
{{#if deviceSelect}}
<div class="batteryCalculator batteryCalculatorDeviceSelect"> 
    <div>Device: <select class="deviceSelect apiHelperSelect">
        <option value="ONE402">Tracker One ONE404, ONE402 (North America)</option>
        <option value="ONE523">Tracker One ONE524, ONE523 (EMEAA)</option>
    </select></div>
</div>
{{/if}}