<div class="bleTdmCalculatorExample">
    <div class="apiHelper">
        <div class="apiHelperBox" style="display:flex; align-items: center;">
            <div style="margin-right: 10px;">
                <button class="bleTdmExample secondaryButton" data-param="{{param}}">Load example</button>
            </div>
            <div class="loadedDiv" style="display:none;">
                Example loaded. Scroll up to view results.
            </div>
        </div>
    </div>
</div>

