<div class="bleTdmCalculator">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <div>
                <table class="apiHelperTableNoMargin">
                    <tbody>
                        <tr>
                            <td class="apiHelperProductSelectorLabel">Test Duration</td>
                            <td><input type="text" size="10" value="900" class="inputParam" data-key="d" />
                                seconds (default: 900)</td>
                        </tr>
                        <tr>
                            <td class="apiHelperProductSelectorLabel">Wi-Fi + BLE TDMA Window Size</td>
                            <td><input type="text" size="10" value="100" class="inputParam" data-key="ws" />
                                ms (milliseconds) (leave at 100)</td>
                        </tr>
                        <tr>
                            <td class="apiHelperProductSelectorLabel">BLE window percentage</td>
                            <td><input type="text" size="10" value="50" class="inputParam" data-key="b" />
                                % (leave at 50)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="sensorsDiv">
                <div class="sensorDiv" data-sensor="0" style="margin-top:15px;">
                    <h4>Sensor 1</h4>
                    <div style="display: flex;">
                        <div>
                            <table class="apiHelperTableNoMargin">
                                <tbody>
                                    <tr>
                                        <td class="apiHelperProductSelectorLabel">
                                            <label><input type="radio" value="f" name="it" class="sensorInputParam" data-key="it" checked/>Fixed advertising interval</label></td>
                                        <td><input type="text" size="10" value="10000" class="sensorInputParam" data-key="i" />
                                            ms</td>
                                    </tr>
                                    <tr>
                                        <td class="apiHelperProductSelectorLabel">
                                            <label><input type="radio" value="r" name="it" class="sensorInputParam" data-key="it"/>Random advertising interval</label></td>
                                        <td>
                                            Min: <input type="text" size="10" value="9000" class="sensorInputParam" data-key="rmin" /> 
                                            Max: <input type="text" size="10" value="11000" class="sensorInputParam" data-key="rmax" />
                                            ms
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="apiHelperProductSelectorLabel">Packet length</td>
                                        <td><input type="text" size="10" value="0.125" class="sensorInputParam" data-key="l" />
                                            ms</td>
                                    </tr>
                                    <tr>
                                        <td class="apiHelperProductSelectorLabel">Retransmit repeats</td>
                                        <td><input type="text" size="10" value="0" class="sensorInputParam" data-key="r" />
                                            </td>
                                    </tr>
                                    <tr>
                                        <td class="apiHelperProductSelectorLabel">Retransmit delay</td>
                                        <td><input type="text" size="10" value="100" class="sensorInputParam" data-key="d" />
                                            ms</td>
                                    </tr>
                                    <tr>
                                        <td class="apiHelperProductSelectorLabel">Random transmit jitter</td>
                                        <td><input type="text" size="10" value="10" class="sensorInputParam" data-key="j" />
                                            ms</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <div class="sensorTools" style="display:flex;">
                                                <div class="sensorRemoveDiv" style="display:none;"><a class="apiHelperLink">Delete this sensor</a></div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div style="margin-left: 30px;">
                            <table class="apiHelperTableNoMargin sensorResultTable">
                                <tbody>
                                    <tr>
                                        <td class="apiHelperProductSelectorLabel">Samples in test period</td>
                                        <td class="apiHelperProductSelectorLabel"><span class="sensorResult" data-key="numSamples"></span></td>
                                        <td class="apiHelperProductSelectorLabel">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="apiHelperProductSelectorLabel">BLE success</td>
                                        <td class="apiHelperProductSelectorLabel"><span class="sensorResult" data-key="successPct"></span> %</td>
                                        <td class="apiHelperProductSelectorLabel">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="apiHelperProductSelectorLabel">BLE missed</td>
                                        <td class="apiHelperProductSelectorLabel"><span class="sensorResult" data-key="failurePct"></span> %</td>
                                        <td class="apiHelperProductSelectorLabel">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="apiHelperProductSelectorLabel">Latency normal</td>
                                        <td class="apiHelperProductSelectorLabel">
                                            <span class="sensorResult" data-key="latency1Pct"></span> %
                                        </td>
                                        <td class="apiHelperProductSelectorLabel">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="apiHelperProductSelectorLabel">Latency missed 1 packet</td>
                                        <td class="apiHelperProductSelectorLabel">
                                            <span class="sensorResult" data-key="latency2Pct"></span> %
                                        </td>
                                        <td class="apiHelperProductSelectorLabel">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="apiHelperProductSelectorLabel">Latency missed 2 packets</td>
                                        <td class="apiHelperProductSelectorLabel">
                                            <span class="sensorResult" data-key="latency3Pct"></span> %
                                        </td>
                                        <td class="apiHelperProductSelectorLabel">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="apiHelperProductSelectorLabel">Latency missed 3 or more packets</td>
                                        <td class="apiHelperProductSelectorLabel">
                                            <span class="sensorResult" data-key="latencyMorePct"></span> %
                                        </td>
                                        <td class="apiHelperProductSelectorLabel">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="apiHelperProductSelectorLabel">Mean latency</td>
                                        <td class="apiHelperProductSelectorLabel">
                                            <span class="sensorResult" data-key="latencyMeanStr"></span>
                                        </td>
                                        <td class="apiHelperProductSelectorLabel">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="apiHelperProductSelectorLabel">Minimum latency</td>
                                        <td class="apiHelperProductSelectorLabel">
                                            <span class="sensorResult" data-key="latencyMinStr"></span>
                                        </td>
                                        <td class="apiHelperProductSelectorLabel">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="apiHelperProductSelectorLabel">Maximum latency</td>
                                        <td class="apiHelperProductSelectorLabel">
                                            <span class="sensorResult" data-key="latencyMaxStr"></span>
                                        </td>
                                        <td class="apiHelperProductSelectorLabel">&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-top: 10px; margin-bottom: 10px;">
                <button class="addSensor secondaryButton">Add sensor</button>
            </div>                
            <div class="bleTdmStatus" style="margin-top: 10px; margin-bottom: 10px;">
            </div>            
            <div class="bleTdmTimelineContainer" style="margin-top: 10px; margin-bottom: 10px; display: flex; overflow-x: auto;">
                <div class="bleTdmTimeline" style="display:none; margin-right: 20px;">
                    <h4>Test run <span class="testRunLabel"></span></h4>
                    <div class="sensorResultTableDiv">
                        <table class="apiHelperTableNoMargin sensorResultTable">
                            <thead>
                            </thead>
                            <tbody>                        
                            </tbody>
                        </table>                        
                    </div>
                    <div class="testRunResultsTableDiv">
                        <table class="apiHelperTableNoMargin testRunResultsTable">
                            <thead>
                            </thead>
                            <tbody>                        
                            </tbody>
                        </table>                        
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>

