<div class="carrierFamilyMap" data-family="{{family}}">
      
  <div class="familyMapDiv">
      <div class="clickToShow" style="line-height: 300px; text-align: center; font-size: smaller; display: none;">Click to show coverage map</div>
  </div>

  <div class="familyMapSkusDiv"></div>

</div> <!-- carrierModelMapDiv -->



  