<div id="mainDiv">

<div id="carrierTabs">
    <a class="nav active" id="carrierTabByDevice">By Device</a>
    <a class="nav" id="carrierTabModelMap">Coverage Map</a>
    <a class="nav" id="carrierTabCountryDetails">Country Details</a>
    <a class="nav" id="carrierTabBandFit" style="display:none;">Band Fit</a>
</div> <!-- carrierTabs -->


<div id="carrierByDeviceDiv" style="display:none;">

    <form>
        <table>
            <tr>
                <td class="carrierFormLabel">Device:</td>
                <td><select id="deviceList" class="carrierListSelect"></select></td>
            </tr>
            <tr>
                <td class="carrierFormLabel">Region:</td>
                <td><select id="regionList" class="carrierListSelect"></select></td>
            </tr>
        </table>
    </form>
    <div>
        <table id="countryCarrierTable">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
    <div id="byDeviceM404Warning" style="display:none; font-size: small;"><sup>*</sup>The M404 is fully supported in the United States, Canada, and Mexico. It is in beta testing in other locations.</div>
    <div id="byDeviceRoamingWarning" style="display:none; font-size: small;">
      <sup>6</sup>Not recommended due to permanent roaming restrictions. While the device
      may initially work, it may be blocked by local operators without warning.
    </div>
    <div id="byDeviceVerizonWarning" style="display:none; font-size: small;">
      <sup>7</sup>Verizon in the United States is only supported on enterprise plans.
    </div>
    <div class="byDeviceSunsetWarning" style="margin-top:15px; display:none;">Note: 2G/3G sunset dates are subject to change and carriers may have planned sunsets that are not included in this list.</div>
</div> <!-- carrierByDeviceDiv -->

<div id="carrierFindDeviceDiv" style="display: none;">
    <p>&nbsp;</p>
    <form>
        <div>
        <input type="radio" id="country2RegionRadio" name="country2Radio" value="region">
        <label for="country2RegionRadio">Region <select id="country2RegionSel" class="carrierListSelect">
        </select></label>
        <input type="radio" id="country2CountryRadio" name="country2Radio" value="country">
        <label for="country2CountryRadio">Country <input type="text" size="30" id="country2Text" autocomplete="off"/></label>
        </div>
        <div>
        <input type="checkbox" id="country2ShowCarriers" checked="checked" />
        <label for="country2ShowCarriers">Show carriers</label>
        </div>
        <div>
            <input type="checkbox" id="country2ShowNRND" />
            <label for="country2ShowNRND">Show devices not recommended for new designs (NRND)</label>
        </div>
    </form>
    <div id="recDiv">
    </div>
</div> <!-- carrierFindDeviceDiv -->

<div id="carrierModelMapDiv" style="display: none;">

  <form>
      <table>
          <tr>
              <td class="carrierFormLabel">Device Family:</td>
              <td>
                  <select id="familyMapSelect" class="carrierListSelect">
                      <option value="m series">M-Series</option>
                      <option value="tracker">Tracker</option>
                      <option value="b series">B-Series SoM</option>
                      <option value="boron">Boron</option>
                      <option value="e series">E-Series</option>
                      <option value="electron">Electron</option>
                  </select>
              </td>
          </tr>
      </table>
  </form>
  <div class="familyMapDiv">
  </div>
  <div id="familyMapSkusDiv"></div>
</div> <!-- carrierModelMapDiv -->

<div id="carrierCountryDetailsDiv" style="display: none;">
    <p></p>
    <form>
      <table>
        <tr>
          <td class="carrierFormLabel">Device:</td>
          <td><select id="countryDetailDeviceList" class="carrierListSelect"></select></td>
        </tr>
        <tr>
          <td class="carrierFormLabel">Country:</td>
          <td><input type="text" size="30" id="countryDetailText" autocomplete="off"/></td>            
        </tr>        
      </table>
    </form>
    <div id="countryDetailsResultsDiv"></div>
    <div id="countryDetailsFootnotesDiv"></div>
    {{> sunset-list options="hidden,showNonEmpty"}}
</div> <!-- carrierCountryDetailsDiv -->

<div id="carrierBandFitDiv" style="display:none;">
  <table>
    <tr>
      <td class="carrierFormLabel">Compare</td>
      <td><select id="bandFitTestSelect" class="carrierListSelect">
      </select></td>
    </tr>
    <tr>
      <td class="carrierFormLabel">Show countries:</td>
      <td><select id="bandFitRegionSelect" class="carrierListSelect">
        <option value="byRegion" selected>Group by region</option>
        <option value="alphabetical">All alphabetical</option>
        <option value="country">Specific country</option>
      </select></td>
    </tr>
    <tr>
      <td class="carrierFormLabel">Specific country:</td>
      <td><input type="text" size="30" id="bandFitSpecificCountry" autocomplete="off"/></td>            
    </tr>        
  </table>
  <div id="bandFitSpecificCountryDiv"></div>
  <div id="bandFitM404Warning" style="display:none;">The M404 is fully supported in the United States, Canada, and Mexico. It is in beta testing in other locations.</div>
  <div id="bandFitResults">
  </div>
</div> <!-- carrierBandFitDiv -->

<div class="apiHelper" style="display:none;"></div>

</div> <!-- mainDiv -->