<div class="apiHelper apiHelperLoggedIn apiHelperCellularUsage">
    <div class="apiHelperBox">
        <div class="searchMode">
            <table class="apiHelperTableNoMargin">
                <tbody class="apiHelperOrgProductSelector" data-cellular="1" data-filter-empty="1">
                    <tr class="sandboxOrgRow" style="display:none">
                        <td class="apiHelperProductSelectorLabel apiHelperSandboxOrgRadio" colspan="2">
                        <label><input type="radio" class="sandboxOrg" value="sandbox" checked />Sandbox Product</label> &nbsp;&nbsp;
                        <label><input type="radio" class="sandboxOrg" value="org" />Organization Product</label> &nbsp;&nbsp;
                        </td><td>&nbsp;</td></tr>
                    <tr class="orgSelectorRow" style="display:none"><td class="apiHelperProductSelectorLabel">Organization</td><td><select class="apiHelperOrgSelect apiHelperSelect"></select></td><td>&nbsp;</td></tr>
                    <tr class="productSelectorRow"><td class="apiHelperProductSelectorLabel">Product</td><td><select class="apiHelperProductSelect apiHelperSelect"></select></td><td>&nbsp;</td></tr>
                </tbody>            
            </table>
            <div>
                <button class="apiHelperActionButton" disabled>Get Usage Data</button> &nbsp;&nbsp;| &nbsp;&nbsp;
                <button class="downloadData" disabled>Save Usage Data</button> &nbsp;
                <input type="file" class="apiHelperRestoreFileInput" accept="*.json" style="display:none">
                <button class="restoreData">Restore Usage Data</button>
            </div>
            <div class="postRetrieveActions" style="display:none">
            </div>
        </div>
        <div class="apiHelperStatus" style="padding-top: 5px;"></div>
        <div><progress class="progressBar" max="100" value="0" style="display:none"></progress></div>
        <div class="usageGraphsDiv">
            <div><select class="graphTypeSelect apiHelperSelect">
                    <option value="dailyFleetUsage" selected>Daily fleet usage</option>
                    <option value="dailyFleetCumulative">Daily fleet cumulative usage</option>
                    <option value="simsLargestMonthlyDataUsage">SIMs with largest monthly data usage</option>
                    <option value="simUsageOnDate">Largest SIM usage on date</option>
                    <option value="dailyUsageForSim">Daily usage for a single SIM</option>
                    <option value="dailySimNoData">Daily SIMs using no data</option>
                </select>
            </div>
            <div style="padding-top: 6px;">
                <div class="dateSpan" style="display:none">Date: <input type="text" size="10" class="dateInput"></input> (YYYY-MM-DD)</div>    
                <div class="iccidSpan" style="display:none">SIM ICCID: <input type="text" size="24" class="iccidInput"></input></div>
            </div>
        </div>
    </div>
</div>
<div>
    <canvas id="cellularChart"></canvas>
</div>
<div id="cellularTable" style="display:none">
</div>
<div id="cellularChartInstructions" style="font-size: small">
</div>
