<div class="apiHelperCloudApiServiceAgreements">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <div>
                Sandbox or Organization: 
                    <select class="apiHelperSandboxOrgSelect apiHelperSelect">
                        <option value="0" selected>Sandbox</option>
                    </select>
                </tr>
            </div>
            <div style="padding: 5px 0px 5px 0px"><button class="apiHelperActionButton">Get service agreements</button></div>
            <div class="apiHelperStatus" style="padding-top: 5px;"></div>
            <div class="apiHelperApiRequest" style="padding-top: 8px; display:none">Request:<br/><pre class="apiHelperMonoSmall"></pre></div>
            <div class="apiHelperApiResponse" style="display:none">Response:<br/><pre class="apiHelperMonoSmall"></pre></div>
        </div>
    </div>
    <div class="apiHelperCloudApiOutputJson" style="height:{{height}}px; overflow:scroll; display:none">
        <pre class="codeboxPre"><code class="codebox lang-json">                
        </code></pre>
    </div>
</div>
<div class="apiHelperCloudApiServiceAgreementNotifications" style="display:none;">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <div>
                Agreement: 
                    <select class="apiHelperAgreementSelect apiHelperSelect">
                    </select>
                </tr>
            </div>
            <div style="padding: 5px 0px 5px 0px"><button class="apiHelperActionButton">Get service agreement notifications</button></div>
            <div class="apiHelperStatus" style="padding-top: 5px;"></div>
            <div class="apiHelperApiRequest" style="padding-top: 8px; display:none">Request:<br/><pre class="apiHelperMonoSmall"></pre></div>
            <div class="apiHelperApiResponse" style="display:none">Response:<br/><pre class="apiHelperMonoSmall"></pre></div>
        </div>
    </div>
    <div class="apiHelperCloudApiOutputJson" style="height:{{height}}px; overflow:scroll; display:none">
        <pre class="codeboxPre"><code class="codebox lang-json">                
        </code></pre>
    </div>
</div>