<div class="apiHelperCloudApiGetProductInfo">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <table class="apiHelperTableNoMargin">
                <tr><td class="apiHelperProductSelectorLabel">Product ID or Slug</td><td><input type="text" size="30" class="apiHelperDeviceLookupProductId" value=""></td><td class="apiHelperProductSelectorLabel"></td></tr>
                <tr><td colspan="3"><button class="apiHelperActionButton">Get Product Info</button></td></tr>
            </table>

            <div class="apiHelperStatus" style="padding-top: 5px;"></div>
            <div class="apiHelperApiRequest" style="padding-top: 8px; display:none">Request:<br/><pre class="apiHelperMonoSmall"></pre></div>
            <div class="apiHelperApiResponse" style="display:none">Response:<br/><pre class="apiHelperMonoSmall"></pre></div>
        </div>
    </div>
    <div class="apiHelperCloudApiOutputJson" style="height:{{height}}px; overflow:scroll; display:none">
        <pre class="codeboxPre"><code class="codebox lang-json">                
        </code></pre>
    </div>
</div>

