<div class="apiHelperCloudApiAuthSettings">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <table class="apiHelperTableNoMargin">
                <tr><td class="apiHelperProductSelectorLabel">Product</td><td><select class="apiHelperAuthSettingsProduct apiHelperSelect"><options>Select Product</options></select></td><td>&nbsp;</td></tr>
                <tr><td class="apiHelperProductSelectorLabel">Client ID</td><td><input type="text" size="30" class="apiHelperAuthSettingsClientId" value=""></td><td class="apiHelperProductSelectorLabel">&nbsp;</td></tr>
                <tr><td class="apiHelperProductSelectorLabel">Client Secret</td><td><input type="text" size="50" class="apiHelperAuthSettingsClientSecret" value=""></td><td class="apiHelperProductSelectorLabel">&nbsp;</td></tr>
            </table>
        </div>
    </div>
</div>

