<div class="apiHelperCloudApiAuthSettings apiHelperCloudApiCreateCustomer">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <table class="apiHelperTableNoMargin">
                <tr><td class="apiHelperProductSelectorLabel">Product ID</td><td><input type="text" size="10" class="apiHelperAuthSettingsProduct" value=""></td><td>&nbsp;</td></tr>
                <tr><td class="apiHelperProductSelectorLabel">Client ID</td><td><input type="text" size="30" class="apiHelperAuthSettingsClientId" value=""></td><td class="apiHelperProductSelectorLabel">&nbsp;</td></tr>
                <tr><td class="apiHelperProductSelectorLabel">Client Secret</td><td><input type="text" size="50" class="apiHelperAuthSettingsClientSecret" value=""></td><td class="apiHelperProductSelectorLabel">&nbsp;</td></tr>
                <tr><td class="apiHelperProductSelectorLabel">Customer Email</td><td><input type="text" size="50" class="apiHelperAuthSettingsCustomerEmail" value=""></td><td class="apiHelperProductSelectorLabel"><button class="apiHelperUuidButton">Use UUID</button></td></tr>
                <tr><td class="apiHelperProductSelectorLabel">no_password</td><td><input type="text" size="10" class="apiHelperCreateCustomerNoPassword" value="true"></td><td class="apiHelperProductSelectorLabel"></td></tr>
                <tr><td colspan="3"><button class="apiHelperActionButton">Create Customer</button></td></tr>
            </table>
            <div class="apiHelperStatus" style="padding-top: 5px;"></div>
            <div class="apiHelperApiRequest" style="padding-top: 8px; display:none">Request:<br/><pre class="apiHelperMonoSmall"></pre></div>
            <div class="apiHelperApiResponse" style="display:none">Response:<br/><pre class="apiHelperMonoSmall"></pre></div>
        </div>
    </div>
    <div class="apiHelperCloudApiOutputJson" style="display:none">
        <pre class="codeboxPre"><code class="codebox lang-json">                
        </code></pre>
    </div>
</div>

