<div class="apiHelperCloudApiPublish">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <table class="apiHelperTableNoMargin">
{{#if productTest}}
                <tr><td class="apiHelperProductSelectorLabel">Product Access Token</td><td><input type="text" size="50" class="apiHelperAuthSettingsProductAccessToken" value=""></td><td>&nbsp;</td></tr>
                <tr><td class="apiHelperProductSelectorLabel">Product ID</td><td><input type="text" size="10" class="apiHelperAuthSettingsProduct" value=""></td><td>&nbsp;</td></tr>
{{/if}}
{{#if customerTest}}
                <tr><td class="apiHelperProductSelectorLabel">Customer Access Token</td><td><input type="text" size="50" class="apiHelperAuthSettingsCustomerAccessToken" value=""></td><td>&nbsp;</td></tr>
{{/if}}
                <tr><td class="apiHelperProductSelectorLabel">Event Name</td><td><input type="text" size="30" class="apiHelperEventName" value="{{eventName}}"></td><td>&nbsp;</td></tr>
                <tr><td class="apiHelperProductSelectorLabel">Event Data</td><td><input type="text" size="60" class="apiHelperEventData" value="{{eventData}}"></td><td>&nbsp;</td></tr>
                <tr><td class="apiHelperProductSelectorLabel" colspan="2"><button class="apiHelperActionButton">Publish Event</button></td><td>&nbsp;</td></tr>
            </table>
            <div class="apiHelperStatus" style="padding-top: 5px;"></div>
            <div class="apiHelperApiRequest" style="padding-top: 8px; display:none">Request:<br/><pre class="apiHelperMonoSmall"></pre></div>
            <div class="apiHelperApiResponse" style="display:none">Response:<br/><pre class="apiHelperMonoSmall"></pre></div>
        </div>
    </div>
    <div class="apiHelperCloudApiOutputJson" style="display:none">
        <pre class="codeboxPre"><code class="codebox lang-json">                
        </code></pre>
    </div>
</div>

