<div class="apiHelperCloudApiDeviceSelect" data-options="{{options}}">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <p>Device: <select class="apiHelperCloudDeviceSelect apiHelperCommonDevice apiHelperSelect"></select></p>
        </div>
    </div>
</div>

