<div class="apiHelperCloudApiDeviceList">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <div>
                <button class="apiHelperGetDeviceList">Get Device List</button>
            </div>
            <div class="apiHelperStatus"></div>
            <div class="apiHelperApiRequest" style="display:none">Request:<br/><pre class="apiHelperMonoSmall"></pre></div>
            <div class="apiHelperApiResponse" style="display:none">Response:<br/><pre class="apiHelperMonoSmall"></pre></div>
        </div>
    </div>
    <div class="apiHelperCloudApiOutputJson" style="height:{{height}}px; overflow:scroll; display:none">
        <pre class="codeboxPre"><code class="codebox lang-json">                
        </code></pre>
    </div>
</div>

