<div class="apiHelperCloudApiGetVariable">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <div style="padding: 5px 0px 5px 0px">Device: <select class="apiHelperCloudDeviceSelect apiHelperCommonDevice apiHelperSelect"></select></div>
            <div style="padding: 5px 0px 5px 0px">
                Variable Name: <input type="text" size="20" class="apiHelperVariableName" value="sensor"> &nbsp;
                <button class="apiHelperGetVariable">Get Variable</button>
            </div>
            <div class="apiHelperStatus"></div>
            <div class="apiHelperApiRequest" style="display:none">Request:<br/><pre class="apiHelperMonoSmall"></pre></div>
            <div class="apiHelperApiResponse" style="display:none">Response:<br/><pre class="apiHelperMonoSmall"></pre></div>
        </div>
    </div>
    <div class="apiHelperCloudApiOutputJson" style="display:none">
        <pre class="codeboxPre"><code class="codebox lang-json">                
        </code></pre>
    </div>
</div>

