<div class="apiHelperCloudApiAuthSettings apiHelperCloudApiCreateToken">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <table class="apiHelperTableNoMargin">
                <tr><td class="apiHelperProductSelectorLabel">Client ID</td><td><input type="text" size="30" class="apiHelperAuthSettingsClientId" value=""></td><td class="apiHelperProductSelectorLabel">&nbsp;</td></tr>
                <tr><td class="apiHelperProductSelectorLabel">Client Secret</td><td><input type="text" size="50" class="apiHelperAuthSettingsClientSecret" value=""></td><td class="apiHelperProductSelectorLabel">&nbsp;</td></tr>
                <tr><td class="apiHelperProductSelectorLabel">Grant Type</td><td><input type="text" size="30" class="apiHelperAuthSettingsGrantType" value="client_credentials"></td><td class="apiHelperProductSelectorLabel">&nbsp;</td></tr>
                <tr><td class="apiHelperProductSelectorLabel">Expires In</td><td><input type="text" size="30" class="apiHelperAuthSettingsExpiresIn" value="3600"></td><td class="apiHelperProductSelectorLabel">seconds, 0 = never expires</td></tr>
                <tr><td colspan="3"><button class="apiHelperActionButton">Create token</button></td></tr>
            </table>
            <div class="apiHelperStatus" style="padding-top: 5px;"></div>
            <div class="apiHelperApiRequest" style="padding-top: 8px; display:none">Request:<br/><pre class="apiHelperMonoSmall"></pre></div>
            <div class="apiHelperApiResponse" style="display:none">Response:<br/><pre class="apiHelperMonoSmall"></pre></div>
        </div>
    </div>
    <div class="apiHelperCloudApiOutputJson" style="display:none">
        <pre class="codeboxPre"><code class="codebox lang-json">                
        </code></pre>
    </div>
</div>

