<div class="apiHelper apiHelperLoggedIn apiHelperSandboxOrOrg cloudWifiConfig" style="display:none;">
    <div class="apiHelperBox">
        <table class="apiHelperTableNoMargin">
            <tbody>
                <tr class="sandboxOrgRow">
                    <td class="apiHelperProductSelectorLabel">Sandbox or Organization</td>
                    <td><select class="apiHelperSandboxOrgSelect apiHelperSelect">
                        <option value="0" selected>Sandbox</option>
                    </select></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="apiHelperProductSelectorLabel">Device ID or name</td>
                    <td><input type="text" size="20" class="deviceSearchText"/></td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="apiHelperProductSelectorLabel" colspan="2"><button class="deviceSearchButton" disabled>Search for Device</button></td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>
        <div class="apiHelperDeviceFunctionStatus"></div>
        <div class="searchResultTableDiv" style="display:none; ">
        </div>
        <div class="wifiSetup" style="display:none">          
            <table class="apiHelperTableNoMargin">
                <tbody>
                    <tr>
                        <td colspan="2">
                            <button class="wifiScan">Scan for Wi-Fi networks</button>
                        </td>
                        <ted>&nbsp;</ted>
                    </tr>
                </tbody>                
            </table>
            <div class="wifiNetworkList">
                <table class="apiHelperTableNoMargin">
                    <thead>                        
                    </thead>
                    <tbody>                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="logsDiv" style="display:none">
        </div>
    </div>
</div>
