<div class="apiHelperCloudApiListProductDevices">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <table class="apiHelperTableNoMargin">
                <tr><td class="apiHelperProductSelectorLabel">Product</td><td><select class="apiHelperCloudProductSelect apiHelperSelect"></select></td><td>&nbsp;</td></tr>
                <tr><td class="apiHelperProductSelectorLabel">Device ID</td><td><input type="text" size="30" class="apiHelper_deviceId" value=""></td><td class="apiHelperProductSelectorLabel">(partial match, optional)</td></tr>
                <tr><td class="apiHelperProductSelectorLabel">Device Name</td><td><input type="text" size="30" class="apiHelper_deviceName" value=""></td><td class="apiHelperProductSelectorLabel">(partial match, optional)</td></tr>
                <tr><td class="apiHelperProductSelectorLabel">Groups</td><td><input type="text" size="30" class="apiHelper_groups" value=""></td><td class="apiHelperProductSelectorLabel">(device group names, comma-separated, optional)</td></tr>

                <tr><td class="apiHelperProductSelectorLabel">Sort by Attribute</td><td>
                    <select class="apiHelper_sortAttr apiHelperSelect">
                        <option value="">Not specified</option>
                        <option value="deviceId">Device ID</option>
                        <option value="firmwareVersion">Firmware Version</option>
                        <option value="lastConnection">Last Connection</option>
                    </select>
                </td><td class="apiHelperProductSelectorLabel">(optional)</td></tr>
                <tr><td class="apiHelperProductSelectorLabel">Sort Direction</td><td>
                    <select class="apiHelper_sortDir apiHelperSelect">
                        <option value="">Not specified</option>
                        <option value="asc">Ascending</option>
                        <option value="desc">Descending</option>
                    </select>
                </td><td class="apiHelperProductSelectorLabel">(optional)</td></tr>
                <tr><td class="apiHelperProductSelectorLabel">Quarantine Status</td><td>
                    <select class="apiHelper_quarantined apiHelperSelect">
                        <option value="">Not specified (list all devices)</option>
                        <option value="true">List devices in quarantine</option>
                        <option value="false">List devices not in quarantine</option>
                    </select>
                </td><td class="apiHelperProductSelectorLabel">(optional)</td></tr>
                <tr><td class="apiHelperProductSelectorLabel">Page</td><td><input type="text" size="10" class="apiHelper_page" value=""></td><td class="apiHelperProductSelectorLabel">(starts at 1, optional)</td></tr>
                <tr><td class="apiHelperProductSelectorLabel">Per Page</td><td><input type="text" size="10" class="apiHelper_perPage" value=""></td><td class="apiHelperProductSelectorLabel">(25 if not set, optional)</td></tr>
                <tr><td colspan="3"><button class="apiHelperActionButton">List Product Devices</button></td></tr>
            </table>

            <div class="apiHelperStatus" style="padding-top: 5px;"></div>
            <div class="apiHelperApiRequest" style="padding-top: 8px; display:none">Request:<br/><pre class="apiHelperMonoSmall"></pre></div>
            <div class="apiHelperApiResponse" style="display:none">Response:<br/><pre class="apiHelperMonoSmall"></pre></div>
        </div>
    </div>
    <div class="apiHelperCloudApiOutputJson" style="height:{{height}}px; overflow:scroll; display:none">
        <pre class="codeboxPre"><code class="codebox lang-json">                
        </code></pre>
    </div>
</div>

