<div class="apiHelperCloudApiUserCreate">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <table class="apiHelperTableNoMargin">
                <tr><td>&nbsp;</td>
                    <td class="apiHelperProductSelectorLabel apiHelperProductOrgRadio">
                    <label><input type="radio" class="prodOrg" value="prod" checked />Product</label> &nbsp;&nbsp;
                    <label><input type="radio" class="prodOrg" value="org" />Organization</label> &nbsp;&nbsp;
                    </td><td>&nbsp;</td></tr>
                <tr class="sandboxOrgRow" style="display:none"><td>&nbsp;</td>
                    <td class="apiHelperProductSelectorLabel apiHelperSandboxOrgRadio">
                    <label><input type="radio" class="sandboxOrg" value="sandbox" checked />Sandbox Product</label> &nbsp;&nbsp;
                    <label><input type="radio" class="sandboxOrg" value="org" />Organization Product</label> &nbsp;&nbsp;
                    </td><td>&nbsp;</td></tr>
                <tr class="orgSelectorRow" style="display:none"><td class="apiHelperProductSelectorLabel">Organization</td><td><select class="apiHelperOrgSelect apiHelperSelect"></select></td><td>&nbsp;</td></tr>
                <tr class="productSelectorRow"><td class="apiHelperProductSelectorLabel">Product</td><td colspan="2"><select class="apiHelperProductSelect apiHelperSelect"></select></td></tr>
                <tr><td class="apiHelperProductSelectorLabel">Friendly Name</td><td><input type="text" size="20" class="apiHelperFriendlyName" value=""></td><td>&nbsp;</td></tr>
                <tr><td class="apiHelperProductSelectorLabel">Scopes</td><td class="scopesCell0"></td><td class="scopesCell1"></td></tr>
                <tr><td class="apiHelperProductSelectorLabel" colspan="2"><button class="apiHelperActionButton" disabled>Create API User</button></td><td>&nbsp;</td></tr>
            </table>
            <div class="apiHelperStatus" style="padding-top: 5px;"></div>
            <div class="apiHelperApiRequest" style="padding-top: 8px; display:none">Request:<br/><pre class="apiHelperMonoSmall"></pre></div>
            <div class="apiHelperApiResponse" style="display:none">Response:<br/><pre class="apiHelperMonoSmall"></pre></div>
        </div>
    </div>
    <div class="apiHelperCloudApiOutputJson" style="display:none">
        <pre class="codeboxPre"><code class="codebox lang-json">                
        </code></pre>
    </div>
</div>

