<div class="apiHelperCloudApiCreateClaimCode">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <table class="apiHelperTableNoMargin">
                <tr><td class="apiHelperProductSelectorLabel">Customer Access Token</td><td><input type="text" size="50" class="apiHelperAuthSettingsCustomerAccessToken" value=""></td><td>&nbsp;</td></tr>
                <tr><td class="apiHelperProductSelectorLabel">Product ID</td><td><input type="text" size="10" class="apiHelperAuthSettingsProduct" value=""></td><td>&nbsp;</td></tr>
                <tr><td class="apiHelperProductSelectorLabel">IMEI</td><td><input type="text" size="30" class="apiHelperClaimCodeIMEI" value=""></td><td class="apiHelperProductSelectorLabel">Leave blank</td></tr>
                <tr><td class="apiHelperProductSelectorLabel">ICCID</td><td><input type="text" size="30" class="apiHelperClaimCodeICCID" value=""></td><td class="apiHelperProductSelectorLabel">Leave blank</td></tr>
                <tr><td colspan="3"><button class="apiHelperActionButton">Create Claim Code</button></td></tr>
            </table>            
            <div class="apiHelperStatus" style="padding-top: 5px;"></div>
            <div class="apiHelperApiRequest" style="padding-top: 8px; display:none">Request:<br/><pre class="apiHelperMonoSmall"></pre></div>
            <div class="apiHelperApiResponse" style="display:none">Response:<br/><pre class="apiHelperMonoSmall"></pre></div>
        </div>
    </div>
    <div class="apiHelperCloudApiOutputJson" style="display:none">
        <pre class="codeboxPre"><code class="codebox lang-json">                
        </code></pre>
    </div>
</div>

