<div class="apiHelperCloudApiFunction">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <div style="padding: 5px 0px 5px 0px">Device: <select class="apiHelperCloudDeviceSelect apiHelperCommonDevice apiHelperSelect"></select></div>
            <div style="padding: 5px 0px 5px 0px">Function Name: <input type="text" size="20" class="apiHelperFunctionName" value="setColor"></div>
            <div style="padding: 5px 0px 5px 0px">Parameter: <input type="text" size="60" class="apiHelperFunctionParameter" value="255,0,0"></div>
            <div style="padding: 5px 0px 5px 0px"><button class="apiHelperCallFunction">Call Function</button></div>
            </div>
            <div class="apiHelperStatus"></div>
            <div class="apiHelperApiRequest apiHelperMonoSmall"></div>
            <div class="apiHelperApiResponse" style="display:none">
                <pre class="apiHelperMonoSmall"></pre>
            </div>
        </div>
    </div>
    <div class="apiHelperCloudApiOutputJson" style="display:none">
        <pre class="codeboxPre"><code class="codebox lang-json">                
        </code></pre>
    </div>
</div>

