<div class="usbSerialTools apiHelperCloudApiPhotoClaimUSB">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <table class="apiHelperTableNoMargin">
                <tr><td class="apiHelperProductSelectorLabel">Claim code</td><td><input type="text" size="60" class="apiHelperAuthSettingsClaimCode" value=""></td><td>&nbsp;</td></tr>
                <tr><td colspan="3">
                    <button class="apiHelperActionButton">Set claim code by USB</button> &nbsp;&nbsp;
                    <button class="apiHelperResetButton">Reset device by USB</button></td></tr>
            </table>            
            <div class="apiHelperStatus usbSerialToolsStatus" style="padding-top: 5px;"></div>
            <div class="apiHelperApiRequest" style="padding-top: 8px; display:none">Request:<br/><pre class="apiHelperMonoSmall"></pre></div>
            <div class="apiHelperApiResponse" style="display:none">Response:<br/><pre class="apiHelperMonoSmall"></pre></div>
        </div>
    </div>
</div>

