<div class="codeGeneratorLibrary">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <table class="apiHelperTableNoMargin">
                <tr><td class="apiHelperProductSelectorLabel">Library Name</td><td><input type="text" size="20" class="libraryName"></td><td>Alphanumeric, no spaces or special characters</td></tr>
                <tr><td class="apiHelperProductSelectorLabel">License</td><td>
                    <select class="license">
                    </select>
                    </td><td>&nbsp;</td></tr>
                <tr><td class="apiHelperProductSelectorLabel">Github username</td><td><input type="text" size="60" class="username" value=""></td><td>&nbsp;</td></tr>
                <tr><td class="apiHelperProductSelectorLabel">Github repository URL</td><td><input type="text" size="60" class="github" value=""></td><td>This can be generated from your username</td></tr>
                <tr><td class="apiHelperProductSelectorLabel">Short description</td><td><input type="text" size="60" class="description" value=""></td><td>Goes into library.properties file and README</td></tr>
                <tr><td class="apiHelperProductSelectorLabel">Copyright</td><td><input type="text" size="60" class="copyright" value=""></td><td>This can be generated from your username</td></tr>
                <tr><td class="apiHelperProductSelectorLabel">Examples</td><td><input type="text" size="60" class="examples" value=""></td><td>Comma separated list</td></tr>

                <tr><td class="apiHelperProductSelectorLabel" colspan="2"><label><input type="checkbox" class="generateSingleton" />Generate singleton class</label></td><td>&nbsp;</td></tr>
                <tr><td class="apiHelperProductSelectorLabel" colspan="3"><label><input type="checkbox" class="generateMutex" />Generate mutex and lock</label>
                    <label><input type="checkbox" class="generateMutexRecursive" checked/>Use recursive mutex</label>
                    <label><input type="checkbox" class="generateMutexConst" checked/>Include const methods</label>                    
                </td></tr>
                <tr><td class="apiHelperProductSelectorLabel" colspan="2"><label><input type="checkbox" class="generateThread" />Generate worker thread</label></td><td>&nbsp;</td></tr>
                <tr><td class="apiHelperProductSelectorLabel" colspan="2"><label><input type="checkbox" class="generateSetup" />Generate class setup method</label></td><td>&nbsp;</td></tr>
                <tr><td class="apiHelperProductSelectorLabel" colspan="2"><label><input type="checkbox" class="generateLoop" />Generate class loop method</label></td><td>&nbsp;</td></tr>

                <tr><td class="apiHelperProductSelectorLabel" colspan="2">
                    <button class="downloadButton apiHelperButton">Download Code</button>
                    <button class="restoreDefaults apiHelperButton">Reset to default values</button>
                    </td><td>&nbsp;</td></tr>
            </table>
            <div class="apiHelperStatus" style="padding-top: 5px;"></div>
        </div>
    </div>
</div>

