<div class="codeGeneratorSingleton">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <table class="apiHelperTableNoMargin">
                <tr><td class="apiHelperProductSelectorLabel">Class Name</td><td><input type="text" size="20" class="className" value="MyClass"></td><td>&nbsp;</td></tr>
                <tr><td class="apiHelperProductSelectorLabel" colspan="3"><label><input type="checkbox" class="generateMutex" />Generate mutex and lock</label>
                    <label><input type="checkbox" class="generateMutexRecursive" checked/>Use recursive mutex</label>
                    <label><input type="checkbox" class="generateMutexConst" checked/>Include const methods</label>                    
                </td></tr>
                <tr><td class="apiHelperProductSelectorLabel" colspan="2"><label><input type="checkbox" class="generateThread" />Has worker thread</label></td><td>&nbsp;</td></tr>
                <tr><td class="apiHelperProductSelectorLabel" colspan="2">
                    <button class="apiHelperActionButton">Generate Code</button> &nbsp;
                    <button class="downloadButton">Download Code</button>
                    </td><td>&nbsp;</td></tr>
            </table>
            <div class="apiHelperStatus" style="padding-top: 5px;"></div>
        </div>
    </div>
    <div class="codeGeneratorSingletonOutput">
        <div class="headerFile">
            <pre class="codeboxPre"><code class="codebox lang-cpp">                
            </code></pre>
        </div>
        <div class="sourceFile">
            <pre class="codeboxPre"><code class="codebox lang-cpp">                
            </code></pre>
        </div>
    </div>
</div>

