<div class="codeGeneratorLibrary">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <table class="apiHelperTableNoMargin">
                <tr><td class="apiHelperProductSelectorLabel">Library Name</td><td><input type="text" size="20" class="libraryName"></td><td>Alphanumeric, no spaces or special characters</td></tr>
                <tr><td class="apiHelperProductSelectorLabel">License</td><td>
                    <select class="license">
                    </select>
                    </td><td>&nbsp;</td></tr>
                <tr><td class="apiHelperProductSelectorLabel">Github Repository URL</td><td><input type="text" size="60" class="github" value=""></td><td>&nbsp;</td></tr>
                <tr><td class="apiHelperProductSelectorLabel">Short description</td><td><input type="text" size="60" class="description" value=""></td><td>&nbsp;</td></tr>
                <tr><td class="apiHelperProductSelectorLabel">Copyright</td><td><input type="text" size="60" class="copyright" value=""></td><td>&nbsp;</td></tr>
                <tr><td class="apiHelperProductSelectorLabel">Examples</td><td><input type="text" size="60" class="examples" value=""></td><td>Comma separated list</td></tr>

                <tr><td class="apiHelperProductSelectorLabel" colspan="2"><label><input type="checkbox" class="generateSingleton" />Generate singleton class</label></td><td>&nbsp;</td></tr>
                <tr><td class="apiHelperProductSelectorLabel" colspan="2"><label><input type="checkbox" class="generateMutex" />Generate mutex and lock</label></td><td>&nbsp;</td></tr>
                <tr><td class="apiHelperProductSelectorLabel" colspan="2"><label><input type="checkbox" class="generateThread" />Generate worker thread</label></td><td>&nbsp;</td></tr>
                <tr><td class="apiHelperProductSelectorLabel" colspan="2"><label><input type="checkbox" class="generateSetupLoop" />Generate class setup and loop methods</label></td><td>&nbsp;</td></tr>

                <tr><td class="apiHelperProductSelectorLabel" colspan="2">
                    <button class="downloadButton">Download Code</button>
                    <button class="restoreDefaults">Reset to default values</button>
                    </td><td>&nbsp;</td></tr>
            </table>
            <div class="apiHelperStatus" style="padding-top: 5px;"></div>
        </div>
    </div>
</div>

