<div class="apiHelper apiHelperLoggedIn apiHelperColorFunctionTest" style="display:none;">
    <div class="apiHelperBox">
        <p>Device: <select class="apiHelperColorFunctionTestSelect apiHelperCommonDevice apiHelperSelect"></select></p>
        <p><input type="color" class="apiHelperColorFunctionTestColor" value="#ff0000"/> &nbsp;
            <button class="apiHelperColorFunctionTestSend apiHelperButton">Send Color to Device</button></p>
        <div class="apiHelperColorFunctionTestStatus"></div>
    </div>
</div>
