<div class="apiHelper apiHelperCommonProductOptions" data-options="{{options}}"> 
    <div class="apiHelperBox">
        <!-- api-helper, api-helper-extras, api-helper-usb -->
        <table class="apiHelperTableNoMargin optionsTable" style="display:none;">
            <tbody>
                <tr>
                    <td>Device ID</td>
                    <td class="deviceId"></td>
                </tr>
                <tr>
                    <td>Product ID</td>
                    <td class="productId"></td>
                </tr>
                <tr>
                    <td colspan="2">
                    </td>
                </tr>
            </tbody>
        </table>    
        <div class="statusDiv">            
        </div>        
    </div>
</div>
