<div class="apiHelper apiHelperLoggedIn apiHelperConfigSchema" style="display:none;">
    <div class="apiHelperBox">
        <div style="padding-top: 5px">
            <table class="apiHelperProductSelectorTable">
                <tr class="apiHelperTrackerOrgRow" style="display:none">
                    <td class="apiHelperProductSelectorLabel">Organization</td>
                    <td><select class="apiHelperTrackerOrgSelect apiHelperSelect"></select></td>
                </tr>
                <tr class="apiHelperTrackerProductRow">
                    <td class="apiHelperProductSelectorLabel">Product</td>
                    <td><select class="apiHelperTrackerProductSelect apiHelperSelect"></select></td>
                </tr>
                <tr class="apiHelperTrackerDeviceRow">
                    <td class="apiHelperProductSelectorLabel">Device</td>
                    <td><select class="apiHelperTrackerDeviceSelect apiHelperSelect" data-has-product-default="true"></select></td>
                </tr>
            </table>
        </div>
        <div style="padding-top: 5px">
            <button class="apiHelperConfigSchemaDownload apiHelperButton">Download Schema</button>&nbsp;&nbsp;
            <input type="file" class="apiHelperConfigSchemaFileInput" accept="*.json" style="display:none">
            <button class="apiHelperConfigSchemaUpload apiHelperButton">Upload Schema</button>&nbsp;&nbsp;
            <button class="apiHelperConfigSchemaDefault apiHelperButton">Restore Default Schema</button>
        </div>
        <div class="apiHelperConfigSchemaStatus"></div>
    </div>
</div>
