<div class="apiHelper apiHelperLoggedIn apiHelperConfigSchema" style="display:none;">
    <div class="apiHelperBox">
        <p>Product: <select class="apiHelperTrackerProductSelect apiHelperSelect"></select> &nbsp;
        Device: <select class="apiHelperTrackerDeviceSelect apiHelperSelect" data-has-product-default="true"></select></p>

        <p><button class="apiHelperConfigSchemaDownload apiHelperButton">Download Schema</button>&nbsp;&nbsp;
            <input type="file" class="apiHelperConfigSchemaFileInput" accept="*.json" style="display:none">
            <button class="apiHelperConfigSchemaUpload apiHelperButton">Upload Schema</button>&nbsp;&nbsp;
            <button class="apiHelperConfigSchemaDefault apiHelperButton">Restore Default Schema</button>&nbsp;&nbsp;
        </p>

        <div class="apiHelperConfigSchemaStatus"></div>
    </div>
</div>
