<div class="apiHelper apiHelperLoggedIn apiHelperConfigSchema" style="display:none;">
    <div style="padding: 10px">
        <p>Product: <select class="apiHelperConfigSchemaProductSelect apiHelperSelect"></select> &nbsp;
        Device: <select class="apiHelperConfigSchemaDeviceSelect apiHelperSelect"></select></p>

        <p><button class="apiHelperConfigSchemaDownload apiHelperButton">Download Schema</button>&nbsp;&nbsp;
            <input type="file" class="apiHelperConfigSchemaFileInput" accept="*.json" style="display:none">
            <button class="apiHelperConfigSchemaUpload apiHelperButton">Upload Schema</button>&nbsp;&nbsp;
            <button class="apiHelperConfigSchemaDefault apiHelperButton">Restore Default Schema</button>&nbsp;&nbsp;
        </p>
    </div>
</div>
