<div class="apiHelper apiHelperLoggedIn apiHelperDataReportDates" style="display:none;">
    <div class="apiHelperBox">
        <table class="apiHelperTableNoMargin">
            <tr>
                <td class="apiHelperProductSelectorLabel">Start Date</td>
                <td><input type="text" class="startDate"/></td>
                <td class="apiHelperProductSelectorLabel">(required; must be YYYY-MM-DD format)</td>
            </tr>
            <tr>
                <td class="apiHelperProductSelectorLabel">End Date</td>
                <td><input type="text" class="endDate"/></td>
                <td class="apiHelperProductSelectorLabel">(required; must be YYYY-MM-DD format)</td>
            </tr>
        </table>
    </div>
</div>

