<div class="apiHelper apiHelperLoggedIn apiHelperDataReportDownloadCurl apiHelperCurl" style="display:none;">
    <div class="apiHelperBox apiHelperCurl">
        <p>Download URL: <input type="text" class="downloadUrl" size="60"/></p>
        <p>Sample curl command:</p>
        <pre class="apiHelperMonoSmall"></pre>
        <p><button class="executeCommand">Execute Command</button> &nbsp;<button class="copyCommand">Copy Command</button></p>
        <div class="apiHelperApiResponse" style="display:none">Response:<br/><pre class="apiHelperMonoSmall" style="width: 680px; overflow-wrap: anywhere;"></pre></div>
    </div>
</div>

