<div class="apiHelper apiHelperLoggedIn apiHelperDataReportNode" style="display:none;">
    <div class="apiHelperBox apiHelperCurl">
        <p><button class="openBrowserCommand">Open In Browser</button> &nbsp;<button class="downloadCommand">Download Project Zip File</button></p>
        <div class="statusDiv" style="padding-top: 8px;"></div>
    </div>
</div>

