<div id="detailsOverlayContainer" style="display:none; ">
    <div id="detailsOverlay">
    </div>
</div>
<div id="detailsToolsContainer" style="display:none; ">
    <div class="detailsToolsBox">
        <div class="imageToolsLink" title="Download" style="font-size: 14px;"><a class="detailsOverlayDownloadLink">Download</a></div>
        <div class="imageToolsSpacer"></div>
        <div class="imageToolsButton detailsOverlayCloseIcon" title="Close">&#x2715;</div>
        <div class="imageToolsSpacer"></div>
    </div>
</div>