<div class="apiHelper apiHelperDeviceRemove apiHelperRequiresLocalLogin">
    <div class="apiHelperBox">
        <div>           
        </div>
        <div class="apiHelperDeviceLookupStatus"></div>       
    </div>
</div>

