<div class="deviceRestoreFiles" data-mode="{{mode}}">
    <div class="apiHelperBox">
        <table class="apiHelperTableNoMargin">
            <thead></thead>
            <tbody>
                <tr>
                    <td class="apiHelperProductSelectorLabel">Device type</td>
                    <td><select class="deviceRestorePlatformSelect apiHelperSelect">
                        <option value="-">Select device platform</option>
                        </select></td>
                    <td>&nbsp;</td>                    
                </tr>
                <tr class="deviceOsVersionRow" style="display:none;">
                    <td class="apiHelperProductSelectorLabel">Device OS version</td>
                    <td><select class="deviceRestoreVersionSelect apiHelperSelect">
                        </select></td>
                    <td>&nbsp;</td>                    
                </tr>
                <tr class="downloadRow" style="display:none;">
                    <td class="apiHelperProductSelectorLabel" colspan="3">
                        <button class="downloadButton apiHelperButton">Download</button>
                    </td>                
                </tr>
            </tbody>
        </table>
    </div>
</div>
