<div class="apiHelperDeviceList apiHelperLoggedIn">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <table class="apiHelperTableNoMargin">
                <tr><td class="apiHelperProductSelectorLabel" colspan="2"><button class="apiHelperActionButton" >List Devices</button></td><td>&nbsp;</td></tr>
            </table>
            <div class="apiHelperStatus" style="padding-top: 5px;"></div>
        </div>
    </div>
    <div class="deviceListOutput">
    </div>
</div>

