<div class="apiHelper apiHelperDeviceRemove apiHelperProductOrSandboxSelector apiHelperTable apiHelperLoggedIn">
    <div class="apiHelperBox">
        <div> 
            <p>Device IDs to remove:<br/>
            <p><textarea class="deviceTextArea" style="width: 450px; height: 60px; font-size: 9px;" spellcheck="false"></textarea></p>            
            <div class="apiHelperTableFlexContainer" style="margin: 2px 2px 2px 6px; align-items: center;">
                <div>Add devices from a file: </div>
                <div style="width: 500px;" class="fileDropZone">
                    <button class="selectFileButton">Select File</button> or drag-and-drop file here
                    <input type="file" class="importFileInput" style="display:none" />
                </div>
            </div>
        </div>
        <div>
            <table class="apiHelperTableNoMargin">
                <tbody>
                    <tr>
                        <td colspan="2"><label><input class="removeFromProduct" type="checkbox" checked />Remove from product</label></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2"><label><input class="unclaimDevice" type="checkbox" checked />Unclaim device</label></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2"><label><input class="releaseSim" type="checkbox" checked />Release SIM ownership (for cellular devices)</label></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="parallelRow" style="display:none; ">
                        <td colspan="2"><label><input class="parallelInput" type="text" value="1" size="5" /> parallel operations</label></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="apiHelperButton executeButton" disabled>Execute Operations</button>
                        </td>                
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="apiHelperStatus"></div>
        <div class="sandboxUnclaimWarning warningDiv" style="display:none">
            <p>Warning!<br/>
            If you unclaim sandbox devices you can only claim them again if they are online and breathing cyan.
            </p>
        </div>
        <div class="productUnclaimWarning warningDiv" style="display:none">
            <p>Warning!<br/>
            If you remove devices from a product but do not unclaim, the owner account is limited to a maximum 
            of 100 devices. Operations will fail if this limit is exceeded.
            </p>
        </div>
        {{> table-display }}
    </div>
</div>

