<div class="apiHelperDeviceGroup">
    <!-- apiHelper, apiHelperExtras -->
    <table class="apiHelperTableNoMargin">
        <tbody>
            <tr>
                <td>Assign to groups</td>
                <td colspan="3"><select class="groupSelect" style="height: 100px;" multiple></select></td>
                <td><a class="showNewGroupButton">Create new group</a></td>
            </tr>
        </tbody>
    </table>
    <div class="apiHelperGroupedBoxOuter createNewGroupDiv" style="display:none;">
        <div class="apiHelperGroupedBoxInner">
            <div class="apiHelperGroupedTitle">Create a new group</div>
            <table class="apiHelperTableNoMargin">
                <tbody>
                    <tr>
                        <td>Group name</td>
                        <td><input type="text" size="15" class="newGroupText" /></td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td><input type="text" size="50" class="newGroupDescriptionText" /></td>
                    </tr>
                    <tr>
                        <td><label><input type="checkbox" class="newGroupSetFirmwareCheckbox">Set firmware version</label></td>
                        <td><select class="apiHelperSelect newGroupFirmwareSelect" style="display:none;"></select></td>
                    </tr>
                </tbody>
            </table>
            <div><button class="newGroupButton" disabled>Create group</button></div>
        </div>
    </div>
    <div class="statusMessage"></div>
</div>
