<div class="apiHelper apiHelperLoggedIn apiHelperDeviceInspect">
    <div class="apiHelperBox">
        <p><button class="apiHelperActionButton apiHelperButton">Inspect Device</button>
        </p>
        <div class="usbSerialToolsStatus">
        </div>
        <div class="usbSerialToolsOutput">
        </div>
        <div class="apiHelperEventViewerOutputJson apiHelperJsonLinter" style="height: 300px; overflow:scroll; display:none">
            <p>Raw data:</p>
            <div class="apiHelperJsonLinterEditor apiHelperRenderedJson">
                <textarea></textarea>
            </div>
        </div>
    </div>
</div>
