<div class="apiHelperDeviceSetupUsb">
    <div class="apiHelper">
        <div class="apiHelperNotLoggedIn apiHelperBox">
            <div class="apiHelperCouldSSO apiHelperSmallText" style="display:none">
                <p>Log in to your Particle account to set up a device</p>
                <p><button class="apiHelperLoginButton">Login</button></p>
                <p>Or <a href="https://login.particle.io/signup">create a new account</a> if you don't already have one.</p>
            </div>
            <div class="apiHelperFakeAuth apiHelperSmallText" style="display:none">
                <p>Cannot use Particle Single Sign-On from outside the Particle domain.</p>
                <p><button class="apiHelperFakeAuthButton">Enter authentication manually</button></p>
            </div>
        </div>
    </div>
    <div class="apiHelperLoggedIn">
        <div class="setupProgress">
            <table>
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="setupStep">
            <div class="setupStepSelectDevice" style="display:none">
                <p>Connect your Particle device to your computer with a USB cable, click the **Select Device** button, 
                    select your device, and click **Connect**.</p>
                <p><button class="setupSelectDeviceButton apiHelperButton">Select Device</button></p>            
                <p>[some sort of animation of connecting your device by USB then selecting by Web USB here...]</p>
            </div>
            <div class="setupStepCheckDevice" style="display:none">
                <div class="setupStepCheckDeviceStart">
                    <p>Checking the device you have connected. This normally takes a second, but it could take up to 30 seconds.</p>
                </div>
                <div class="setupStepCheckDeviceTracker" style="display:none">
                    <p>This setup tool cannot set up Tracker devices, including the Tracker One and Tracker SoM. You should
                        use <a href="https://setup.particle.io">setup.particle.io</a> instead.
                    </p>
                </div>
                <div class="setupStepCheckDeviceUnknown" style="display:none">
                    <p>This setup tool cannot set up this type of device. You should use the Particle mobile apps for iOS
                        and Android, or the <a href="https://docs.particle.io/cli/">Particle CLI</a>.
                    </p>
                </div>
                <div class="setupStepCheckDeviceSIM">
                    <p>Just a little longer while we check the SIM card in your device...</p>
                </div>
            </div>
            <div class="setupStepActivateSim" style="display:none">
                <div class="setupStepActivateSimWaiting">
                    <p>Waiting for SIM activation to complete</p>
                    <p>This can take anywhere from several seconds to several hours. Rarely, it can take a day or more.</p>
                    <p>You can wait here for activation to complete, or close this web page and come back later to 
                        see if activation has completed so you can proceed with setup.</p>
                    <p class="setupStepActivateSimTimer"></p>
                </div>
            </div>
            <div class="setupStepFlashDevice" style="display:none">                
                <div class="setupStepFlashDeviceDownload" style="display:none">
                    <p>Downloading the binaries for your device. This should only take a few seconds...</p>
                </div>
                <div class="setupStepFlashDeviceEnterDFU" style="display:none">
                    <p>Putting device in DFU (firmware update) mode (blinking yellow). This should only take a few seconds, but can take up to 30 seconds sometimes.</p>
                </div>
                <div class="setupStepFlashDeviceAuthorizeDFU" style="display:none">
                    <p>Select the device again. This is only necessary the first time you program this device from this web browser.</p>
                </div>
                <div class="setupStepFlashDeviceFlashing" style="display:none">
                    <p>Updating the firmware on the device...</p>
                    <table class="flashDeviceSteps">
                        <thead>                        
                        </thead>
                        <tbody>                    
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="setupStepReconnecting" style="display:none">
                <div class="setupStepReconnectingWaiting">
                    <p>Waiting for the device to finish updating itself and restart...</p>
                    <p>This will take several seconds, and the status LED may blink yellow, white, 
                        magenta (red and blue at the same time), blue, or green.</p>
                </div>
            </div>
            <div class="setupStepNoWiFi" style="display:none">
                <p>No Wi-Fi networks were found.</p>
                <p><button class="scanAgain">Scan for Wi-Fi Networks Again</button></p>
            </div>
            <div class="setupStepConfigureWiFi" style="display:none">
                <table class="networkTable apiHelperTableNoMargin">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Network Name</th>
                            <th>Secure</th>
                            <th>Signal</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <p class="passwordRow">Password: <input type="password" class="passwordInput" /></p>
                <p><button class="setCredentials">Select Wi-Fi Network</button></p>
                <p>&nbsp;</p>
                <p><button class="scanAgain">Scan for Wi-Fi Networks Again</button></p>
            </div>
            <div class="setupStepWaitForOnline" style="display:none">
                <table class="waitOnlineSteps apiHelperTableNoMargin">
                    <thead>                        
                    </thead>
                    <tbody> 
                        <tr class="waitOnlineStepNetwork">
                            <td><img src="/assets/images/device-setup/spinner-48.gif" style="width=24px; height=24px; margin:2px; visibility:hidden"></td>
                            <td>Connecting to network</td>
                            <td></td>
                        </tr>            
                        <tr class="waitOnlineStepCloud">
                            <td><img src="/assets/images/device-setup/spinner-48.gif" style="width=24px; height=24px; margin:2px; visibility:hidden"></td>
                            <td>Connecting to the Particle cloud</td>
                            <td></td>
                        </tr>            
                        <tr class="waitOnlineStepClaim">
                            <td><img src="/assets/images/device-setup/spinner-48.gif" style="width=24px; height=24px; margin:2px; visibility:hidden"></td>
                            <td>Claiming device</td>
                            <td></td>
                        </tr>            
                    </tbody>
                </table>
            </div>
            <div class="setupStepNameDevice" style="display:none">
                <p>You can name your device to make the devices in your account easier to identify.</p>
                <p>A random device name has been generated, or you can enter your own here:</p>
                <p><input type="text" class="nameInput" /> &nbsp;<button class="setName">Set Name</button></p>

                <p>Or you can <a class="skipNaming">skip naming</a>. You can always rename your device later.</p>
            </div>
            <div class="setupStepDone" style="display:none">
                <p>[next steps go here - tutorials, development environment, blink an led</p>
            </div>
        </div>
        <div class="deviceLogs" style="display:none">
            <p>Device debugging logs:</p>
            <textarea rows="10" cols="100" style="font-size: 9px">
            </textarea>
        </div>
        <div class="setupStatus">
        </div>
        <div class="setupBrowserError" style="display:none">
            <p>This setup tool can only be used on:</p>
            <ul>
                <li>Chrome (Windows, Mac, Linux, Chromebook, or Android, version 61 and later)</li>
                <li>Edge (version 79 or later</li>
                <li>Opera (Windows, Mac, Linux, or Android, version 48 or later</li>
                <li>Samsung Internet (version 8.0 or later)</li>
            </ul>
            <p>If you are using an iOS device, Safari, or other unsupported browser (such as Firefox), 
            you can use the Particle mobile app for iOS or Android, or the Particle CLI for Windows, 
            Mac, and Linux, instead.</p>
        </div>
    </div>
</div>

