<div class="apiHelperDeviceSetupUsb" data-mode="{{mode}}">
    <div class="apiHelper apiHelperBox deviceSetupLoggedIn" style="display:none">
        <div class="setupProgress" style="display:none;">
            <table>
                <thead></thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="setupStep">
            <div class="setupStepSelectDevice" style="display:none">
                <div>
                    <div class="setupMode">
                        <p>You should use <a href="https://setup.particle.io/">https://setup.particle.io/</a> instead of this tool in most situations.</p>
                    </div>
                    <p>Connect your Particle device to your computer with a USB cable, click the **Select Device** button, 
                        select your device, and click **Connect**.</p>
                    <p><button class="setupSelectDeviceButton apiHelperButton">Select Device</button></p>
                </div>
            </div> 
            <div class="setupStepCheckAccount" style="display:none">
                <div class="setupStepCheckAccountStart">
                    <p>Checking the account you have logged in with...</p>
                </div>
                <div class="setupStepCheckAccountLimits" style="display:none">
                    <p>Your developer sandbox account has reached free plan account limits and device operation will be affected.</p>
                    <p><button class="continueToSelectDevice">Continue anyway</button></p>
                </div>
                <div class="setupStepCheckAccountInvalidToken">
                    <p>Your account access token appears to be invalid; it has probably expired or was invalidated when logging out previously.</p>
                    <p><button class="loginAgain">Log In Again</button></p>
                </div>
            </div>            
            <div class="setupStepCheckDevice" style="display:none">
                <div class="setupStepCheckDeviceStart">
                    <p>Checking the device you have connected. This normally takes a second, but it could take up to 30 seconds.</p>
                </div>
                <div class="setupStepCheckDeviceTrackerDoctor" style="display:none">
                    <p>Web device doctor cannot be used on Tracker devices, including the Tracker One, Tracker SoM, and Monitor One.
                    </p>
                </div>
                <div class="setupStepCheckDeviceTrackerSetup" style="display:none">
                    <p>This tool cannot set up Tracker devices, including the Tracker One, Tracker SoM, and Monitor One. You should
                        use <a href="https://setup.particle.io">setup.particle.io</a> instead.
                    </p>
                </div>
                <div class="setupStepCheckDeviceUnknown" style="display:none">
                    <p>This tool cannot set up this type of device. You should use the <a href="https://docs.particle.io/cli/">Particle CLI</a>
                        or Particle mobile apps for iOS and Android.
                    </p>
                </div>
                <div class="setupStepCheckDeviceSIM" style="display:none">
                    <p>Just a little longer while we check the SIM card in your device...</p>
                </div>
            </div>
            <div class="setupStepConfirm" style="display:none">
                <div class="doctorMode">
                    <p>This tool will flash Device OS and doctor firmware to your device, replacing the 
                        existing Device OS and user firmware.</p>
                </div>
                <div class="cloudMode">
                    <p>This tool will flash Device OS and cloud debug firmware to your device, replacing the 
                        existing Device OS and user firmware.</p>
                </div>
                <div class="setupMode">
                    <p>This tool will flash Device OS and setup firmware to your device, replacing the 
                        existing Device OS and user firmware.</p>
                </div>
                <div class="productMode">
                    <p>This tool will flash Device OS and product firmware to your device, replacing the 
                        existing Device OS and user firmware.</p>
                    <table class="apiHelperTableNoMargin">
                        <tbody class="productModeTableBody">                            
                        </tbody>
                    </table>
                </div>
                <div class="restoreMode">
                    <p>This tool will flash Device OS and the specified user firmware to your device, replacing the 
                        existing Device OS and user firmware.</p>
                </div>
                <div class="setupMode doctorMode cloudMode">
                    <p>Upon successful completion you can to program your firmware again 
                        over-the-air (OTA) or by USB. Make sure you have a copy of it saved elsewhere!</p>
                </div>
                <div class="trackerProductSettings" style="display:none">
                    <p>All Tracker devices must be part of a product.<br/>
                        <label><input type="radio" name="trackerProductType" value="new" checked>Create a new sandbox product</label><span class="trackerProductNamed"> named </span><input type="text" class="trackerProductName" /><br/>
                        <label><input type="radio" name="trackerProductType" value="existing">Add to an existing product</label></p>
                    <table class="apiHelperTableNoMargin trackerSetupAddToProductSelector" style="display:none">
                        <tbody class="apiHelperOrgProductSelector apiHelperProductDestination">
                            <tr class="sandboxOrgRow" style="display:none">
                                <td class="apiHelperProductSelectorLabel apiHelperSandboxOrgRadio">
                                <label><input type="radio" class="sandboxOrg" value="sandbox" checked />Sandbox Product</label> &nbsp;&nbsp;
                                <label><input type="radio" class="sandboxOrg" value="org" />Organization Product</label> &nbsp;&nbsp;
                                </td><td>&nbsp;</td></tr>
                            <tr class="orgSelectorRow" style="display:none"><td class="apiHelperProductSelectorLabel">Organization &nbsp;<select class="apiHelperOrgSelect apiHelperSelect"></select></td><td>&nbsp;</td></tr>
                            <tr class="productSelectorRow"><td class="apiHelperProductSelectorLabel">Product &nbsp;<select class="apiHelperProductSelect apiHelperSelect"></select></td></tr>
                        </tbody>
                    </table>
                    <p><label><input type="checkbox" class="trackerSetupDevelopmentDevice" checked/>Mark as development device</label></p>
                    <p><label><input type="checkbox" class="trackerSetupNoClaim"/>Do not claim device</label></p>
                </div>
                <div class="setupMode">
                    <p>Proceed with flashing the device and device setup?</p>
                </div>
                <div class="doctorMode cloudMode productMode">
                    <p>Proceed with flashing the device?</p>
                </div>
                <div class="setupMode doctorMode cloudMode productMode">
                    <p><button class="setupSetupDeviceButton apiHelperButton">Flash Device</button></p>
                </div>
                <div class="doctorMode cloudMode">
                    <details style="padding-top: 100px" class="doctorModeSettings">
                        <summary>Advanced Options</summary>
                        <p>These options are seldom needed and may adversely affect connectivity if used incorrectly.</p>
                        <p><label><input type="checkbox" class="doctorForceVersion"/>Specific Device OS version</label> <select class="doctorDeviceOsVersion apiHelperSelect">
                        </select></p>
                        <p class="hasEthernetRow"><label><input type="checkbox" class="doctorUseEthernet"/>Use Ethernet for connectivity</label></p>
                        <p><label><input type="checkbox" class="doctorSetKeepAliveCheckbox"/>Set keep-alive to </label> <input type="text" size="6" value="120" class="doctorKeepAliveInput" /> seconds</p>
                        <p class="hasWiFiRow" style="display:none;"><label><input type="checkbox" class="doctorSetupWiFi"/>Setup Wi-Fi network credentials</label></p>
                        <p class="hasAntennaRow" slot="display:none;">Wi-Fi Antenna <select class="doctorDeviceWiFiAntenna apiHelperSelect">
                            <option value="255">Leave unchanged</option>
                            <option value="0">Select Internal</option>
                            <option value="1">Select External</option>
                            </select></p>
                    </details>
                </div>
                <div class="setupMode">
                    <details style="padding-top: 100px" class="setupModeSettings">
                        <summary>Advanced Setup Options</summary>
                        <p>These options are seldom needed and may adversely affect connectivity if used incorrectly.</p>
                        <p><label><input type="checkbox" class="setupForceVersion"/>Specific Device OS version</label> <select class="setupDeviceOsVersion apiHelperSelect">
                        </select></p>
                        <p><label><input type="checkbox" class="setupNoClaim"/>Do not claim device</label></p>
                        <p class="setupForceClaimRow" style="display:none;"><label><input type="checkbox" class="setupForceClaim"/>Force claim a Wi-Fi device using a claim code</label></p>
                        <div class="setupAddDeviceToProductDiv">
                            <p><label><input type="checkbox" class="setupAddToProduct"/>Add device to a product</label></p>
                            <table class="apiHelperTableNoMargin setupAddToProductSelector" style="display:none">
                                <tbody class="apiHelperOrgProductSelector apiHelperProductDestination">
                                    <tr class="sandboxOrgRow" style="display:none">
                                        <td class="apiHelperProductSelectorLabel apiHelperSandboxOrgRadio">
                                        <label><input type="radio" class="sandboxOrg" value="sandbox" checked />Sandbox Product</label> &nbsp;&nbsp;
                                        <label><input type="radio" class="sandboxOrg" value="org" />Organization Product</label> &nbsp;&nbsp;
                                        </td><td>&nbsp;</td></tr>
                                    <tr class="orgSelectorRow" style="display:none"><td class="apiHelperProductSelectorLabel">Organization &nbsp;<select class="apiHelperOrgSelect apiHelperSelect"></select></td><td>&nbsp;</td></tr>
                                    <tr class="productSelectorRow"><td class="apiHelperProductSelectorLabel">Product &nbsp;<select class="apiHelperProductSelect apiHelperSelect"></select></td></tr>
                                </tbody>
                            </table>
                            <p class="setupDevelopmentDeviceRow" style="display:none"><label><input type="checkbox" class="setupDevelopmentDevice"/>Mark as development device</label></p>
                        </div>
                        <p class="setupSimSelectionRow" style="display:none">SIM Select: <select class="setupSimSelect apiHelperSelect">
                            <option value="0">No change</option>
                            <option value="1">Internal SIM (MFF2 SMD Particle SIM)</option>
                            <option value="2">External SIM (4FF)</option>
                        </select></p>
                        <p class="hasEthernetRow"><label><input type="checkbox" class="setupUseEthernet"/>Use Ethernet for connectivity</label></p>
                    </details>
                </div>
                <div class="restoreMode">
                    <table>
                        <tr class="trackerMonitorSelectorRow" style="display:none;">
                            <td class="apiHelperProductSelectorLabel">Device Type</td>
                            <td>
                                <label><input type="radio" class="trackerMonitorRadio trackerMonitorTracker" checked>Tracker One</label> &nbsp;&nbsp;
                                <label><input type="radio" class="trackerMonitorRadio trackerMonitorMonitor">Monitor One</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="apiHelperProductSelectorLabel">Restore Type</td>
                            <td>
                                <select class="apiHelperUsbRestoreDeviceModeSelect apiHelperSelect">
                                    <option value="tinker">Tinker (Factory Default)</option>
                                    <option value="upload">Custom User Firmware Upload</option>
                                    <!-- <option value="url">Custom User Firmware from URL</option> -->
                                </select>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr class="edgeVersionSelectorRow">
                            <td class="apiHelperProductSelectorLabel">Edge Version</td>
                            <td><select class="apiHelperUsbRestoreEdgeVersion apiHelperSelect"></select></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr class="apiHelperUsbRestoreDeviceVersionTr">
                            <td class="apiHelperProductSelectorLabel">Device OS Version</td>
                            <td><select class="apiHelperUsbRestoreDeviceVersion apiHelperSelect"><option>Select Device OS Version</option></select></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr class="apiHelperUsbRestoreDeviceFileTr" style="display:none">
                            <td class="apiHelperProductSelectorLabel">Upload File</td>
                            <td><button class="selectUserBinaryButton apiHelperButton">Select user binary to upload</button><input type="file" id="userBinaryFileSelector" accept=".bin" style="display:none"></td>
                            <td class="apiHelperProductSelectorLabel"></td>
                        </tr>
                        <tr class="apiHelperUsbRestoreDeviceUrlTr" style="display:none">
                            <td class="apiHelperProductSelectorLabel">User Firmware URL</td>
                            <td colspan="2"><input type="text" size="60" class="apiHelperUsbRestoreDeviceUrl" /></td>
                        </tr>
                        <tr class="apiHelperUsbRestoreSetupBitTr" style="display:none">
                            <td class="apiHelperProductSelectorLabel">Setup Bit</td>
                            <td><select class="apiHelperUsbRestoreDeviceSetupBit apiHelperSelect">
                                <option value="unchanged" selected>Leave value unchanged</option>
                                <option value="done">Mark setup done (run firmware normally)</option>
                                <option value="notDone">Mark setup not done (go into listening mode)</option>
                            </select></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="apiHelperProductSelectorLabel" colspan="2"><label><input type="checkbox" class="forceUpdate"/>Flash even if system parts are already the correct version</label></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr class="updateNcpCheckboxTr" style="display:none">
                            <td class="apiHelperProductSelectorLabel" colspan="2"><label><input type="checkbox" class="updateNcpCheckbox"/>Update NCP (network coprocessor)</label></td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr class="apiHelperUsbRestoreTrackerTr" style="display:none">
                            <td class="apiHelperProductSelectorLabel" colspan="2"><label><input type="checkbox" class="shippingModeCheckbox"/>Enter shipping mode when done</label></td>
                            <td>&nbsp;</td>
                        </tr>                        
                    </table>
                    <p><button class="setupSetupDeviceButton apiHelperButton">Flash Device</button></p>
                </div>
            </div>
            <div class="setupStepNotInProduct" style="display:none">
                <p>The connected device does not appear to be in a product, you are not a team member of the product it
                    is a member of. You cannot flash product firmware at this time.
                </p>
            </div>
            <div class="setupStepNoProductFirmware" style="display:none">
                <p>The connected device does not have a firmware version locked, or the product does not have a 
                    default firmware version. You cannot flash product firmware at this time.
                </p>
            </div>
            <div class="setupStepAddToProduct" style="display:none">
                <p>Adding device to product...</p> 
                <p>This should only take a few seconds.</p>
            </div>
            <div class="setupStepCheckOwnership" style="display:none">
                <div class="setupStepCheckOwnershipOwnership">
                    <p>Checking device ownership...</p>
                </div>
                <div class="setupStepCheckOwnershipNoDeviceInfo">
                    <p>This device could not be found in your account, your products, or any organization products you have access to. 
                        This is normal if you are setting up the device for the first time.</p>
                    <p>However, it can also happen if the device is really claimed to another account, or the device is part of a 
                        product you are not a team member of. This tool 
                        not recommended for use on product devices by non-developers.</p>
                    <p><label><input type="checkbox" class="doctorClaimDevice" checked/>Attempt to claim device when online</label></p>
                    <p><button class="setupContinueSetupButton apiHelperButton">Continue</button></p>
                </div>
                <div class="setupStepCheckOwnershipCheckAccount">
                    <p>Checking account status...</p>
                </div>
            </div>
            <div class="setupStepActivateSim" style="display:none">
                <div class="setupStepActivateSimGet">
                    <p>Getting the SIM ICCID from the device...</p>
                    <p>This usually takes a few seconds but can take a minute.</p>
                </div>
                <div class="setupStepActivateSimGetSlow">
                    <p>Getting the SIM ICCID from the device...</p>
                    <p>The cellular modem is not responding. It will take a little longer to reset it.</p>
                </div>
                <div class="setupStepActivateSimChecking">
                    <p>Checking SIM status...</p>
                </div>
                <div class="setupStepActivateSimWaiting">
                    <p>Waiting for SIM activation to complete...</p>
                    <p>This can take anywhere from several seconds to several hours. Rarely, it can take a day or more.</p>
                    <p>You can wait here for activation to complete, or close this web page and come back later to 
                        see if activation has completed so you can proceed with setup.</p>
                    <p class="setupStepActivateSimTimer"></p>
                </div>
            </div>
            <div class="setupStepNoExternalSIM" style="display:none">                
                <p>Your Boron is configured to use an external 4FF nano plastic SIM card, but it does not appear that one is inserted.</p>
                <p>Click **Use Internal SIM** to change the SIM configuration.</p>
                <p><button class="externalSimUseInternal">Use Internal SIM</button></p>
                <!--
                <p>Or power down your Boron and insert or reinsert the SIM card, and click **Try Again**</p>
                <p><button class="externalSimTryAgain">Try Again</button></p> -->
            </div>
            <div class="setupStepManualDfu" style="display:none">    
                <p>An error occurred putting your device into DFU mode (blinking yellow).</p>
                <p>Hold down the MODE (or SETUP) button and tap the RESET button. Continue to hold down MODE while 
                    the status LED blinks magenta (red and blue at the same time) until it blinks yellow, then 
                    release.
                </p>
                <p><button class="continueDfu">Device is Blinking Yellow</button></p>
            </div>
            <div class="setupStepFlashDevice" style="display:none">                
                <div class="setupStepFlashDeviceDownload" style="display:none">
                    <p>Downloading the binaries for your device. This should only take a few seconds...</p>
                </div>
                <div class="setupStepFlashDeviceEnterDFU" style="display:none">
                    <p>Putting device in DFU (firmware update) mode (blinking yellow). This should only take a few seconds, but can take up to 30 seconds sometimes.</p>
                </div>
                <div class="setupStepFlashDeviceAuthorizeDFU" style="display:none">
                    <p>Your browser requires authorization to reconnect to your device now that it is in DFU mode. This is a normal browser security precaution.</p>
                    <p><button class="reconnectUsb">Reconnect</button></p>
                </div>
                <div class="setupStepFlashDeviceConnectDFU" style="display:none">
                    <p>Connecting to the device in DFU mode...</p>
                </div>
                <div class="setupStepFlashDeviceFlashing" style="display:none">
                    <p>Updating the firmware on the device...</p>
                    <table class="flashDeviceSteps apiHelperTableNoMargin">
                        <thead>                        
                        </thead>
                        <tbody>                    
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="setupStepFlashControlRequests" style="display:none">
                <div class="setupStepFlashControlRequestsWaiting" style="display:none">
                    <p>Waiting for the device to finish updating itself and restart...</p>
                    <p>This will take several seconds, and the status LED may blink white, 
                        magenta (red and blue at the same time), blue, or green.</p>
                </div>
                <div class="setupStepFlashControlRequestsPrebootloader" style="display:none">
                    <p>Flashing prebootloader-part1...</p>
                </div>
                <div class="setupStepFlashControlRequestsBootloader" style="display:none">
                    <p>Flashing bootloader...</p>
                </div>
            </div>
            <div class="setupStepReconnecting" style="display:none">
                <div class="setupStepReconnectingWaiting">
                    <p>Waiting for the device to finish updating itself and restart...</p>
                    <p>This will take several seconds, and the status LED may blink yellow, white, 
                        magenta (red and blue at the same time), blue, or green.</p>
                </div>
                <div class="setupStepReconnectingNeedReauthorize" style="display:none">
                    <p>Failed to reconnect to the device by USB. Click the Reconnect button to try again.</p>
                    <p><button class="reconnectUsb">Reconnect</button></p>
                </div>
                <div class="setupStepReconnectFailed" style="display:none">
                    <p>Waiting for the device to finish updating itself and restart...</p>
                    <p>If the device is still blinking yellow, tap the reset button on the device, then click Continue.</p>
                    <p><button class="continueFailedReconnect">Continue</button></p>
                </div>
                <div class="setupStepWhiteLed" style="display:none">
                    <p>If the status LED is solid white, not blinking, tap the reset button on the device, then Reconnect</p>
                </div>
            </div>
            <div class="setupStepNoWiFi" style="display:none;">
                <p>No Wi-Fi networks were found.</p>
                <p><button class="scanAgain">Scan for Wi-Fi Networks Again</button></p>
                
                <div class="showUseExisting">
                    <p>&nbsp;</p>
                    <p><button class="useExisting">Use Wi-Fi Already Configured on the Device</button></p>
                </div>
            </div>
            <div class="setupStepConfigureWiFi" style="display:none">
                <div class="searchingWiFi" style="visibility:hidden">
                    <table class="apiHelperTableNoMargin">
                        <tbody>
                            <tr>
                                <td><img src="/assets/images/device-setup/spinner-48.gif" style="width=24px; height=24px; margin:2px"></td>
                                <td>Searching for Wi-Fi networks...</td>                                
                            </tr>
                        </tbody>
                    </table>
                </div>
                <table class="networkTable apiHelperTableNoMargin">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Network Name</th>
                            <th>Secure</th>
                            <th>Signal</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div class="wifiHiddenSsidDiv" style="display:none; margin-top: 15px; margin-bottom: 15px; margin-left: 5px;">
                    <label><input type="checkbox" class="wifiHiddenSsidCheckbox">Use manually entered SSID: </label><input type="text" class="wifiHiddenSsidText" />
                    <div style="display:none; margin-left: 23px; margin-top: 6px; margin-bottom:10px;" class="wifiHiddenSsidWarningDiv">On the Argon, a manually entered SSID can only be used to pre-configure credentials.<br/>The Argon cannot connect to a hidden SSID.</div>
                </div>
                <table class="wifiSettingsTable apiHelperTableNoMargin" style="display:none">
                    <tbody>
                        <tr class="wifiSecurityTypeNormalRow">
                           <td>Security Type</td> 
                           <td class="wifiSecurityType">
                           </td> 
                        </tr>
                        <tr class="wifiSecurityTypeHiddenSsidRow" style="display: none;">
                           <td>Security Type</td> 
                           <td>
                                <select class="wifiSecurityTypeSelect">
                                    <option value="0">Unsecured</option>
                                    <option value="1">WEP</option>
                                    <option value="2">WPA</option>
                                    <option value="3">WPA2</option>
                                </select>
                           </td> 
                        </tr>
                        <tr class="eapTypeRow" style="display:none">
                           <td>EAP Type</td> 
                           <td><select class="eapSelect apiHelperSelect">
                                <option value="0">PEAP/MSCHAPv2</option>
                                <option value="1">EAP-TLS</option>
                                </select></td> 
                        </tr>
                        <tr class="wifiUsernameRow" style="display:none">
                            <td>Username (Inner Identity)</td>
                            <td><input class="wifiUsername" /></td>
                        </tr>
                        <tr class="passwordRow" style="display:none">
                            <td>Password</td>
                            <td><input class="passwordInput" type="password" /></td>
                        </tr>
                        <tr class="privateKeyRow" style="display:none">
                            <td>Private Key (required)</td>
                            <td><textarea class="privateKey" rows="8" cols="65" style="font-size:10px;" spellcheck="false"></textarea></td>
                        </tr>
                        <tr class="clientCertRow" style="display:none">
                            <td>Client Certificate (required)</td>
                            <td><textarea class="clientCert" rows="8" cols="65" style="font-size:10px;" spellcheck="false"></textarea></td>
                        </tr>
                        <tr class="outerIdentityRow" style="display:none">
                            <td>Outer Identity (optional)</td>
                            <td><input class="outerIdentity" /></td>
                        </tr>
                        <tr class="caCertRow" style="display:none">
                            <td>CA Certificate (Optional)</td>
                            <td><textarea class="caCert" rows="8" cols="65" style="font-size:10px;" spellcheck="false"></textarea></td>
                        </tr>
                    </tbody>
                </table>
                <p><button class="setCredentials" disabled>Select Wi-Fi Network</button></p>
                <div class="showUseExisting" style="display:none">
                    <p style="padding-top:15px"><button class="useExisting">Use Wi-Fi Already Configured on the Device</button></p>
                </div>
                <div>
                    <p style="padding-top:15px"><button class="scanAgain">Scan for Wi-Fi Networks Again</button></p>
                </div>
                <div class="wifiExisting" style="display:none; padding-top:25px;">
                    <h3>Edit existing Wi-Fi networks on device</h3>
                    <div class="wifiExistingList">                        
                    </div>
                    <p style="padding-top:15px">
                        <button class="wifiExistingRemoveSelected" disabled>Remove Selected</button> &nbsp;
                        <button class="wifiExistingRemoveAll">Remove All</button>
                    </p>
                </div>
            </div>
            <div class="setupStepWaitForOnline" style="display:none">
                <table class="waitOnlineSteps apiHelperTableNoMargin">
                    <thead>                        
                    </thead>
                    <tbody> 
                        <tr class="waitOnlineStepNetwork">
                            <td><img src="/assets/images/device-setup/spinner-48.gif" style="width=24px; height=24px; margin:2px; visibility:hidden"></td>
                            <td>Connecting to network</td>
                            <td></td>
                        </tr>            
                        <tr class="waitOnlineStepCloud">
                            <td><img src="/assets/images/device-setup/spinner-48.gif" style="width=24px; height=24px; margin:2px; visibility:hidden"></td>
                            <td>Connecting to the Particle cloud</td>
                            <td></td>
                        </tr>            
                        <tr class="waitOnlineStepClaim">
                            <td><img src="/assets/images/device-setup/spinner-48.gif" style="width=24px; height=24px; margin:2px; visibility:hidden"></td>
                            <td>Claiming device</td>
                            <td></td>
                        </tr>            
                    </tbody>
                </table>
                <div class="batteryWarning" style="display:none">
                    <p>It appears that you do not have a battery connected. A battery is recommended for all non-LTE cellular
                        devices; running without a battery may cause connection or data transmission to fail.</p>
                </div>
            </div>
            <div class="setupStepNameDevice" style="display:none">
                <p>You can name your device to make the devices in your account easier to identify.</p>
                <p>A random device name has been generated, or you can enter your own here:</p>
                <p><input type="text" class="nameInput" /> &nbsp;<button class="setName">Set Name</button></p>

                <p>Or you can <a class="skipNaming">skip naming</a>. You can always rename your device later.</p>
            </div>
            <div class="setupStepDone" style="display:none">
                <p>Congratulations, you have completed setting up your device!</p>
                <div class="setupStepDoneNonProduct">
                    <ul>
                        <li>Get started with the <a href="/tutorials/hardware-projects/hardware-examples/#blink-an-led">Blink an LED tutorial</a>.</li>
                        <li>Learn about the <a href="/tutorials/developer-tools/workbench/">Particle Workbench</a> and <a href="/tutorials/developer-tools/build/">Web IDE</a> development environments.</li>
                        <li>Learn how the <a href="/tutorials/device-os/cloud-communication/">Particle cloud</a> can make Internet-connected devices easy to build.</li>
                        <li>Get deep into device programming with the <a href="/reference/device-os/firmware/">Device OS API reference</a>.</li>
                    </ul>
                    <p>&nbsp;</p>
                    <p>Or just try changing the color of the status LED on your device over the cloud:</p>
                    <p><input type="color" class="colorSelector" value="#ff0000"/> &nbsp;
                        <button class="setColorButton">Set Status LED Color</button></p>
                </div>
            </div>
            <div class="setupStepProductDone" style="display:none">
                <p>Flashing product firmware complete!</p>
            </div>
            <div class="setupStepCloudDone" style="display:none">
                <p>Flashing cloud debug firmware complete! Monitor the status using the USB serial debug console.</p>
            </div>
            <div class="setupStepDeviceRestoreDone" style="display:none">
                <p>Device restore complete!</p>
                <p><button class="reloadPage">Restore another device</button></p>
            </div>
            <div class="setupStepShippingMode" style="display:none">
                <p>Device restore complete! Tracker will enter shipping mode shortly.</p>
                <p><button class="reloadPage">Restore another device</button></p>
            </div>
            <div class="setupStepStartOver" style="display:none">
                <p><button class="reloadPage">Start over</button></p>
            </div>
            <div class="setupStepDfuFailed" style="display:none">
                <p>DFU flashing failed.</p>
                <p class="dfuFailedReason"></p>
                <p><button class="reloadPage">Start over</button></p>
            </div>
            <div class="setupStepTroubleshootingSuccess" style="display:none">
                <p>Congratulations, it appears that your device is online and functioning properly now!</p>
            </div>
            <div class="setupStepFirmwareReplaced" style="display:none">
                <p>It appears that your device connected to the cloud, then got a firmware update that erased the setup firmware.
                    This prevents logs and other diagnostic data from being displayed, but your device should be fully functional.
                </p>
            </div>
            <div class="setupStepRestoreDone" style="display:none">
                <p>Your original device firmware has been restored.</p>
            </div>
            <div class="setupStepClaimFailed" style="display:none">
                <p>Claiming the device failed.</p>
                <p>This typically occurs because the device is claimed to another
                    user already, or was previously part of a product.
                </p>
            </div>
            <div class="setupStepSimActivationFailed" style="display:none">
                <p>Activating the SIM failed</p>
                <p>This typically occurs because the SIM card is already assigned to
                    another user or a product.

                <p><button class="continueWithoutActivating">Continue Without Activating</button></p>
                <p>If you continue without activating the SIM you may not be able to get online until you manually activate the SIM.</p>
                </p>
            </div>
            <div class="setupStepWifiStart" style="display:none">
                <p>Wi-Fi setup in progress... this can take up to 1 minute.</p>
            </div>
            <div class="setupStepWifiComplete" style="display:none">
                <p>Wi-Fi setup compete. Your device will be reset to activate the new configuration.</p>
            </div>
            <div class="setupStepWifiFailed" style="display:none">
                <p>Wi-Fi setup failed. This can happen if the password is invalid. It may help to reset the device and try again.</p>
            </div>
            <div class="setupStepWifiGen2" style="display:none">
                <p>This Wi-Fi setup tool cannot be used with the Photon and P1. The Web Device Doctor can be used to set Wi-Fi credentials.</p>
            </div>
            <div class="setupStepWifiInDFU" style="display:none">
                <p>The device must be in listening mode (blinking dark blue), normal operating mode (breathing cyan), blinking green, 
                    blinking cyan or safe mode (breathing magenta) to use this tool.</p>
                <p>The device cannot be in safe mode (blinking yellow), reset the device or use the Web Device Doctor to repair it.</p>
            </div>
            <div class="setupStepWiFiIsCellular" style="display:none">
                <p>This option can only be used to configure Wi-Fi devices.</p>
            </div>
            <div class="setupStepTowerScan" style="display:none">
                <div class="setupStepTowerScanRunning">
                    <p>Performing a scan for available towers (this takes 3 to 6 minutes)...</p>                
                    <table class="towerScanSteps apiHelperTableNoMargin">
                        <thead>                        
                        </thead>
                        <tbody> 
                            <tr class="towerScanStepPreparingModem">
                                <td><img src="/assets/images/device-setup/spinner-48.gif" style="width=24px; height=24px; margin:2px; visibility:hidden"></td>
                                <td>Preparing the cellular modem for scanning</td>
                                <td></td>
                            </tr>            
                            <tr class="towerScanStepsScanning">
                                <td><img src="/assets/images/device-setup/spinner-48.gif" style="width=24px; height=24px; margin:2px; visibility:hidden"></td>
                                <td>Scanning for towers</td>
                                <td></td>
                            </tr>            
                        </tbody>
                    </table>
                </div>
                <div class="setupStepTowerScanDone">
                    <p>Tower scan complete!</p>                
                </div>
            </div>
        </div>
        <div class="towerScanOption" style="display:none">
            <p>Your device can look for all compatible cellular towers near your device. This process takes 1 - 2 minutes and 
                will interrupt the normal operation of your device. You may want to do this if your device is stuck on blinking
                green or you want to troubleshoot intermittent cellular connectivity.</p>
            <p><button class="doTowerScan">Tower Scan</button></p>                
        </div>
        <div class="deviceLogWarning" style="display:none">
            <p>&nbsp;</p>
            <p>On the Electron and E-Series, device debugging logs will not display while the device is connecting to cellular
                (blinking green). If you are trying to debug connection failures, you may need to use a serial terminal program 
                or the Particle CLI to view the logs.
            </p>
        </div>
        <div class="deviceLogs" style="display:none">
            <p>&nbsp;</p>
            <div>
                <p><label><input type="checkbox" class="showDebuggingLogs" checked>Show device debugging logs</label></p>
            </div>
            <div class="deviceLogsTextButtons">
                <div class="logDecoderOutputDiv" style="height: 700px; overflow: scroll;">
                </div>
                <!-- <textarea class="deviceLogsText" rows="10" cols="100" style="font-size: 9px; line-height: 11px;">
                </textarea> -->
                <table class="apiHelperTableNoMarginc">
                    <tbody>
                        <tr>
                            <td colspan="2"><label><input type="checkbox" class="logDecoderOption" data-key="hideTrace" />Hide trace logs</label></td>
                        </tr>
                        <tr>
                            <td colspan="2"><label><input type="checkbox" class="logDecoderOption" data-key="hideDecoded" />Hide decoded information</label></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button class="apiHelperButton logDecoderDownloadButton">Download Raw Logs</button>
                                <button class="apiHelperButton logDecoderCopyButton">Copy Raw Logs to Clipboard</button>
                                <button class="apiHelperButton logDecoderClearButton">Clear Logs</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="manualLogs" style="display:none; padding-top:20px;">
            <p>It appears that the device is not responding with log data. The best way to troubleshoot when this occurs 
                is to use the <b>particle serial monitor</b> CLI command.</p>
            </p>
            {{!-- {{> usb-serial-console}} --}}
        </div>
        <div class="supportInfo">
            <div class="towerInfo" style="display:none">
                <h3>Tower information</h3>
                <table class="towerInfoTable apiHelperTableNoMargin">
                    <thead>
                        <tr>
                            <th>MCC</th>
                            <th>MNC</th>
                            <th>CI</th>
                            <th>LAC</th>
                            <th>RSSI</th>
                            <th>Carrier</th>
                            <th>Band</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="apiHelperDeviceLookupOutput" style="display:none">
                <h3>Device information</h3>
                <div class="apiHelperDeviceLookupClaimedMyAccount" style="display:none;">Is the device claimed to my account? &nbsp;<span class="apiHelperDeviceLookupResult"></span></div>            
                <div class="apiHelperDeviceLookupProduct" style="display:none;">Is the device in a product I have access to?<br/><span class="apiHelperDeviceLookupResult"></span></div>
                <div class="apiHelperDeviceLookupOrg" style="display:none;">Is the device in an organization I have access to?<br/><span class="apiHelperDeviceLookupResult"></span></div>           
                <div class="apiHelperDeviceLookupOutputDetails">
                    <p>Device information retrieved from the cloud:</p>
                    <table class="apiHelperTableNoMargin">
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="cellularInfo" style="display:none">
                <h3>Cellular information</h3>
                <table class="cellularInfoTable apiHelperTableNoMargin">
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="locationInfo" style="display:none">
                <h3>Location information</h3>
                <table class="locationInfoTable apiHelperTableNoMargin">
                    <thead>
                        <tr>
                            <td></td>
                            <td>Device Value</td>
                            <td>Location Fusion</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="gnssInfo" style="display:none">
                <h3>GNSS hardware location</h3>
                <table class="gnssLocationTable apiHelperTableNoMargin">
                    <tbody>
                    </tbody>
                </table>

                <h3>GNSS module information</h3>
                <table class="gnssInfoTable apiHelperTableNoMargin">
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="cloudEvents" style="display:none">
                <h3>Cloud Events</h3>
                <table class="cloudEventsTable apiHelperTableNoMargin">
                    <thead>
                        <tr>
                            <td>Event Name</td>
                            <td>Event Data</td>
                            <td>Event Time</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="deviceFirmwareInfo" style="display:none">
                <h3>Device firmware information</h3>
                <table class="deviceFirmwareInfoTable apiHelperTableNoMargin">
                    <thead>
                        <tr>
                            <td>Module</td>
                            <td>Valid</td>
                            <td>Version</td>
                            <td>Dependencies</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="userInfo" style="display:none">
                <h3>User information</h3>
                <table class="userInfoTable apiHelperTableNoMargin">
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="ticketButtonDiv" style="display:none" style="padding-top:20px;">
            <p>Still having trouble? You can create a support ticket for help with this issue.</p>
            <p><button class="ticketButton">Create support ticket</button></p>
        </div>
        <div class="setupStatus">
        </div>
        <div class="setupWiFiInstructions" style="display:none">
            <p>This tool can be used to set up Wi-Fi for Argon, P2, Photon 2, and M-SoM devices connected by USB.
                It will only set Wi-Fi credentials and does not affect claiming or product membership
                and does not flash any firmware to the device.</p>
            <p>It can only be used in Chrome, Edge, or Opera browsers on Windows, Linux, Mac, and Chromebook. It cannot be used on phones or
                tablets, and cannot be used with Safari or Firefox.</p>
            <p>You can use the <a href="/getting-started/developer-tools/cli/">Particle CLI</a> 
                if you don't have a compatible browser or want to configure a P1 or Photon 1 device.</p>
        </div>
    </div>
    <div class="setupBrowserError" style="display:none">
        <p>This tool can only be used on:</p>
        <ul>
            <li>Chrome (Windows, Mac, Linux, Chromebook, or Android, version 61 and later)</li>
            <li>Edge (version 79 or later</li>
            <li>Opera (Windows, Mac, Linux, or Android, version 48 or later</li>
            <li>Samsung Internet (version 8.0 or later)</li>
        </ul>
        <p>If you are using an iOS device, Safari, or other unsupported browser (such as Firefox), 
        you can use the Particle CLI for Windows, Mac, and Linux, or the Particle mobile app for iOS or Android instead.</p>
    </div>
</div>

