<div class="apiHelper apiHelperLoggedIn apiHelperDeviceInspect">
    <div class="apiHelperBox">
        <div>
            <p>Raw JSON data:</p>
            <textarea class="rawJsonData" rows="6" cols="80"></textarea>
        </div>
        <div class="usbSerialToolsStatus">
        </div>
        <div class="usbSerialToolsOutput">
        </div>
    </div>
</div>
