<div class="apiHelper apiHelperDeviceRemove apiHelperProductOrSandboxSelector apiHelperLoggedIn">
    <div class="apiHelperBox">
        <div> 
            <p>Device IDs to remove:<br/>
            <p><textarea class="deviceTextArea" rows="10" cols="50"></textarea></p>            
        </div>
        <div class="deviceTableDiv" style="display:none">
            <table class="apiHelperTableNoMargin">
                <thead>
                    <tr>
                        <th data-key="id">Device ID</th>
                        <th data-key="name">Device Name</th>
                        <th data-key="online">Online</th>
                        <th data-key="_claimed">Claimed To</th>
                        <th data-key="iccid">ICCID</th>
                        <th data-key="_product">Product</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div>
            <table class="apiHelperTableNoMargin">
                <tbody>
                    <tr>
                        <td colspan="2"><label><input class="removeFromProduct" type="checkbox" checked />Remove from product</label></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2"><label><input class="unclaimDevice" type="checkbox" checked />Unclaim device</label></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2"><label><input class="releaseSim" type="checkbox" checked />Release SIM ownership (for cellular devices)</label></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button class="apiHelperButton executeButton" disabled>Execute Operations</button>
                        </td>                
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="apiHelperStatus"></div>
        <div class="logDiv" style="display:none">
            <p>Log:</p>
            <textarea rows="30" cols="80" style="font-size:9px;"></textarea>
        </div>
        <div class="sandboxUnclaimWarning warningDiv" style="display:none">
            <p>Warning!<br/>
            If you unclaim sandbox devices you can only claim them again if they are online and breathing cyan.
            </p>
        </div>
        <div class="productUnclaimWarning warningDiv" style="display:none">
            <p>Warning!<br/>
            If you remove devices from a product but do not unclaim, the owner account is limited to a maximum 
            of 100 devices. Operations will fail if this limit is exceeded.
            </p>
        </div>
    </div>
</div>

