<div class="apiHelper apiHelperLoggedIn deviceInfoConfig" style="display:none;">
    <div class="apiHelperBox">
        <div>
            <div><label><input type="radio" name="deviceInfoConfig" class="deviceInfoConfigProductRadio" checked>Product default configuration</label> &nbsp;
                <label><input type="radio" name="deviceInfoConfig" class="deviceInfoConfigDeviceRadio">Device-specific configuration</label>
            </div>
            <div class="deviceInfoConfigProduct deviceInfoConfigDiv" style="display:none">
            </div>
            <div class="deviceInfoConfigProductNoLedger deviceInfoConfigDiv" style="display:none">
                <div style="margin-top: 10px; margin-bottom: 5px;">Ledger <span class="deviceInfoConfigProductLedgerName"></span> does not exist.</div>
                <div><button class="deviceInfoCreateDefaultsLedger">Create ledger</button></div>
            </div>
            <div class="deviceInfoConfigProductNoInstance deviceInfoConfigDiv" style="display:none">
                <div style="margin-top: 10px; margin-bottom: 5px;">Ledger <span class="deviceInfoConfigProductLedgerName"></span> does not have an instance for product <span class="deviceInfoConfigProductId"></span>.</div>
                <div><button class="deviceInfoCreateDefaultsLedger">Create ledger instance</button></div>
            </div>
            <div class="deviceInfoConfigDevice deviceInfoConfigDiv" style="display:none">
            </div>
            <div class="deviceInfoConfigDeviceNoLedger deviceInfoConfigDiv" style="display:none">       
                <div style="margin-top: 10px; margin-bottom: 5px;">Ledger <span class="deviceInfoConfigDeviceLedgerName"></span> does not exist.</div>
                <div><button class="deviceInfoCreateDeviceLedger">Create ledger</button></div>
            </div>
            <div class="deviceInfoConfigOptions" style="display:none">
                <div></div>
                <div class="deviceInfoConfigOptionsUI" style="display:none"></div>                
                <div class="deviceInfoConfigOptionsJson">
                    <textarea rows="15" cols="80" class="apiHelperMono deviceInfoConfigJson"></textarea>
                </div>
            </div>
        </div>
        <div class="apiHelperStatus"></div>
    </div>
</div>

