<div class="apiHelperDeviceGroup">
    <!-- apiHelper, apiHelperExtras -->
    <table class="apiHelperTableNoMargin">
        <tbody>
            <tr>
                <td>Assign to groups</td>
                <td colspan="3"><select class="groupSelect" style="height: 70px;" multiple></select></td>
            </tr>
            <tr>
                <td>Create a new group</td>
                <td><input type="text" size="15" class="newGroupText" /></td>
                <td>using firmware <select class="apiHelperSelect newGroupFirmwareSelect"></select></td>
                <td><button class="newGroupButton" disabled>Create group</button></td>
            </tr>
        </tbody>
    </table>
    <div class="statusMessage"></div>
</div>
