<div class="apiHelper apiHelperLoggedIn deviceInfoViewer" style="display:none;">
    <div class="apiHelperBox">
        <div class="deviceInfoList">
            <table class="apiHelperTableNoMargin">
                <thead>
                   <th>Device ID</th>                    
                   <th>Device Name</th>                    
                   <th>Online</th>                    
                </thead>
                <tbody>                    
                </tbody>
            </table>
        </div>
        <div class="apiHelperStatus"></div>
    </div>
</div>

