<div class="document-search-container" style="display:none;">
    <div class="documentSearchCloseIcon">&#x2715;</div>
    <div class="document-search-results">
        <div>In-document search results for <span class="documentSearchTerm"></span>:</div>
        <table class="apiHelperTableNoMargin">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>
</div>