<div class="apiHelper apiHelperLoggedIn apiHelperEdgeFirmware" style="display:none;" data-options="{{options}}">
    <div class="apiHelperBox">
        <div style="padding-top: 5px">
            <table class="apiHelperProductSelectorTable">
                <tr class="apiHelperTrackerOrgRow" style="display:none">
                    <td class="apiHelperProductSelectorLabel">Organization</td>
                    <td><select class="apiHelperTrackerOrgSelect apiHelperSelect"></select></td>
                </tr>
                <tr class="apiHelperTrackerProductRow">
                    <td class="apiHelperProductSelectorLabel">Product</td>
                    <td><select class="apiHelperTrackerProductSelect apiHelperSelect"></select></td>
                </tr>
            </table>
        </div>
        <div style="padding-top: 10px">
            <div class="apiHelperLargeTitle" style="padding-left: 5px;">Edge version</div>
            <table class="apiHelperProductSelectorTable" style="padding-top: 5px">
                <tr>
                    <td class="apiHelperProductSelectorLabel">Edge version</td>
                    <td><select class="apiHelperEdgeVersionSelect apiHelperSelect"></select></td>
                </tr>
                <tr>
                    <td>Device OS target version</td>
                    <td class="edgeTargetVersion"></td>
                </tr>
                <tr>
                    <td>Schema version</td>
                    <td class="edgeSchemaVersion"></td>
                </tr>
                <tr>
                    <td>Uploaded to product?</td>
                    <td class="uploadedToProduct"></td>
                </tr>
            </table>
            <div class="edgeReleaseNotes" style="padding-left: 15px;"></div>
        </div>
        <div style="padding-top: 15px; display:none;" class="hasProduct">
            <div class="apiHelperLargeTitle" style="padding-left: 5px;">Existing product firmware</div>
            <table class="apiHelperProductSelectorTable productFirmwareTable" style="padding-top: 5px; display:none;">
                <thead>
                    <tr>
                        <th>Version</th>
                        <th>Default</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Uploaded</th>
                    </tr>
                </thead>
                <tbody class="productFirmwareVersions"></tbody>
            </table>
            <div class="noProductFirmware" style="padding: 5px 0px 5px 5px; display:none;">No product firmware has been uploaded to this product</div>
        </div>
        <div style="padding-top: 15px; display: none;" class="hasProduct">
            <div class="apiHelperLargeTitle" style="padding-left: 5px;">Actions</div>
            <div style="padding: 5px 0px 5px 5px;">
                <button class="uploadFirmwareButton apiHelperButton">Upload Edge firmware to product</button>
            </div>
            <div style="padding: 5px 0px 5px 5px;">
                <button class="setConfigSchemaButton apiHelperButton">Set Configuration Schema</button>
            </div>
        </div>
        <div class="apiHelperEdgeFirmwareStatus" style="padding-left: 5px;"></div>
    </div>
</div>
