<div class="apiHelper envVarSkus" data-var="{{var}}">
    <details>
        <summary>Show compatible SKUs</summary>
        <table class="apiHelperTable">
            <thead>
                <tr>
                    <th>SKU</th>
                    <th>Name</th>
                    <th>Lifecycle</th>
                    <th>Modem</th>
                </tr>
            </thead>
            <tbody class="envVarSkusTableBody">
            </tbody>
        </table>
    </details>
</div>
