<div class="apiHelper apiHelperEventViewer apiHelperJsonLinter" data-style="codemirror">
    <div class="apiHelperBox">
        <div class="apiHelperEventViewerControls" style="display:none;">
            <p><span><input type="checkbox" class="apiHelperEventViewerEnable" 
                    {{#if defaultEnabled}}
                    checked
                    {{/if}}
                />
                <label>Enabled</label></span> &nbsp;
                Filter: <input type="text" class="apiHelperEventViewerFilter" size="15" 
                    {{#if defaultFilter}}
                    value="{{defaultFilter}}"
                    {{/if}}
                    /> &nbsp;
            </p>
            <p>
                Device Filter: <select class="apiHelperEventViewerDeviceSelect apiHelperSelect"></select>
            </p>
            <p>
                Event Name: <span class="apiHelperEventViewerEventNameSpan"></span><br />
                Event Device: <span class="apiHelperEventViewerEventDeviceSpan"></span>
            </p>
            <p><button class="apiHelperJsonLinterPrettifyButton apiHelperJsonLinterValidOnlyButton apiHelperButton">Prettify</button> &nbsp;</p>
        </div>
        <div class="apiHelperEventViewerStatus"></div>
        <div class="apiHelperEventViewerOutput" style="height: {{height}}px; overflow:scroll;">
            <textarea></textarea>
        </div>
    </div>
</div>
