<div class="apiHelper apiHelperEventDecoder">
    <div class="apiHelperBox">
        <p>Paste event data here:</p>
        <textarea rows="{{rows}}" cols="{{cols}}" class="apiHelperMono decoderInput"></textarea>
        <p>Decoded event:</p>
        <div>
            <textarea rows="{{rows}}" cols="{{cols}}" class="apiHelperMono decoderOutput"></textarea>
        </div>
        <div class="apiHelperEventDecoderStatus"></div>
    </div>
</div>
