<div class="apiHelper apiHelperFlashTinker apiHelperLoggedIn">
    <!-- api-helper, api-helper-extras, zip -->
    <div class="apiHelperBox" style="height:120px;">
        <div>Device: <select class="apiHelperCloudDeviceSelect apiHelperCommonDevice apiHelperSelect"></select></div>
        <div class="apiHelperStatus" style="padding: 10px 0px 10px 0px;"></div>
        <div class="flashControls" style="display:none;">
            <div><button type="button" class="flashTinkerButton" disabled>Flash</button></div>
            <div style="padding: 10px 0px 10px 0px;" class="warningMessage">Flashing Tinker will replace the current user firmware on the device. This operation cannot be undone.</div>
        </div>
    </div>
</div>

