<div class="apiHelperFlashDumpUsb apiHelperUsb">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <table class="apiHelperTableNoMargin">
                <tr>
                    <td colspan="2">
                        <button class="apiHelperFlashDumpUsbSelect apiHelperButton">Select Device</button>
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="apiHelperProductSelectorLabel">Save</td>
                    <td>
                        <select class="apiHelperUsbFlashDumpUsbTypeSelect apiHelperSelect">
                            <option value="all">MCU flash (complete)</option>
                        </select>
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="actionButton apiHelperButton" disabled>Save From Device</button>
                    </td>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="apiHelperFlashDumpUsbStatus" colspan="2"></td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="apiHelperFlashDumpUsbProgressTr" style="display:none">
                    <td class="apiHelperProductSelectorLabel">Progress</td>
                    <td>
                        <span></span>
                        <progress value="0" max="100"></progress>
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </table>

        </div>
    </div>
    <div class="apiHelperFlashDumpUsbOutputDiv">
    </div>
</div>

