<meta charset='utf-8'>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width">

<title>Particle Datasheets Documentation (formerly Spark) | {{title}}</title>

<!-- jQuery -->
<script src="/assets/js/jquery-1.11.1.min.js"></script>

<!-- Let me embed vines -->
<script async src="https://platform.vine.co/static/scripts/embed.js" charset="utf-8"></script>

<!-- Favicon -->
<link rel="shortcut icon" href="/assets/orange.ico" type="image/x-icon" />

<!-- Vendor theme mods -->
<script src='/assets/js/jquery-styling.js'></script>
<script src='/assets/js/bootstrap-dropdown.js'></script>
<script src='/assets/js/prettify.js'></script>
<script src='/assets/js/jquery.waypoints.js'></script>
<script src='/assets/js/jquery.waypoints.inview.js'></script>

<!-- Spark theme mods -->
<link href='/assets/css/style.css' rel='stylesheet'>
<script src='/assets/js/animated-core.js'></script>
<link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/49057/Dashboard/style.css?9t9e91">

<!-- GOTHAM YO -->
<link rel="stylesheet" type="text/css" href="//cloud.typography.com/6107112/665726/css/fonts.css" />

<!-- Meta -->
<meta content="Particle" property="og:title">
<meta content="Documentation for Particle, a platform for connected devices." name="description">
