<div class='header'>

  <div class='left' data-swiftype-index='false'>


    <div class="toggle-nav">
      <a href="#" class="subnav-link toggle-navigation">
        <i class="ion-navicon" title="show/hide the navigation"></i>
      </a>
    </div>

    <a href="/">
      <img src="/assets/images/particle-docs.png" id="logo" class="no-darken" data-light-src="/assets/images/particle-docs.png" data-dark-src="/assets/images/particle-docs-dark.png">
    </a>

    <div class="sections">
      {{{topMenu}}}
    </div>

    <div class="dropdown narrow-top-nav">
      <a id="dLabel" data-target="#" class="nav" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        {{top-level-category path.href}}
        <i class="icon ion-chevron-down"></i>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dLabel">
        {{{topMenuDropdown}}}
      </ul>
    </div>

  </div>

  <div class='right'>

    {{#unless noSearch}}
    <div class="searchIcon">
      <a><img width="14" height="14" data-light-src="/assets/images/menu-search-light.png" data-dark-src="/assets/images/menu-search-dark.png" /></a>
    </div>
    {{/unless}}

    <div class="menuLoggedInUser"></div>

    <div class="dropdown narrow" style="width: 30px">
      <a id="userMenu" data-target="#" class="nav" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <img width="24" height="24" data-light-src="/assets/images/menu-3dots-light.png" data-dark-src="/assets/images/menu-3dots-dark.png" />
      </a>
      <ul class="dropdown-menu pull-right" aria-labelledby="userMenu">
        <li id="userMenuLoggedInAs" class="loginMenuItem"></li>
        <li id="userMenuConsole"><a href="https://console.particle.io" target="_blank">
          <img width="20" height="20" data-light-src="/assets/images/menu-console-light.png" data-dark-src="/assets/images/menu-console-dark.png" />
          Go to console</a></li>
        <li id="userMenuChangeTheme"><a>
          <img width="16" height="16" class="changeThemeIcon" data-light-src="/assets/images/menu-theme-light.png" data-dark-src="/assets/images/menu-theme-dark.png" />
          <img width="16" height="16" class="changeThemeOpenIcon" data-light-src="/assets/images/menu-theme-open-light.png" data-dark-src="/assets/images/menu-theme-open-dark.png" style="display:none;"/>
          Change theme
          <img width="16" height="16" class="changeThemeExpand" data-light-src="/assets/images/menu-expand-light.png" data-dark-src="/assets/images/menu-expand-dark.png" />
          <img width="26" height="16" class="changeThemeCollapse"style="display:none" data-light-src="/assets/images/menu-collapse-light.png" data-dark-src="/assets/images/menu-collapse-dark.png" />
          </a></li>          
        <li class="dropdown-menu-sub theme-menu-sub"><a>
          <label><input type="radio" name="theme-menu-radio" class="theme-menu-sub-radio" data-theme="light" />Light</label>
          </a></li>
        <li class="dropdown-menu-sub theme-menu-sub"><a>
          <label><input type="radio" name="theme-menu-radio" class="theme-menu-sub-radio" data-theme="dark"/>Dark</label>
          </a></li>
        <li class="dropdown-menu-sub theme-menu-sub"><a>
          <label><input type="radio" name="theme-menu-radio" class="theme-menu-sub-radio" data-theme="auto"/>Auto</label>
          </a></li>
        <li id="userMenuEditAccount"><a>
          <img width="12" height="12" data-light-src="/assets/images/menu-edit-account-light.png" data-dark-src="/assets/images/menu-edit-account-dark.png" />
          Edit Account</a></li>
        <li id="userMenuLogout"><a>
          <img width="12" height="12" data-light-src="/assets/images/menu-logout-light.png" data-dark-src="/assets/images/menu-logout-dark.png" />
          Logout</a></li>
      </ul>
    </div>

    <div class="menuRightSpacer"></div>

    {{!-- Currently disabled always due to lack of use
    {{#unless noEditButton}}
    <a href='{{edit-link branch path.href path.name}}' class="nav" target="_blank"><i class="ion-edit"></i>Edit</a>
    {{/unless}}
    --}}

  </div>
</div>
