<div class='header'>

  <div class='left' data-swiftype-index='false'>


    <div class="toggle-nav">
      <a href="#" class="subnav-link toggle-navigation">
        <i class="ion-navicon" title="show/hide the navigation"></i>
      </a>
    </div>

    <a href="/">
      <img src="/assets/images/particle-docs.png" id="logo" class="no-darken" data-light-src="/assets/images/particle-docs.png" data-dark-src="/assets/images/particle-docs-dark.png">
    </a>

    <div class="sections">
      {{{topMenu}}}
    </div>

    <div class="dropdown narrow-top-nav">
      <a id="dLabel" data-target="#" class="nav" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        {{top-level-category path.href}}
        <i class="icon ion-chevron-down"></i>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dLabel">
        {{{topMenuDropdown}}}
      </ul>
    </div>

  </div>

  <div class='right'>

    {{#unless noSearch}}
    <div class="searchIcon">
      <a><i class="ion-search" title="Search"></i></a>
    </div>
    {{/unless}}

    <div class="dropdown narrow" style="width: 110px">
      <a id="userMenu" data-target="#" class="nav" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="icon ion-person"></i><span id="userMenuLabel">User</span></a>
      <ul class="dropdown-menu pull-right" aria-labelledby="userMenu">
        <li id="userMenuLoggedInAs" class="loginMenuItem"></li>
        <li id="userMenuConsole"><a href="https://console.particle.io" target="_blank">Console</a></li>
        <li id="userMenuEditAccount"><a>Edit Account</a></li>
        <li id="userMenuLogout"><a>Logout</a></li>
      </ul>
    </div>

    {{!-- Currently disabled always due to lack of use
    {{#unless noEditButton}}
    <a href='{{edit-link branch path.href path.name}}' class="nav" target="_blank"><i class="ion-edit"></i>Edit</a>
    {{/unless}}
    --}}

  </div>
</div>
