<div class="apiHelper apiHelperLoggedIn apiHelperIccidLookup" style="display:none;">
    <div class="apiHelperBox">
        <p>SIM ICCID: <input type="text" class="apiHelperIccidLookupIccid" size="30"> 
            <button class="apiHelperIccidLookupButton apiHelperButton" disabled>Lookup</button>
        </p>
        <div class="apiHelperIccidLookupStatus"></div>
        <div class="apiHelperIccidLookupOutput" style="display:none">
            <div class="apiHelperIccidLookupMyAccount">Is the SIM in my account? &nbsp;<span class="apiHelperIccidLookupResult"></span></div>            
            <div class="apiHelperIccidLookupProduct" style="display:none;">Is the SIM in a product I have access to?<br/><span class="apiHelperIccidLookupResult"></span></div>
            <div class="apiHelperIccidLookupOrg" style="display:none;">Is the SIM in an organization I have access to?<br/><span class="apiHelperIccidLookupResult"></span></div>           
            <div class="apiHelperIccidLookupOutputDetails">
                <table class="apiHelperTableNoMargin">
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

