<div id="imageOverlayContainer" style="display:none; ">
    <div id="imageOverlay">
        <canvas></canvas>
    </div>
</div>
<div id="imageToolsContainer" style="display:none; ">
    <div class="imageToolsBox">
        <!-- <div class="imageToolsButton imageOverlayDownloadIcon" title="Download" style="font-size: 14px;"><u>&darr;</u></div>
        <div class="imageToolsSpacer"></div> -->
        <div class="imageToolsButton imageOverlayMinusIcon" title="Zoom Out">&minus;</div>
        <div class="imageToolsButton imageOverlayPlusIcon" title="Zoom In">&plus;</div>
        <div class="imageToolsSpacer"></div>
        <div class="imageToolsButton imageOverlayCloseIcon" title="Close">&#x2715;</div>
        <div class="imageToolsSpacer"></div>
    </div>
</div>


