<!-- Required includeDefinitions: [api-helper, api-helper-extras, api-helper-tools, xlsx] -->
<div class="apiHelper apiHelperImportDevices apiHelperTable apiHelperLoggedIn">
    <div class="apiHelperBox">
        <div style="margin: 12px 2px 12px 6px; border-top: 1px;">Import settings</div>
        {{> create-or-select-product}}
        <div class="productSelected" style="display:none">
            {{> device-group }}
            <div style="margin-left: 143px; margin-bottom: 5px; font-size: 10px;">Assigning device groups replaces any device groups previously set on the device</div>
            <div class="apiHelperTableFlexContainer" style="margin: 2px 2px 2px 6px;">
                <div style="width: 135px;">Claim device</div>
                <div style="width: 550px;">
                    <div><label><input type="checkbox" class="claimCheckbox" />Claim to </label><select class="claimUsernameSelect apiHelperSelect"></select></div>
                </div>
            </div>
            <div class="apiHelperTableFlexContainer" style="margin: 2px 2px 2px 6px;">
                <div style="width: 135px;">Name devices</div>
                <div style="width: 550px;">
                    <div><label><input type="radio" name="nameDevices" value="none" checked/>Do not set name</label></div>
                    <!-- <div><label><input type="radio" name="nameDevices" value="manual"/>Set manually below</label></div> -->
                    <div><label><input type="radio" name="nameDevices" value="sequential"/>Sequentially with prefix </label> &nbsp;
                        <input type="text" size="15" class="nameDevicePrefix" /></div>
                    <div><label><input type="radio" name="nameDevices" value="serial" />Use serial number for name</label></div>
                    <div><label><input type="radio" name="nameDevices" value="random" />Random words</label></div>
                </div>
            </div>
            <div class="apiHelperTableFlexContainer" style="margin: 2px 2px 2px 6px; align-items: center;">
                <div style="width: 135px;">Mark development</div>
                <div style="width: 550px;">
                    <div><label><input type="checkbox" class="markDevelopmentCheckbox" />Mark as development device</label></div>
                </div>
            </div>
            <div style="margin: 12px 2px 12px 6px;">Add devices:</div>
            <div class="apiHelperTableFlexContainer" style="margin: 2px 2px 2px 6px; align-items: center;">
                <div style="width: 135px;">Add from file</div>
                <div style="width: 550px;" class="fileDropZone">
                    <button class="selectFileButton">Select File</button> or drag-and-drop file here
                    <input type="file" class="importFileInput" style="display:none" />
                </div>
            </div>
            <div class="apiHelperTableFlexContainer" style="margin: 2px 2px 2px 6px; align-items: center;">
                <div style="width: 135px;">Manual entry</div>
                <div style="width: 550px;">
                    <div class="apiHelperTableFlexContainer" style="align-items: center;">
                        <div><textarea class="manualEntryInput" style="width: 450px; height: 60px; font-size: 9px;" spellcheck="false"></textarea></div>
                        <div style="margin: 0px 0px 0px 4px;"><button class="addButton">Add</button></div>
                    </div>
                </div>
            </div>
            <div class="apiHelperStatus"></div>
            <div class="progressDiv" style="display:none">
                <progress value="0" max="100"></progress>
            </div>
            {{> table-display }}
            <div>
                <div style="padding: 16px 0px 6px 2px;"><button class="importButton" disabled>Import</button> &nbsp;&nbsp;
                    <button class="downloadButton" disabled>Download results</button></div>
                <div style="padding: 16px 0px 6px 2px;"><button class="clearButton" disabled>Clear Device List</button></div>
            </div>
            <div class="statusMessage"></div>
        </div>
    </div>
</div>

