<!-- Required includeDefinitions: [api-helper, api-helper-extras, api-helper-tools, xlsx] -->
<div class="apiHelper apiHelperImportDevices apiHelperTable apiHelperLoggedIn">
    <div class="apiHelperBox">
        {{> create-or-select-product}}
        {{> device-group }}
        <div class="apiHelperTableFlexContainer" style="margin: 2px 2px 2px 6px;">
            <div style="width: 135px;">Claim device</div>
            <div style="width: 550px;">
                <div><label><input type="checkbox" class="claimLoggedInCheckbox" />Claim to the logged in account <span></span></label></div>
                <div><label><input type="checkbox" class="claimTokenCheckbox"/>Claim to an account using access token</label>
                    <input type="text" size="20" class="claimTokenInput" /></div>
            </div>
        </div>
        <table class="apiHelperTableNoMargin">
            <tbody>
                <tr>
                    <td>Claim Device</td>
                    <td></td>
                </tr>
            </tbody>
        </table>    
        <div class="apiHelperStatus"></div>
        <div class="progressDiv" style="display:none">
            <progress value="0" max="100"></progress>
        </div>
        {{> table-display }}
    </div>
</div>

