<div class="apiHelper apiHelperJsonToCode">
    <div class="apiHelperBox">
        <p><button class="apiHelperConvertToCodeReadableButton apiHelperButton">Convert to Code (readable)</button> &nbsp;
            <button class="apiHelperConvertToCodeCompactButton apiHelperButton">Convert to Code (compact)</button> &nbsp;</p>
        <div class="apiHelperJsonToCodeStatus"></div>
    </div>
    <div class="apiHelperJsonToCodeOutput">
        <textarea rows="{{rows}}" cols="{{cols}}" class="apiHelperMono"></textarea>
    </div>
</div>
