<div class="apiHelper apiHelperJsonToVariant">
    <div class="apiHelperBox">
        <p><button class="apiHelperCodeGeneratorButton apiHelperButton">Generate Variant C++ code</button> &nbsp;
        </p>
        <div class="apiHelperJsonToCodeStatus"></div>
    </div>
    <div class="apiHelperJsonToCodeOutput">
        <textarea rows="{{rows}}" cols="{{cols}}" class="apiHelperMono"></textarea>
    </div>
</div>
