<div class="apiHelper apiHelperJsonLinter">
    <div class="apiHelperBox">
        <p><button class="apiHelperJsonLinterPrettifyButton apiHelperJsonLinterValidOnlyButton apiHelperButton">Prettify</button> &nbsp;
            <button class="apiHelperJsonLinterCompactButton apiHelperJsonLinterValidOnlyButton apiHelperButton">Compact</button> &nbsp;
            <button class="apiHelperJsonLinterStringifyButton apiHelperJsonLinterValidOnlyButton apiHelperButton">Stringify</button> &nbsp;
            <button class="apiHelperJsonLinterUnstringifyButton apiHelperJsonLinterValidOnlyButton apiHelperButton">Unstringify</button> &nbsp;</p>
        <div class="apiHelperDeviceFunctionStatus"></div>
    </div>
    <div class="apiHelperJsonLinterEditor">
        <textarea rows="{{rows}}" cols="{{cols}}">{{defaultValue}}</textarea>
    </div>
</div>
