<div class="apiHelper apiHelperLoggedIn apiHelperFunctionTest" style="display:none;">
    <div style="padding: 10px">
        <p>Device: <select class="apiHelperLedFunctionTestSelect apiHelperSelect"></select> &nbsp;
            <button class="apiHelperLedFunctionRefresh apiHelperButton">Refresh</button></p>
        <p><button class="apiHelperLedFunctionTestOn apiHelperButton">LED On</button>&nbsp;&nbsp;<button class="apiHelperLedFunctionTestOff apiHelperButton">LED Off</button></p>
        <div class="apiHelperLedFunctionTestStatus"></div>
    </div>
</div>

