<div class="apiHelper apiHelperLoggedIn apiHelperLedFunctionTest" style="display:none;">
    <div class="apiHelperBox">
        <p>Device: <select class="apiHelperLedFunctionTestSelect apiHelperCommonDevice apiHelperSelect"></select></p>
        <p><button class="apiHelperLedFunctionTestOn apiHelperButton">LED On</button>&nbsp;&nbsp;<button class="apiHelperLedFunctionTestOff apiHelperButton">LED Off</button></p>
        <div class="apiHelperLedFunctionTestStatus"></div>
    </div>
</div>

