<div class="apiHelperLibraryBuilds" data-info="{{infoFile}}">
    <p>Device OS Version: <select class="apiHelperLibraryBuildsVersion apiHelperSelect"></select></p>
    <div>
        <table class="apiHelperLibraryBuildsOutput">
           <thead></thead> 
           <tbody></tbody>
        </table>
        <p style="font-size:small; font-style: italic;">This table is generated from an automated build. Success only indicates that the code compiled successfully.  
        <span style="display:none" class="apiHelperLibraryBuildsFailureNote">This library may have included examples that are not intended to work on all devices, so a failed build may not indicate an actual problem with the library. </span>
        </p>
    </div>
</div>

