<div class="apiHelperLibrarySearch">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <p>
                <input type="text" class="apiHelperLibrarySearchField" size="50" />
                <button class="apiHelperLibrarySearchButton">Search</button>
            </p>
            <div class="apiHelperLibrarySearchStatus"></div>
        </div>
    </div>
    <div class="apiHelperLibrarySearchOutput">
    </div>

</div>

