<div class="apiHelperLibraryBuilds" data-info="{{infoFile}}">
    <p>Device OS Version: <select class="apiHelperLibraryBuildsVersion apiHelperSelect"></select></p>
    <div>
        <table class="apiHelperLibraryBuildsOutput">
           <thead></thead> 
           <tbody></tbody>
        </table>
    </div>
</div>

