<div class="apiHelperLibraryBrowser" data-info="{{infoFile}}">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <p>
                <button class="apiHelperLibraryStart">Get list of available files</button>
                <select class="apiHelperLibrarySelect apiHelperSelect" style="display:none;"></select>
            </p>
            <div class="apiHelperLibraryBrowserStatus"></div>
        </div>
    </div>
    <div class="apiHelperLibraryBrowserOutput" style="display:none;">
        <div class="apiHelperLibraryBrowserOutputDiv" style="display:none;"></div>
        <div class="apiHelperLibraryBrowserOutputPre" style="display:none;"><pre class="codeboxPre"></pre></div>
        <div class="apiHelperLibraryBrowserOutputCode" style="height:{{height}}px; overflow:scroll; display:none;">
            <pre class="codeboxPre"><code class="codebox lang-cpp">                
            </code></pre>
        </div>
    </div>

</div>

