<!-- Required includeDefinitions: [api-helper, api-helper-extras, api-helper-tools, xlsx] -->
<div class="apiHelper apiHelperListDevices apiHelperTable apiHelperLoggedIn">
    <div class="apiHelperBox">
        {{> product-or-sandbox-selector}}
        <table class="apiHelperTableNoMargin">
            <tbody>
                <tr>
                    <td colspan="2">
                        <button class="apiHelperButton actionButton">List Devices</button>
                    </td>                
                    <td>&nbsp;</td>
                </tr>
            </tbody>
        </table>    
        <div class="apiHelperStatus"></div>
        <div class="progressDiv" style="display:none">
            <progress value="0" max="100"></progress>
        </div>
        {{> table-display }}
    </div>
</div>

