<div class="modbusClient">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <div class="webSerialAvailable" style="display:none;">
                <button id="usbConnect">Connect</button>
            </div>
            <div class="webSerialNotAvailable" style="display:none;">
                This tool is only available on Chrome, Edge, and Opera browsers on Windows, Linux, Mac, and Chromebook. It is not available on other
                browsers such as Safari and Firefox, and is not available on Android or iOS mobile devices.
            </div>
        </div>
    </div>
</div>
