<div class="apiHelperModuleVersion">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <table class="apiHelperTableNoMargin">
                <tbody>
                    <tr>
                        <td>Platform</td>

                        <td><select class="moduleVersionPlatform"></select></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Version</td>
                        <td><select class="moduleVersion1"></select></td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>Version to compare to</td>
                        <td><select class="moduleVersion2"></select></td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>                
        </div>
    </div>
    <div class="moduleVersionOutput">
        <table class="apiHelperTableNoMargin">
            <thead>
                <tr>
                    <th colspan="2" class="moduleVersionHead1"></th>
                    <th colspan="2" class="moduleVersionHead2"></th>
                </tr>
            </thead>
            <tbody class="moduleVersionBody"></tbody>
        </table>
    </div>
</div>


