<div class="apiHelper powerComparison">
    <div class="apiHelperBox">
        <table class="powerComparisonTable">
            <thead>                
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>


