<div class="apiHelperProductOrSandboxSelector" data-no-sandbox="{{no-sandbox}}"> 
    <table class="apiHelperTableNoMargin">
        <tbody>
            <tr class="devOrProductRow">
                <td class="apiHelperProductSelectorLabel apiHelperDevOrProductRadio">
                <label><input type="radio" name="devOrProduct" value="product" checked/>Product Devices</label> &nbsp;&nbsp;
                <label><input type="radio" name="devOrProduct" value="dev" />Sandbox Developer Devices</label> &nbsp;&nbsp;
                </td><td>&nbsp;</td>
            </tr>
            <tr class="sandboxOrgRow" style="display:none">
                <td class="apiHelperProductSelectorLabel apiHelperSandboxOrgRadio">
                <label><input type="radio" name="sandboxOrg" value="sandbox" checked />Sandbox Product</label> &nbsp;&nbsp;
                <label><input type="radio" name="sandboxOrg" value="org" />Organization Product</label> &nbsp;&nbsp;
                </td><td>&nbsp;</td></tr>
            <tr class="orgSelectorRow" style="display:none">
                <td class="apiHelperProductSelectorLabel">Organization &nbsp;<select class="apiHelperOrgSelect apiHelperSelect"></select></td><td>&nbsp;</td>
            </tr>
            <tr class="productSelectorRow">
                <td class="apiHelperProductSelectorLabel">Product &nbsp;<select class="apiHelperProductSelect apiHelperSelect"></select></td>
            </tr>
        </tbody>
    </table>            
</div>