<div class="apiHelper apiHelperLoggedIn apiHelperPublishEvent" style="display:none;">
    <div class="apiHelperBox">
        <p>
            Event Name: <input type="text" class="apiHelperPublishEventName apiHelperSmallText" size="15" 
                {{#if defaultName}}
                value="{{defaultName}}" 
                {{/if}}
            />
        </p>
        <p>
            Event Data: <input type="text" class="apiHelperPublishEventData apiHelperSmallText" size="70" 
                {{#if defaultData}}
                value="{{defaultData}}" 
                {{/if}}
            />
        </p>

        <p><button class="apiHelperPublishEventButton apiHelperButton">Publish Event</button></p>
        <div class="apiHelperPublishEventStatus"></div>
    </div>
</div>

