<div class="apiHelperReleaseNotes">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <div style="margin: 10px 0px 10px 0px">
                <label><input type="radio" name="mode" value="rel1"/> Release notes for version </label>
                    <select class="apiHelperSelect versionSelect">
                        <option value="-">Select version to display</option>
                    </select>
            </div>
            <div style="margin: 10px 0px 10px 0px">
                <label><input type="radio" name="mode" value="rel2"/> Cumulative release notes from version </label>
                    <select class="apiHelperSelect version1Select">
                        <option value="-">Select version to display</option>
                    </select>
                     to 
                    <select class="apiHelperSelect version2Select">
                    </select>
            </div>
            <div style="margin: 10px 0px 10px 0px">
                <label><input type="radio" name="mode" value="search"/> Search release notes </label>
                    <input type="text" class="searchInput" size="20"/> in versions since 
                    <select class="apiHelperSelect versionAfterSelect">
                        <option value="-">Show all versions</option>
                    </select>
            </div>
            <div style="margin: 10px 20px 10px 0px">
                <label><input type="checkbox" class="showSearchTips">Show search tips</label>
            </div>
            <div style="margin: 10px 0px 10px 0px; display: none;" class="searchTips">
                <ul>
                    <li>Search for entries containing <b>>timeout</b> but not containing <b>ble</b>: <b>+timeout -ble</b>
                    <li>Search for entries containing <b>connect</b>, favoring entries tagged <b>Gen 3</b>: <b>connect tags:Gen 3</b>
                    <li>Wildcards using * are supported
                    <li>Many more options supported by <a href="https://lunrjs.com/guides/searching.html" target="_blank">lunr</a>
                </ul>
            </div>
        </div>
    </div>
    <div class="apiHelperOutput">
    </div>
</div>


