<div class="apiHelperReleaseNotes">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <div>
                <label><input type="radio" name="mode" value="releaseNotes1"/> Release notes for version</label>
                    <select class="apiHelperSelect versionSelect">
                        <option value="-">Select version to display</option>
                    </select>
            </div>
        </div>
    </div>
    <div class="apiHelperOutput">
    </div>
</div>


