<div id="consent-manager"></div>

<!-- SEGMENT COOKIE CONSENT MANAGER https://github.com/segmentio/consent-manager -->
<script type="text/javascript">
  var writeKey = {{#if development}}'mEjdTq9ReorxqwjfYGWbvVNgw4Bg2NXF'{{else}}'PiTQtuDPGp3hKGGN3lU9GJvInSsnKBCR'{{/if}};
  window.consentManagerConfig = function(exports) {
    return {
      container: '#consent-manager',
      writeKey: writeKey,
      shouldRequireConsent: () => true,
      bannerContent: exports.React.createElement('span', null, "We use cookies (and other similar technologies) to collect data to improve your experience on our site. By using our website, you’re agreeing to the collection of data as described in our",' ',exports.React.createElement('a',{ href:'https://www.particle.io/legal/terms-of-service/',target:'_blank' },'Website Data Collection Policy'),'.'),
      bannerSubContent: 'You can change your preferences at any time.',
      preferencesDialogTitle: 'Website Data Collection Preferences',
      preferencesDialogContent: 'We use data collected by cookies and JavaScript libraries to improve your browsing experience, analyze site traffic, deliver personalized advertisements, and increase the overall performance of our site.',
      cancelDialogTitle: 'Are you sure you want to cancel?',
      cancelDialogContent: 'Your preferences have not been saved. By continuing to use our website, you՚re agreeing to our Website Data Collection Policy.',
      bannerActionsBlock: true,
      defaultDestinationBehavior: 'imply',
      bannerBackgroundColor: '#00334F'
    }
  }
</script>
<script type="text/javascript" src="https://unpkg.com/@segment/consent-manager@5.3.0/standalone/consent-manager.js"></script>

<!-- SEGMENT analytics.js -->
<script type="text/javascript">
  !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on","addSourceMiddleware","addIntegrationMiddleware","setAnonymousId","addDestinationMiddleware"];analytics.factory=function(e){return function(){if(window.analytics.initialized)return window.analytics[e].apply(window.analytics,arguments);var i=Array.prototype.slice.call(arguments);i.unshift(e);analytics.push(i);return analytics}};for(var i=0;i<analytics.methods.length;i++){var key=analytics.methods[i];analytics[key]=analytics.factory(key)}analytics.load=function(key,i){var t=document.createElement("script");t.type="text/javascript";t.async=!0;t.src="https://cdn.segment.com/analytics.js/v1/" + key + "/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);analytics._loadOptions=i};analytics._writeKey={{#if development}}'mEjdTq9ReorxqwjfYGWbvVNgw4Bg2NXF'{{else}}'PiTQtuDPGp3hKGGN3lU9GJvInSsnKBCR'{{/if}};;analytics.SNIPPET_VERSION="4.16.1";
    analytics.page()
  }}();
</script>

<!-- Vendor theme mods -->
<script src='/assets/js/jquery-styling.js'></script>
<script src='/assets/js/bootstrap-dropdown.js'></script>
<script src='/assets/js/prettify.js'></script>
<script src='/assets/js/svg.min.js'></script>
<script src="/assets/js/js.cookie-2.2.1.min.js"></script>
<!-- Search -->
<script src="/assets/js/search.js"></script>
<!-- Custom -->
<script type="text/javascript" src="https://s3.amazonaws.com/redirect.particle.io/redirect-banner.js"></script>
<script type="text/javascript" src="/assets/js/handlebars-runtime.js"></script>
<script type="text/javascript" src="/assets/js/precompiled.js"></script>
<script src='/assets/js/docs.js'></script>
<script src='/assets/js/navmenu.js'></script>
{{#contains includeDefinitions 'device-animation'}}
<script src='/assets/js/device-animation.js'></script>
{{/contains}}
<script src='/assets/js/collapse.js'></script>
<script src='/assets/js/fonts-license.js'></script>

{{#contains includeDefinitions 'api-helper'}}
<script src="/assets/js/particle.min.js"></script>
<script src="/assets/js/FileSaver.min.js"></script>
<script src='/assets/js/api-helper.js'></script>
{{/contains}}
<script src='/assets/js/api-helper-auth.js'></script>
{{#contains includeDefinitions 'api-helper-cloud'}}
<script src='/assets/js/api-helper-cloud.js'></script>
{{/contains}}
{{#contains includeDefinitions 'api-helper-table'}}
<!-- Must be loaded before modules that implement tables -->
<script src='/assets/js/api-helper-table.js'></script>
{{/contains}}
{{#contains includeDefinitions 'api-helper-config'}}
<script src='/assets/js/api-helper-config.js'></script>
{{/contains}}
{{#contains includeDefinitions 'api-helper-events'}}
<script src='/assets/js/api-helper-events.js'></script>
{{/contains}}
{{#contains includeDefinitions 'api-helper-extras'}}
<script src='/assets/js/api-helper-extras.js'></script>
{{/contains}}
{{#contains includeDefinitions 'api-helper-primitives'}}
<script src='/assets/js/api-helper-primitives.js'></script>
{{/contains}}
{{#contains includeDefinitions 'api-helper-json'}}
<script src='/assets/js/api-helper-json.js'></script>
{{/contains}}
{{#contains includeDefinitions 'api-helper-ledger'}}
<script src='/assets/js/api-helper-ledger.js'></script>
{{/contains}}
{{#contains includeDefinitions 'api-helper-library'}}
<script src='/assets/js/api-helper-library.js'></script>
<script src='/assets/js/pako.min.js'></script>
<script src='/assets/js/untar.js'></script>
{{/contains}}
{{#contains includeDefinitions 'api-helper-mustache'}}
<script src='/assets/js/api-helper-mustache.js'></script>
{{/contains}}
{{#contains includeDefinitions 'api-helper-pins'}}
<script src='/assets/js/api-helper-pins.js'></script>
{{/contains}}
{{#contains includeDefinitions 'api-helper-protobuf'}}
<script src='/assets/js/api-helper-protobuf.js'></script>
{{/contains}}
{{#contains includeDefinitions 'api-helper-projects'}}
<script src='/assets/js/api-helper-projects.js'></script>
{{/contains}}
{{#contains includeDefinitions 'api-helper-sim'}}
<script src='/assets/js/api-helper-sim.js'></script>
{{/contains}}
{{#contains includeDefinitions 'api-helper-tools'}}
<script src='/assets/js/api-helper-tools.js'></script>
{{/contains}}
{{#contains includeDefinitions 'api-helper-tickets'}}
<script src='/assets/js/api-helper-tickets.js'></script>
{{/contains}}
{{#contains includeDefinitions 'api-helper-tracker'}}
<script src='/assets/js/api-helper-tracker.js'></script>
{{/contains}}
{{#contains includeDefinitions 'api-helper-troubleshooting'}}
<script src='/assets/js/api-helper-troubleshooting.js'></script>
{{/contains}}
{{#contains includeDefinitions 'api-helper-usb'}}
<script src='/assets/js/particle-usb.bundle.js'></script>
<script src='/assets/js/api-helper-usb.js'></script>
{{/contains}}
{{#contains includeDefinitions 'api-helper-versions'}}
<script src='/assets/js/api-helper-versions.js'></script>
{{/contains}}
{{#contains includeDefinitions 'api-helper-weather'}}
<script src='/assets/js/api-helper-weather.js'></script>
{{/contains}}
{{#contains includeDefinitions 'api-helper-webide'}}
<script src='/assets/js/api-helper-webide.js'></script>
{{/contains}}
{{#contains includeDefinitions 'battery-calculator'}}
<script src='/assets/js/battery-calculator.js'></script>
{{/contains}}
{{#contains includeDefinitions 'ble-serial'}}
<script src="/assets/js/ble-serial.js"></script>
{{/contains}}
{{#contains includeDefinitions 'ble-tdm'}}
<script src="/assets/js/jsrand.min.js"></script> <!-- https://github.com/DomenicoDeFelice/jsrand -->
<script src="/assets/js/ble-tdm.js"></script>
{{/contains}}
{{#contains includeDefinitions 'cbor'}}
<script src="/assets/js/cbor.js"></script>
{{/contains}}
{{#contains includeDefinitions 'chart'}}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{{/contains}}
{{#contains includeDefinitions 'codemirror'}}
<script src="/assets/files/codemirror/codemirror.js"></script>
<script src="/assets/files/codemirror/jshint.js"></script>
<script src="/assets/files/codemirror/jsonlint.js"></script>
<script src="/assets/files/codemirror/javascript.js"></script>
<script src="/assets/files/codemirror/lint.js"></script>
<script src="/assets/files/codemirror/json-lint.js"></script>
{{/contains}}
{{#contains includeDefinitions 'api-helper-mustache'}}
<script src="/assets/js/hogan-3.0.2.amd.js"></script>
{{/contains}}
{{#contains includeDefinitions 'carrier-family-map'}}
<script src="/assets/js/dataui.js"></script>
<script src="/assets/js/carriers.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
{{/contains}}
{{#contains includeDefinitions 'code-generator'}}
<script src="/assets/js/CodeGenerator.js"></script>
<script src="/assets/js/code-generator.js"></script>
{{/contains}}
{{#contains includeDefinitions 'datastore'}}
<script src="/assets/js/datastore.js"></script>
{{/contains}}
{{#contains includeDefinitions 'device-selector'}}
<script src="/assets/js/device-selector.js"></script>
{{/contains}}
{{#contains includeDefinitions 'device-setup-usb'}}
<script src="/assets/js/device-setup-usb.js"></script>
{{/contains}}
{{#contains includeDefinitions 'firmware-reference'}}
<script src="/assets/js/firmware-reference.js"></script>
{{/contains}}
{{#contains includeDefinitions 'flash-dump-usb'}}
<script src="/assets/js/flash-dump-usb.js"></script>
{{/contains}}
{{#contains includeDefinitions 'lunr'}}
<script src='/assets/js/lunr.min.js'></script>
{{/contains}}
{{#contains includeDefinitions 'mermaid'}}
<script src='/assets/js/mermaid-customization.js'></script>
<script type="module">
  import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
  mermaid.initialize({ 
    startOnLoad: true,
    theme: 'base',
    themeVariables: mermaidCustomization.themeVariables,
  });
</script>
{{/contains}}
{{#contains includeDefinitions 'power-comparison'}}
<script src='/assets/js/power-comparison.js'></script>
{{/contains}}
{{#contains includeDefinitions 'release-notes'}}
<script src='/assets/js/release-notes.js'></script>
{{/contains}}
{{#contains includeDefinitions 'resistor-calculator'}}
<script src='/assets/js/resistor-calculator.js'></script>
{{/contains}}
{{#contains includeDefinitions 'showdown'}}
<script src='/assets/js/showdown.min.js'></script>
{{/contains}}
{{#contains includeDefinitions 'stackblitz'}}
<script src="https://unpkg.com/@stackblitz/sdk/bundles/sdk.umd.js"></script>
<script src='/assets/js/api-helper-stackblitz.js'></script>
{{/contains}}
{{#contains includeDefinitions 'sunset-tool'}}
<script src="/assets/js/sunset-tool.js"></script>
{{/contains}}
{{#contains includeDefinitions 'ts-calculator'}}
<script src="/assets/js/ts-calculator.js"></script>
{{/contains}}
{{#contains includeDefinitions 'usb-serial'}}
<script src="/assets/js/usb-serial.js"></script>
{{/contains}}
{{#contains includeDefinitions 'webdfu'}}
<script src="/assets/js/device-restore-dfu.js"></script>
<script src="/assets/js/webdfu/dfu.js"></script>
<script src="/assets/js/webdfu/dfuse.js"></script>
{{/contains}}
{{#contains includeDefinitions 'whats-new'}}
<script src="/assets/js/whats-new.js"></script>
{{/contains}}
{{#contains includeDefinitions 'xlsx'}}
<script src="/assets/js/xlsx.full.min.js"></script>
{{/contains}}
{{#contains includeDefinitions 'zip'}}
<script src="/assets/js/zip-fs.min.js"></script>
{{/contains}}

<!-- Live Reload -->
{{#if development}}
<script src="http://localhost:35729/livereload.js"></script>
{{/if}}
