<div id="searchOverlay">
    <div class="searchOverlayCloseIcon">&#x2715;</div>
    <div class="searchContent">
        <div class="searchOverlayQuery">
            <div class="searchOverlayQueryFlex">
                <input type="text" class="searchOverlayQueryInput" />
            </div>
            <div>
                <button class="searchOverlaySearchButton">Search</button>
                <button class="searchOverlayClearButton">Clear</button>                
            </div>
        </div>
        <div class="searchOverlayResults">            
        </div>
    </div>
</div>
