<div id="searchOverlay">
    <div class="searchOverlayCloseIcon">&#x2715;</div>
    <div class="searchContent">
        <div class="searchOverlayQuery">
            <input type="text" size="74" class="searchOverlayQueryInput" />
            <button style="margin-left: 10px;" class="searchOverlaySearchButton">Search</button>
        </div>
        <div class="searchOverlayResults">            
        </div>
    </div>
</div>
