<div class="apiHelper apiHelperLoggedIn apiHelperServiceAgreementsCurl" style="display:none;">
    <div class="apiHelperBox">
        <p>Sample curl command:</p>
        <pre class="apiHelperMonoSmall"></pre>
        <p><button class="apiHelperActionButton">Execute Command</button> &nbsp;<button class="copyCommand">Copy Command</button></p>
    </div>
    <div class="apiHelperApiResponse" style="display:none">Response:<br/><pre class="apiHelperMonoSmall" style="width: 680px; overflow-wrap: anywhere;"></pre></div>
</div>

