<div class="apiHelper apiHelperSSO">
    <div class="apiHelperBox">
        <div class="apiHelperLoggedIn apiHelperSmallText" style="display:none">
            <p>Logged into Particle as <span class="apiHelperUser"></span> &nbsp;
                <button class="apiHelperLogoutButton">Logout</button>
            </p>
        </div>
        <div class="apiHelperCouldSSO apiHelperSmallText" style="display:none">
            <p>Log in to your Particle account to interact with your devices</p>
            <p><button class="apiHelperLoginButton">Login</button></p>
        </div>
        <div class="apiHelperFakeAuth apiHelperSmallText" style="display:none">
            <p>Cannot use Particle Single Sign-On from outside the Particle domain.</p>
            <button class="apiHelperFakeAuthButton">Enter authentication manually</button>
        </div>
    </div>
</div>
