<div class="stackblitzEmbed" data-project="{{project}}" style="position:relative;" data-width="{{width}}" data-height="{{height}}" data-options="{{options}}">
    <div class="iframeDiv">Waiting to start demo</div>
</div>
