<div class="apiHelper sunsetTool" data-options="{{options}}">
    <div class="sunsetTimelineDiv">
        <canvas width="700" height="230"></canvas>
    </div>
    <div class="sunsetDeviceDiv">        
    </div>
</div>

