<div class="apiHelper sunsetMap" data-options="{{options}}" style="display:none;">
    <div class="sunsetMapDiv"></div>
    <div style="padding-top: 40px;">
        Service at end of <select class="sunsetMapDateSelect apiHelperSelect"></select> &nbsp;
        <input type="range" class="inputRange" style="width: 400px;"/>
    </div>
    <div>
        <table class="apiHelperTable">
            <tbody class="sunsetMapLegend">
            </tbody>
        </table>
    </div>
    <div>
        <p class="attribution">World map from [simplemaps.com](https://simplemaps.com/resources/svg-world)</p>
    </div>
</div>

