<div class="apiHelper sunsetTool" data-options="{{options}}">
    <div class="sunsetTimelineDiv">
        <canvas width="700" height="230"></canvas>
    </div>
    <div style="padding: 10px 10px 10px 10px;">
        <div class="sunsetDeviceDiv">
            <h3>2G/3G device support</h3>
            <table class="sunsetDeviceSupportTable">
                <thead>
                    <tr>
                        <th>Device</th>
                    </tr>
                </thead>
                <tbody>                
                </thead>
            </table>
            <h3>Recommended SKUs</h3>
            <table class="sunsetDeviceSkuTable" style="max-width: 660px;">
                <thead>
                    <tr>
                        <th>SKU</th>
                        <th>Description</th>
                        <th>Lifecycle</th>
                        <th>Replacement</th>
                    </tr>
                </thead>
                <tbody>                
                </thead>
            </table>
        </div>
    </div>
</div>

