<div class="apiHelper sunsetList" data-options="{{options}}" style="display:none;">
    <div>
        <h3>2G/3G sunsets</h3>
        <table class="sunsetListTable apiHelperTableNoMargin">
            <thead>
                <tr>
                    <th></th>
                    <th>Date</th>
                    <th>Country</th>
                    <th>Carrier Sunset</th>
                    <th>Remaining 2G/3G Carriers</th>
                </tr>
            </thead>
            <tbody>                
            </tbody>
        </table>
    </div>
</div>

