<a href="http://status.particle.io">
	<div class="status">
	  <i class="icon ion-looping"></i>
	  <span>
	    Requesting system status
	  </span>
	</div>
</a>

<div id="ss_menu">
  <div class="ss_button">Account & Shipping</div>
  <div class="ss_content">
  
    <li>Where is my order?
    	<p>If you've ordered from our store before November 1st 2015, you can find your order information <a href="https://dashboard.trycelery.com/status" target="_blank">here.</a></p>
    </li>

    <li>What is your return policy?
    	<p>Our return policy is fairly generous, within reason, of course. Read more about that <a href="/support/account-and-shipping/general-shipping-info/{{#if photon}}photon{{/if}}{{#if core}}core{{/if}}/#exchanges-for-damaged-goods">here.</a></p>
    </li>

    <li>Why isn't my payment processing?
    	<p>Your payment isn't probably due to an issue with Paypal </p>
    </li>

    <li>Do you have distributors in other countries?
    	<p>Our list of international distributors are listed <a href="/support/account-and-shipping/general-shipping-info/{{#if photon}}photon{{/if}}{{#if core}}core{{/if}}/#international-shipping">here.</a></p>
    </li>
    

  </div>
  

  <div class="ss_button">Technical Support</div>
	<div class="ss_content">

		<li>Why is my photon not connecting to the internet?
      <p>Most commonly, your wifi network may not be setup properly to function with your Particle device. Read more <a href="/support/troubleshooting/common-issues/{{#if photon}}photon{{/if}}{{#if core}}core{{/if}}/#wi-fi-network-requirements">here.</a></p>
    </li>

		<li>Why won't my device setup properly?
      <p>Aside from <a href="/support/troubleshooting/common-issues/{{#if photon}}photon{{/if}}{{#if core}}core{{/if}}/#wi-fi-network-requirements">wifi requirements,</a>your device may need a simple firmware upgrade. Mini-tutorial here <a href="{{#if photon}}/support/troubleshooting/common-issues/photon/#manual-firmware-update{{/if}}{{#if core}}/support/troubleshooting/common-issues/core/#full-firmware-upgrade{{/if}}">here.</a></p>
    </li>

		<li>What does this [LED color] mean?
      <p>All of our device LED modes are listed <a href="/support/troubleshooting/troubleshooting-support/{{#if photon}}photon{{/if}}{{#if core}}core{{/if}}">here</a> with in-depth explanations and videos associated in the <a href="/guide/getting-started/modes//{{#if photon}}photon{{/if}}{{#if core}}core{{/if}}">guide.</a></p>
    </li>

		<li>I think my device may be broke...what now?</li>


	</div>

</div>