<div id="ss_menu">
  <div class="ss_button">Account & Shipping</div>
  <div class="ss_content">
    <li>Where is my shit</li>
    <li>Where is my shit</li>
    <li>Where is my shit</li>


  </div>
  

  <div class="ss_button">Technical Support</div>
  <div class="ss_content">Broken</div>
  <div class="ss_content">Hello</div>

</div>