<a href="http://status.particle.io">
	<div class="status">
	  <i class="icon ion-looping"></i>
	  <span>
	    Requesting system status
	  </span>
	</div>
</a>

<div id="ss_menu">
  <div class="ss_button">Account & Shipping</div>
  <div class="ss_content">
  
    <li>Where is my order?
    	<p>blah blach blahb</p>
    </li>

    <li>What is your return policy?
    	<p>blah blach blahb</p>
    </li>

    <li>Why isn't my payment processing?
    	<p>blah blach blahb</p>
    </li>

    <li>Do you have distributors in other countries?
    	<p>blah blach blahb</p>
    </li>
    

  </div>
  

  <div class="ss_button">Technical Support</div>
	<div class="ss_content">
		<li>Why is my photon not connecting to the internet?
			<p>blah blach blahb</p>
		</li>
		<li>Why won't my device setup properly?</li>
		<li>What does this [LED color] mean?</li>
		<li>I think my device may be broke...what now?</li>


	</div>

</div>