<div class="apiHelper apiHelperLoggedIn apiHelperTinker">
    <div class="apiHelperBox">
        <div class="canvasViewDiv" style="display:inline-block; padding-top:10px;">
            <canvas width="600" height="600">
            </canvas>
            <div class="pinsDiv"></div>
        </div>
        <div class="apiHelperStatus"></div>
        <div style="display:none">
            <img class="deviceImage">
        </div>
    </div>
</div>

