<div class="apiHelper apiHelperTrackerEdge" data-main="{{main}}" data-project="{{project}}" data-libraries="{{libraries}}" data-src="{{src}}">
    <div class="apiHelperBox">
        <div class="apiHelperTrackerEdgeControls">
            <p>
                Version: <select class="apiHelperTrackerEdgeVersion apiHelperSelect">
                    <option value="v12">Tracker Edge v12 (Device OS 3.0.0-rc.2 or later)</option>
                    <option value="v11">Tracker Edge v11 (Device OS 2.0.0-rc.4 or later)</option>
                </select> &nbsp;
                <button class="apiHelperTrackerEdgeDownload">Download</button>
            </p>
        </div>
        <div class="apiHelperTrackerEdgeStatus"></div>
    </div>
</div>
