<div class="troubleshootingSearch" style="padding-top: 30px;" data-page="{{page}}" data-options="{{options}}">
    <div>
        Search: <input type="text" size="20" class="troubleshootingSearchInput" />
    </div>
    <div class="troubleshootingSearchResultsDiv"></div>
</div>
