<div class="apiHelperUsbRestoreDevice apiHelperUsb">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <p><button class="apiHelperUsbRestoreDeviceSelect apiHelperButton">Select Device</button></p>
            <div class="apiHelperUsbRestoreDeviceSelectInfo"></div>
            <p>Version: <select class="apiHelperUsbRestoreDeviceVersion apiHelperSelect" disabled><option>Select Device OS Version</option></select> &nbsp;
                <button class="apiHelperUsbRestoreDeviceRestore apiHelperButton" disabled>Restore</button></p>
            <div class="apiHelperUsbRestoreDeviceStatus">
            </div>
            <p class="apiHelperUsbRestoreDeviceProgress" style="display:none">
                <label for="apiHelperUsbRestoreDeviceProgress">Progress: </label> <progress id="apiHelperUsbRestoreDeviceProgress" value="0" max="100"></progress>
            </p>
        </div>
    </div>
</div>

