<div class="apiHelperUsbSetupDone apiHelperUsb">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <p><button class="apiHelperUsbSetupDoneSelect apiHelperButton">Select Device and Mark Setup Done</button> &nbsp;
            </p>
            <div class="apiHelperUsbSetupDoneStatus">
            </div>
        </div>
    </div>
</div>

