<div class="apiHelperUsbDeviceInfo apiHelperManualSetup"> 
    <!-- api-helper, api-helper-extras, api-helper-usb -->
    <div class="selectDeviceDiv" style="display:none">
        <div>
            <p>Connect your Particle device to your computer with a USB cable, click the **Select Device** button, 
                select your device, and click **Connect**.</p>
            <p><button class="selectDeviceButton apiHelperButton">Select Device</button></p>
        </div>
    </div> 
    <div class="statusDiv">
    </div>
    <div class="resultsDiv" style="display:none">
        <table class="apiHelperTableNoMargin">
            <tbody>
            </tbody>
        </table>        
    </div>
    <div class="browserErrorDiv" style="display:none">
        <p>This tool can only be used on:</p>
        <ul>
            <li>Chrome (Windows, Mac, Linux, Chromebook, or Android, version 61 and later)</li>
            <li>Edge (version 79 or later</li>
            <li>Opera (Windows, Mac, Linux, or Android, version 48 or later</li>
            <li>Samsung Internet (version 8.0 or later)</li>
        </ul>
        <p>If you are using an iOS device, Safari, or other unsupported browser (such as Firefox), 
        you can use the Particle CLI for Windows, Mac, and Linux.</p>
    </div>         
</div>
