<div class="apiHelperUsbTest apiHelperUsb">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <p><button class="apiHelperUsbTestFind apiHelperButton">Find Devices</button> &nbsp;
            </p>
        </div>
    </div>
    <div class="apiHelperUsbTestStatus">
    </div>
    <div class="apiHelperUsbTestOutput">
    </div>
</div>

