<div class="apiHelperUsbRestoreDevice apiHelperUsb">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <p><button class="apiHelperUsbRestoreDeviceSelect apiHelperButton">Select Device</button> &nbsp;
            </p>
            <p>Version: <select class="apiHelperUsbRestoreDeviceVersion apiHelperSelect" disabled><option>Select Device OS Version</option></select> &nbsp;
                <button class="apiHelperUsbRestoreDeviceRestore apiHelperButton" disabled>Restore</button>
            </p>
            <div class="apiHelperUsbRestoreDeviceStatus">
            </div>
        </div>
    </div>
</div>

