<div class="usbSerialTools">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <p><button class="apiHelperSerialToolsIdentify apiHelperButton">Identify</button> &nbsp;
                <button class="apiHelperSerialToolsMac apiHelperButton">Wi-Fi MAC Address</button> &nbsp;
            </p>
        </div>
    </div>
    <div class="usbSerialToolsStatus">
    </div>
    <div class="usbSerialToolsOutput">
        <pre></pre>
    </div>
</div>

