<div class="usbSerialConsole">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <p><button class="apiHelperSerialConsoleConnect apiHelperButton">Connect</button> &nbsp;
                <button class="apiHelperSerialConsoleDisconnect apiHelperButton" disabled>Disconnect</button> &nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
                <input type="text" size="30" class="apiHelperSerialConsoleInput" /> 
                <button class="apiHelperSerialConsoleSend apiHelperButton" disabled>Send</button> &nbsp;&nbsp;
            </p>
            <p>
                <button class="apiHelperSerialConsoleDownload apiHelperButton">Download</button> &nbsp;
                <button class="apiHelperSerialConsoleCopy apiHelperButton">Copy to Clipboard</button> &nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button class="apiHelperSerialConsoleClear apiHelperButton">Clear</button> &nbsp;
            </p>
        </div>
    </div>
    <div class="usbSerialConsoleStatus">
    </div>
    <div class="usbSerialConsoleOutput">
        <textarea class="apiHelperMono usbSerialConsoleTextArea"></textarea>
    </div>
</div>

