<div class="apiHelperVersions">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <div>
                <table class="apiHelperTableNoMargin">                
                    <thead></thead>
                    <tbody>
                        <tr>
                            <td class="apiHelperProductSelectorLabel">Show platforms</td>
                            <td class="apiHelperProductSelectorLabel">
                                <select class="showPlatformsSelect apiHelperSelect">
                                    <option value="-" selected>All</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td class="apiHelperProductSelectorLabel">Show release state</td>
                            <td class="apiHelperProductSelectorLabel">
                                <label><input type="checkbox" class="releaseStateCheckbox releaseStatePreview" checked>Preview</label><br />
                                <label><input type="checkbox" class="releaseStateCheckbox releaseStateGA" checked>GA (generally available)</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="apiHelperProductSelectorLabel">Show release lines</td>
                            <td class="apiHelperProductSelectorLabel">
                                <select class="showReleaseLinesSelect apiHelperSelect">
                                    <option value="-" selected>All</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

