<div class="apiHelperWeatherFieldSelector">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <div class="weather_current" style="display:none">
                <h4>Current</h4>
                <table class="apiHelperTableNoMargin">
                    <thead>
                        <tr>
                            <th>Include</th>
                            <th>Field</th>
                            <th>Value</th>
                            <th>Output Key</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="weather_minutely" style="display:none">
                <h4>Minutely</h4>
                <div>Include: <select class="apiHelperSelect"></select></div>
                <table class="apiHelperTableNoMargin">
                    <thead>
                        <tr>
                            <th>Include</th>
                            <th>Field</th>
                            <th>Value</th>
                            <th>Output Key</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="weather_hourly" style="display:none">
                <h4>Hourly</h4>
                <div>Include: <select class="apiHelperSelect"></select></div>
                <table class="apiHelperTableNoMargin">
                    <thead>
                        <tr>
                            <th>Include</th>
                            <th>Field</th>
                            <th>Value</th>
                            <th>Output Key</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="weather_daily" style="display:none">
                <h4>Daily</h4>
                <div>Include: <select class="apiHelperSelect"></select></div>
                <table class="apiHelperTableNoMargin">
                    <thead>
                        <tr>
                            <th>Include</th>
                            <th>Field</th>
                            <th>Value</th>
                            <th>Output Key</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="weather_top" style="display:none">
                <h4>Top-level values</h4>
                <table class="apiHelperTableNoMargin">
                    <thead>
                        <tr>
                            <th>Include</th>
                            <th>Field</th>
                            <th>Value</th>
                            <th>Output Key</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="apiHelperStatus">Get Weather data, above, to see decoding options.</div>
        </div>
    </div>
    <div class="responseTemplate" style="display:none">
        <h4>Response Template (Mustache)</h4>
        <pre></pre>
    </div>
    <div class="templateExpanded" style="display:none">
        <h4>Rendered Template (JSON)</h4>
        <pre class="codeboxPre"><code class="codebox lang-json">                
        </code></pre>
        <p>Rendered template size: <span class="renderedTemplateSize"></span></p>
    </div>
    <div class="sampleCode" style="display:none">
        <h4>Sample Device Code (C++)</h4>
        <pre class="codeboxPre"><code class="codebox lang-cpp">                
        </code></pre>
    </div>
</div>
