<div class="apiHelperWeatherLatLon">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <table class="apiHelperTableNoMargin">
                <tr><td class="apiHelperProductSelectorLabel">Latitude, Longitude</td><td><input type="text" size="40" class="apiHelperWeatherLatLonInput" value=""></td><td class="apiHelperProductSelectorLabel">&nbsp;</td></tr>
                <tr><td class="apiHelperProductSelectorLabel">&nbsp;</td><td>Example: 37.789011, -122.404343</td><td class="apiHelperProductSelectorLabel">&nbsp;</td></tr>
            </table>
            <div class="apiHelperStatus"></div>
        </div>
    </div>
</div>
