<div class="apiHelperWeatherApiKey">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <table class="apiHelperTableNoMargin">
                <tr><td class="apiHelperProductSelectorLabel">OpenWeather API Key</td><td><input type="text" size="40" class="apiHelperWeatherApiKeyInput" value=""></td><td class="apiHelperProductSelectorLabel">&nbsp;</td></tr>
            </table>
            <div class="apiHelperStatus"></div>
        </div>
    </div>
</div>

