<div class="apiHelperWeatherApiKey">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <table class="apiHelperTableNoMargin">
                <tr><td class="apiHelperProductSelectorLabel">OpenWeather API Key</td><td><input type="text" size="40" class="apiHelperWeatherApiKeyInput" value=""></td><td class="apiHelperProductSelectorLabel">&nbsp;</td></tr>
                <tr><td class="apiHelperProductSelectorLabel">OpenWeather API Version</td><td>
                    <select class="weatherApiVersion">
                        <option value="2.5">2.5</option>
                        <option value="3.0" selected>3.0</option>
                    </select>
                </td></tr>
            </table>
            <div class="apiHelperStatus"></div>
        </div>
    </div>
</div>

