<div class="apiHelperWeatherWebhook">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <table class="apiHelperTableNoMargin">
                <tr><td class="apiHelperProductSelectorLabel">Event Name</td><td><input type="text" size="40" class="apiHelperEventNameInput" value="GetWeatherData"></td><td class="apiHelperProductSelectorLabel"></td></tr>
                <tr><td colspan="3"><button class="apiHelperActionButton" disabled>Create or Update Webhook</button></td></tr>
            </table>
            <div class="apiHelperStatus">Get Weather data and select fields, above, first.</div>
        </div>
    </div>
    <div class="apiHelperCloudApiOutputJson" style="height:{{height}}px; overflow:scroll; display:none">
        <p>Webhook custom configuration:</p>
        <pre class="codeboxPre"><code class="codebox lang-json">                
        </code></pre>
    </div>
</div>
