<div class="apiHelper apiHelperLoggedIn apiHelperWebIdeExporter">
    <div class="apiHelperBox">
        <table class="apiHelperTableNoMargin">
            <tbody>
                <tr><td class="apiHelperProductSelectorLabel" colspan="2"><button class="apiHelperGetProjects">Get Web IDE Projects</button></td><td>&nbsp;</td></tr>
            </tbody>
            <tbody class="exportOptions" style="display: none">
                <tr><td class="apiHelperProductSelectorLabel">Sort Applications By</td><td><select class="sortBy apiHelperSelect">
                    <option value="name" selected>Name</option>
                    <option value="date">Date Modified</option>
                    </select></td><td>&nbsp;</td></tr>
                <tr><td class="apiHelperProductSelectorLabel" colspan="2">
                    <button class="selectAll">Select All</button>
                    <button class="selectNone">Select None</button>
                    </td><td>&nbsp;</td></tr>
                <tr><td class="apiHelperProductSelectorLabel" colspan="2">
                    <button class="apiHelperExport">Export Projects</button></td><td>&nbsp;</td></tr>
            </tbody>
        </table>
        <div class="apiHelperStatus" style="padding-top: 5px;"></div>
        <table class="appsTable">
            <thead>
                <tr>
                    <td>Export</td>
                    <td>Name</td>
                    <td>Last Modified</td>
                    <td>Description</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

