<div class="webhookDemo apiHelper" data-control="test">
    <div class="apiHelperBox">
        <div class="showWhenStarted" style="display:none">
            <div class="testWebhookOptions webhookDemoNoProduct" style="display:none;">
                <p>A product has not been selected yet. Select a product above first.</p>
            </div>
            <div class="testWebhookOptions webhookDemoNoUrl" style="display:none;">
                <p>The server has not yet started so the webhook cannot be created because the URL is not yet known.</p>
            </div>
            <div class="testWebhookOptions testWebhookNoWebhook" style="display:none;">
                <p>The webhook has not yet been created in the product.</p>
            </div>
            <div class="testWebhookOptions testWebhookCanTest" style="display:none;">
                <p><button id="testWebhookButton">Test webhook</button></p>
            </div>
            <div id="testEventDataDiv" style="display:none">
                <div>Event data sent:</div>
                <div><pre class="apiHelperMonoSmall" id="testEventData"></pre></div>
            </div>
        </div>
        <div class="hideWhenStarted">
            <p><a class="startDemo">Start Demo</a> to interact with it, then complete the steps to set up your webhook.</p>
        </div>
    </div>
</div>
