<div class="webhookDemo apiHelper" data-control="addDevice">
    <div class="apiHelperBox">
        <div class="showWhenStarted" style="display:none.">
            <div class="addDeviceOptions addDeviceNoDevice">
                <p>No device has been selected yet. Select a device above first.</p>
            </div>
            <div class="addDeviceOptions addDeviceNoProduct" style="display:none;">
                <p>A product has not been selected yet. Select a product above first.</p>
            </div>
            <div class="addDeviceOptions addDeviceAlreadyAdded" style="display:none;">
                <p>The selected device has already been added to the product.</p>
            </div>
            <div class="addDeviceOptions addDeviceCanAddDevice" style="display:none;">
                <p><button id="addDeviceButton">Add Device to Product</button></p>
            </div>
        </div>
        <div class="hideWhenStarted">
            <p><a class="startDemo">Start Demo</a> to interact with it.</p>
        </div>
    </div>
</div>
