<div class="webhookDemo apiHelper" data-control="events">
    <div class="apiHelperBox">
        <div class="showWhenStarted" style="display:none">
            <table class="apiHelperTableNoMargin">
                <thead id="eventsHeader">
                    <!-- name data device published_at (newest first) -->
                    <tr>
                        <th data-key="name">Name</th>
                        <th data-key="data">Data</th>
                        <th data-key="deviceName">Device</th>
                        <th data-key="published_at">Published At</th>
                    </tr>
                </thead>
                <tbody id="eventsTable">
                </tbody>
            </table>
        </div>
        <div class="hideWhenStarted">
            <p><a class="startDemo">Start Demo</a> to begin listening for events in your product.</p>
        </div>
    </div>
</div>
