<div class="webhookDemo apiHelper" data-control="function-publish-function" data-options="{{options}}">
    <div class="apiHelperBox">        
        <div class="showWhenStarted" style="display:none">
            <input type="color" id="body" value="#00ff00">
            <select class="apiHelperSelect webhookDemoProductDeviceSelect"></select>
            <button class="functionPublishCallFunctionButton disableNoProductDevices" disabled>Call function</button>
        </div>
        <div class="statusDiv"></div>
        <div class="hideWhenStarted">
            <p><a class="startDemo">Start Demo</a> to interact with it.</p>
        </div>
    </div>
</div>

