<div class="webhookDemo apiHelper" data-control="selectDevice">
    <div class="apiHelperBox">
        <div class="showWhenStarted" style="display:none">
            <p>Select device: <select class="apiHelperSelect deviceListSelect apiHelperCommonDevice"></select></p>
            <div class="deviceSelectInfo" style="display:none">
                <table class="apiHelperTableNoMargin">
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="hideWhenStarted">
            <p><a class="startDemo">Start Demo</a> to interact with it.</p>
        </div>
    </div>
</div>
