<div class="webhookDemo apiHelper" data-control="webhook">
    <div class="apiHelperBox">
        <div class="showWhenStarted" style="display:none">
            <div class="createWebhookOptions webhookDemoNoProduct" style="display:none;">
                <p>A product has not been selected yet. Select a product above first.</p>
            </div>
            <div class="createWebhookOptions webhookDemoNoUrl" style="display:none;">
                <p>The server has not yet started so the webhook cannot be created because the URL is not yet known.</p>
            </div>
            <div class="createWebhookOptions createWebhookAlreadyAdded" style="display:none;">
                <p>The webhook has already been added to the product</p>
            </div>
            <div id="webhookSource"><pre class="apiHelperMonoSmall"></pre></div>
        </div>
        <div class="hideWhenStarted">
            <p><a class="startDemo">Start Demo</a> to start up the webhook service, as the server URL changes each time you run the demo.</p>
        </div>
    </div>
</div>
