<div class="webhookDemo apiHelper" data-control="function-publish-publish" data-options="{{options}}">
    <div class="apiHelperBox">        
        <div class="showWhenStarted" style="display:none">
            <input type="color" id="body" value="#ff0000">
            <select class="apiHelperSelect webhookDemoProductGroupSelect">
                <option value="-">No group</option>
            </select>
            <button class="functionPublishPublishButton">Publish event</button>
        </div>
        <div class="statusDiv"></div>
        <div class="hideWhenStarted">
            <p><a class="startDemo">Start Demo</a> to interact with it.</p>
        </div>
    </div>
</div>

