<div class="webhookDemo apiHelper" data-control="events">
    <div class="apiHelperBox">
        <div class="showWhenStarted" style="display:none">
            <table class="apiHelperTableNoMargin">
                <thead>
                </thead>
                <tbody id="explainerTable">
                </tbody>
            </table>
        </div>
        <div class="hideWhenStarted">
            <p><a class="startDemo">Start Demo</a> to begin listening for events in your product.</p>
        </div>
    </div>
</div>
