<div class="webhookDemo apiHelper" data-control="events">
    <div class="apiHelperBox">
        <div style="padding: 4px 0px 4px 6px;"><label><input type="checkbox" id="cleanupWebhook" checked/>Remove webhook</label></div>
        <div style="padding: 4px 0px 4px 6px;"><label><input type="checkbox" id="cleanupDevices" checked/>Remove devices from product</label></div>
        <div style="padding: 4px 0px 4px 6px;"><label><input type="checkbox" id="cleanupProduct" checked/>Delete product</label></div>
        <div style="padding: 8px;"><button id="cleanupButton" disabled>Cleanup</button></div>
    </div>
</div>
