<div class="webhookDemo apiHelper" data-control="start" data-mode="{{mode}}" data-options="{{options}}">
    <div class="apiHelperBox">
        <div id="canStart" style="display:none">
            <p><button id="startDemo" disabled>Start demo</button></p>
        </div>
        <div id="startSteps" style="display:none">
            <div id="startStepServer">Start server</div>            
        </div>
    </div>
</div>
