<div class="webhookDemo apiHelper" data-control="addDevice">
    <div class="apiHelperBox">
        <div id="addDevicesTableDiv" class="showWhenStarted" style="display:none;">
            <table id="sandboxDevicesTable" class="apiHelperTableNoMargin">
                <thead>
                    <tr>
                        <th data-key="_add">Add To Product</th>
                        <th data-key="name">Device Name</th>
                        <th data-key="id">Device ID</th>
                        <th data-key="serial_number">Serial Number</th>
                        <th data-key="_product">Current Product</th>                    
                    </tr>
                </thead>
                <tbody>                    
                </tbody>
            </table>
            <div>
                <p><button id="addDevicesButton">Add Devices to Product</button></p>
            </div>
            <div id="addDevicesStatusDiv">
            </div>
        </div>
        <div class="hideWhenStarted">
            <p><a class="startDemo">Start Demo</a> to add devices to your product.</p>
        </div>
    </div>
</div>
