<div class="webhookDemo apiHelper" data-control="product-config" data-options="{{options}}">
    <div class="apiHelperBox">
        <div class="showWhenStarted configItems">            
        </div>
        <div class="hideWhenStarted">
            <p><a class="startDemo">Start Demo</a> to set up the product configuration.</p>
        </div>
        <div class="productConfigTemplate" style="display:none">
            <div class="webhookDemoProductConfigBanner">                
            </div>
            <div class="webhookDemoProductConfigExplanation" class="webhookDemoProductExplanation">
            </div>
            <div class="webhookDemoProductConfigStatus" class="webhookDemoProductStatus" style="display:none;">
            </div>
            <div class="webhookDemoProductConfigData" class="webhookDemoProductData" style="display:none;">
                <pre class="apiHelperMonoSmall"></pre>
            </div>            
        </div>
    </div>
</div>

