<div class="whatsNewSearch apiHelper">
    <div class="apiHelperBox">
        <input type="text" size="60" class="searchText"/> &nbsp;
        <button class="searchButton">Search</button> 
        <button class="searchClearButton">Clear</button>
    </div>
</div>
