<div class="apiHelperWiFiSetup">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <p>
                SSID: <input type="text" class="apiHelperWiFiSSID" size="20" /> &nbsp;
                Password: <input type="password" class="apiHelperWiFiPassword" size="20" /> &nbsp;
                <button class="apiHelperWiFiSetupUSB apiHelperButton">Configure Device</button> &nbsp;
            </p>
        </div>
    </div>
    <div class="apiHelperWiFiSetupStatus">
    </div>
    <div class="apiHelperWiFiSetupOutput">
        <pre></pre>
    </div>
</div>

