<div class="wifiCountryTool">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <div>
                <button class="selectDevice">Select device</button>
            </div>            
            <div>
                <button class="getCountryCode disableNoDevice" disabled>Get country code from device</button>
            </div>            
            <div>
                <select class="countryCodeSelect disableNoDevice" disabled>
                    <option value="0x5553" selected>US</option>
                    <option value="0x4555">EU</option>
                    <option value="0x4A50">JP</option>
                    <option value="0x4341">CA</option>
                    <option value="0x4D58">MX</option>
                    <option value="0x4742">GB</option>
                    <option value="0x4155">AU</option>
                    <option value="0x4B52">KR</option>
                    <option value="0xFFFE">World</option>
                </select>
                <button class="setCountryCode disableNoDevice" disabled>Set country code on device</button>
            </div>
        </div>
    </div>
    <div class="browserError" style="display:none">
        <p>This tool can only be used on:</p>
        <ul>
            <li>Chrome (Windows, Mac, Linux, Chromebook, or Android, version 61 and later)</li>
            <li>Edge (version 79 or later</li>
            <li>Opera (Windows, Mac, Linux, or Android, version 48 or later</li>
            <li>Samsung Internet (version 8.0 or later)</li>
        </ul>
    </div>
</div>

