<div class="apiHelperWiFiSetup">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <p>
                SSID: <input type="text" class="apiHelperWiFiSSID" size="20" /> &nbsp;
                Password: <input type="password" class="apiHelperWiFiPassword" size="20" /> &nbsp;
                <button class="apiHelperWiFiSetupUSB apiHelperButton">Configure Device</button> &nbsp;
            </p>
        </div>
        <div class="apiHelperBox apiHelperWiFiSetupStatus">
        </div>
    </div>
    <div class="apiHelperWiFiSetupInstructions" style="display:none;">
        <p>Your device should begin blinking green. If it never progresses past blinking green there could be a problem with your SSID or password.</p>
        <p>After blinking green, it should blink cyan (light blue), then fast blinking cyan, then breathing cyan (slowly fade in and out to black).</p>
        <p>After the device is breathing cyan, you can use the <strong>Lookup</strong> button below to check the device claiming, 
        and optionally claim or rename it.</p>
    </div>
</div>

