<div class="wifiCountryTool">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <div>
                <button class="selectDevice">Select device</button>
            </div>            
            <div class="statusDiv" style="margin-top: 10px; margin-bottom: 10px;"></div>
            <div>
                <button class="getCountryCode disableNoDevice" disabled>Get country code from device</button>
                <span class="getResult"></span>
            </div>            
            <div>
                <select class="countryCodeSelect disableNoDevice" disabled>
                </select>
                <button class="setCountryCode disableNoDevice" disabled>Set country code on device</button>
            </div>
        </div>
    </div>
    <div class="browserError" style="display:none">
        <p>This tool can only be used on:</p>
        <ul>
            <li>Chrome (Windows, Mac, Linux, Chromebook, or Android, version 61 and later)</li>
            <li>Edge (version 79 or later</li>
            <li>Opera (Windows, Mac, Linux, or Android, version 48 or later</li>
            <li>Samsung Internet (version 8.0 or later)</li>
        </ul>
    </div>
</div>

