<div class="windowsCliDownloads">
    <div class="apiHelper">
        <div class="apiHelperBox">
            <table class="versionTable apiHelperTableNoMargin">
                <thead>
                    <tr>
                        <th>Version</th>
                        <th>Release Date</th>
                        <th>Download</th>
                    </tr>
                </thead>
                <tbody>          
                </tbody>
            </table>            
        </div>
    </div>
</div>

