<!doctype html>
<html class="one-column">
<head>
  {{> head}}
</head>
<body>
  <div id="docs" data-level>
    {{> header}}

    <div class='content-root'>
        <div class="menubar">
          <ul class="nav guide-menu" data-swiftype-index="false">
            {{{navigation}}}
          </ul>
        </div>
        <div class="page-body">
        <div class='content-inner'>
          <div class="content" >
            {{{contents}}}
          </div>
        </div>
        </div>
    </div>
    {{> scripts}}
    <script src="/assets/js/cards.js"></script>
</body>
</html>
