<!doctype html>
<html class="{{columns}}-columns">
<head>
  {{> head sectionTitle='Tutorials'}}
     <script src="/assets/js/datastore.js"></script>
     <script src="/assets/js/dataui.js"></script>
     <script src="/assets/js/carriers.js"></script>
     <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
  <div id="docs" data-level>
    {{> header}}

    <div class='content-root'>
      <div class='menubar'>

        <div class="navMenu" data-swiftype-index="false">
            {{{navigation}}}
        </div>

      </div>
      <div class="page-body">
        <div class='content-inner'>
          <div class="content api-docs">
            {{{contents}}}

<div id="mainDiv">

<div id="carrierTabs">
    <a class="nav active" id="carrierTabByDevice">By Device</a>
    <a class="nav" id="carrierTabModelMap">Coverage Map</a>
    <a class="nav" id="carrierTabCountryDetails">Country Details</a>
</div> <!-- carrierTabs -->


<div id="carrierByDeviceDiv">

    <form>
        <table>
            <tr>
                <td class="carrierFormLabel">Device:</td>
                <td><select id="deviceList" class="carrierListSelect"></select></td>
            </tr>
            <tr>
                <td class="carrierFormLabel">Region:</td>
                <td><select id="regionList" class="carrierListSelect"></select></td>
            </tr>
        </table>
    </form>
        
    <div>
        <table id="countryCarrierTable">
            <thead></thead>
            <tbody></tbody>
        </table>
    </div>

    <div id="byDeviceRoamingWarning" style="display:none; font-size: small;">
      <sup>6</sup>Not recommended due to permanent roaming restrictions. While the device
      may initially work, it may be blocked by local operators without warning.
    </div>
    <div id="byDeviceVerizonWarning" style="display:none; font-size: small;">
      <sup>7</sup>Verizon in the United States is only supported on enterprise plans.
    </div>
</div> <!-- carrierByDeviceDiv -->

<div id="carrierFindDeviceDiv" style="display: none;">
    <p>&nbsp;</p>
    <form>
        <div>
        <input type="radio" id="country2RegionRadio" name="country2Radio" value="region">
        <label for="country2RegionRadio">Region <select id="country2RegionSel" class="carrierListSelect">
        </select></label>
        
        <input type="radio" id="country2CountryRadio" name="country2Radio" value="country">
        <label for="country2CountryRadio">Country <input type="text" size="30" id="country2Text" autocomplete="off"/></label>
        </div>

        <div>
        <input type="checkbox" id="country2ShowCarriers" checked="checked" />
        <label for="country2ShowCarriers">Show carriers</label>
        </div>

        <div>
            <input type="checkbox" id="country2ShowNRND" />
            <label for="country2ShowNRND">Show devices not recommended for new designs (NRND)</label>
        </div>
        
    </form>
        
    <div id="recDiv">
    </div>
</div> <!-- carrierFindDeviceDiv -->

<div id="carrierModelMapDiv" style="display: none;">

  <form>
      <table>
          <tr>
              <td class="carrierFormLabel">Device Family:</td>
              <td>
                  <select id="familyMapSelect" class="carrierListSelect">
                      <option value="tracker">Tracker</option>
                      <option value="b series">B Series SoM</option>
                      <option value="boron">Boron</option>
                      <option value="e series">E Series</option>
                      <option value="electron">Electron</option>
                  </select>
              </td>
          </tr>
      </table>
  </form>
      
  <div id="familyMapDiv" style="width: 700px; height: 400px;"></div>

  <div id="familyMapSkusDiv"></div>

</div> <!-- carrierModelMapDiv -->

<div id="carrierCountryDetailsDiv" style="display: none;">
    <p></p>
    <form>
      <table>
        <tr>
          <td class="carrierFormLabel">Device:</td>
          <td><select id="countryDetailDeviceList" class="carrierListSelect"></select></td>
        </tr>
        <tr>
          <td class="carrierFormLabel">Country:</td>
          <td><input type="text" size="30" id="countryDetailText" autocomplete="off"/></td>            
        </tr>        
      </table>
    </form>

    <div id="countryDetailsResultsDiv"></div>

    <div id="countryDetailsFootnotesDiv"></div>

</div> <!-- carrierCountryDetailsDiv -->


</div> <!-- mainDiv -->

            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="countryPopup" class="countryPopup"></div>
    {{> search-overlay }}
    {{> scripts}}
</body>
</html>
