<!doctype html>
<html class="one-column">
<head>
  {{> head}}
  <script type="text/javascript" src="/assets/js/dap.umd.js"></script>
</head>
<body>
  <div id="docs" data-level>
    {{> header}}

    <div class='content-root'>
      <div class='menubar'>
        <div class="navMenu" data-swiftype-index="false">
          {{{navigation}}}
        </div>
      </div>
      <div class="page-body">
        <div class='content-inner'>
          <div class="content" >
            {{{contents}}}

            <div id="errorDiv"></div>

            <div id="progressDiv" style="display:none;">
                <label for="progressBar">Flash progress:</label>
                <progress id="progressBar" value="0" max="100"></progress>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{> search-overlay }}
    {{> scripts}}
    <script type="text/javascript" src="/assets/js/device-restore.js"></script>
</body>
</html>
