<!doctype html>
<html class="one-column">
<head>
  {{> head}}
</head>
<body>
  <div id="docs" data-level>
    {{> header}}

    <div class='content-root'>    
        <div class='content-inner'>
          <div class="content" >
	    	<h1 class="mainTitle">Welcome to the Particle Platform Guides</h1>
	    	
			<div>
				<p>Particle guides are a great place to explore our hardware, software, and developer tools, and find all the information you need to build your own connected product with Particle.</p>
			</div>

			<h2 class="mainHeader">Asset Tracking</h2>

			<div class="mainGridHome">
				<div class="mainSquare">
					<a href="/datasheets/asset-tracking/tracker-som-datasheet/" class="mainGridButton">
						<div class="mainContent">
							<div class="mainTopBottom">
								<div class="mainTop">
									<img src="/assets/images/t523-som.svg" class="mainGridImg"/>
								</div>
								<div class="mainBottom">
									<div class="mainBoxTitle">Tracker SoM</div>
									<div class="mainBoxDescription">Extensible SoM for tracking</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="mainSquare">
					<a href="/datasheets/asset-tracking/tracker-one/" class="mainGridButton">
						<div class="mainContent">
							<div class="mainTopBottom">
								<div class="mainTop">
									<img src="/assets/images/t-one.svg" class="mainGridImg"/>
								</div>
								<div class="mainBottom">
									<div class="mainBoxTitle">Tracker One</div>
									<div class="mainBoxDescription">Field ready reference product</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			<div>&nbsp;</div>

			<h2 class="mainHeader">Prototyping hardware</h2>
			
			<div class="mainGridHome">
				<div class="mainSquare">
					<a href="/argon" class="mainGridButton">
						<div class="mainContent">
							<div class="mainTopBottom">
								<div class="mainTop">
									<img src="/assets/images/argon.svg" class="mainGridImg"/>
								</div>
								<div class="mainBottom">
									<div class="mainBoxTitle">Argon</div>
									<div class="mainBoxDescription">Wi-Fi + BLE</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="mainSquare">
					<a href="/boron" class="mainGridButton">
						<div class="mainContent">
							<div class="mainTopBottom">
								<div class="mainTop">
									<img src="/assets/images/boron-generic.svg" class="mainGridImg"/>
								</div>
								<div class="mainBottom">
									<div class="mainBoxTitle">Boron</div>
									<div class="mainBoxDescription">Cellular + BLE</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="mainSquare">
					<a href="/datasheets/kits-and-accessories/particle-shields/" class="mainGridButton">
						<div class="mainContent">
							<div class="mainTopBottom">
								<div class="mainTop">
									<img src="/assets/images/accessories/ethernet-featherwing/ethernet-featherwing.png" class="mainGridImg"/>
								</div>
								<div class="mainBottom">
									<div class="mainBoxTitle">Accessories</div>
									<div class="mainBoxDescription">Accessories &amp; FeatherWings</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="mainSquare">
					<a href="/photon" class="mainGridButton">
						<div class="mainContent">
							<div class="mainTopBottom">
								<div class="mainTop">
									<img src="/assets/images/photon.svg" class="mainGridImg"/>
								</div>
								<div class="mainBottom">
									<div class="mainBoxTitle">Photon</div>
									<div class="mainBoxDescription">Wi-Fi</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="mainSquare">
					<a href="/electron" class="mainGridButton">
						<div class="mainContent">
							<div class="mainTopBottom">
								<div class="mainTop">
									<img src="/assets/images/electron.svg" class="mainGridImg"/>
								</div>
								<div class="mainBottom">
									<div class="mainBoxTitle">Electron</div>
									<div class="mainBoxDescription">Cellular</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			
			<div>&nbsp;</div>
			
			<h2 class="mainHeader">Mass production hardware</h2>
			
			<div class="mainGridHome">
				<div class="mainSquare">
					<a href="/datasheets/wi-fi/p1-datasheet" class="mainGridButton">
						<div class="mainContent">
							<div class="mainTopBottom">
								<div class="mainTop">
									<img src="/assets/images/p1-vector.png" class="mainGridImg"/>
								</div>
								<div class="mainBottom">
									<div class="mainBoxTitle">P Series</div>
									<div class="mainBoxDescription">Wi-Fi</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="mainSquare">
					<a href="/datasheets/cellular/e-series-datasheet" class="mainGridButton">
						<div class="mainContent">
							<div class="mainTopBottom">
								<div class="mainTop">
									<img src="/assets/images/e-series/illustrations/e0-top.png" class="mainGridImg"/>
								</div>
								<div class="mainBottom">
									<div class="mainBoxTitle">E Series</div>
									<div class="mainBoxDescription">Cellular</div>
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="mainSquare">
					<a target="_blank" href="/b-series" class="mainGridButton">
						<div class="mainContent">
							<div class="mainTopBottom">
								<div class="mainTop">
									<img src="/assets/images/b-series/b-series-top.png" class="mainGridImg"/>	
								</div>
								<div class="mainBottom">
									<div class="mainBoxTitle">B Series SoM</div>
									<div class="mainBoxDescription">Cellular M.2 SoM</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
			
			<div>&nbsp;</div>
			
			<h2 class="mainHeader">Tools</h2>
			
			<div class="mainGridHome">
				<div class="mainNoPicRect">
					<a href="/tutorials/developer-tools/build" class="mainGridButton">
						<div class="mainContent">
							<div class="mainNoPicTopBottom">
								<div class="mainNoPicTop">
									Web IDE
								</div>
								<div class="mainNoPicBottom">
									Write, compile, and flash your code from the browser.
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="mainNoPicRect">
					<a href="/tutorials/device-cloud/console" class="mainGridButton">
						<div class="mainContent">
							<div class="mainNoPicTopBottom">
								<div class="mainNoPicTop">
									Console
								</div>
								<div class="mainNoPicBottom">
									Monitor and manage your Particle devices from the web.
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="mainNoPicRect">
                                        <a href="/tutorials/developer-tools/cli" class="mainGridButton">
                                                <div class="mainContent">
                                                        <div class="mainNoPicTopBottom">
                                                                <div class="mainNoPicTop">
                                                                       Command-Line Interface
                                                                </div>
                                                                <div class="mainNoPicBottom">
                                                                        A powerful tool for interacting with your devices and the Particle Device Cloud.</div>
                                                        </div>
                                                </div>
                                        </a>
                                </div>
				<div class="mainNoPicRect">
					<a href="/workbench/" class="mainGridButton">
						<div class="mainContent">
							<div class="mainNoPicTopBottom">
								<div class="mainNoPicTop">
									Workbench
								</div>
								<div class="mainNoPicBottom">
									A professional IDE with local compilation and debugging.
								</div>
							</div>
						</div>
					</a>
				</div>

			</div>
			
			<div>&nbsp;</div>
			
			
			<h2 class="mainHeader">Software APIs &amp; Libraries</h2>
			
			<div class="mainGridHome">
				<div class="mainNoPicRect">
					<a href="/tutorials/device-os/device-os" class="mainGridButton">
						<div class="mainContent">
							<div class="mainNoPicTopBottom">
								<div class="mainNoPicTop">
									Device OS
								</div>
								<div class="mainNoPicBottom">
									Low-level firmware code that supports a Particle device's basic functions.
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="mainNoPicRect">
					<a href="/reference/api/" class="mainGridButton">
						<div class="mainContent">
							<div class="mainNoPicTopBottom">
								<div class="mainNoPicTop">
									Device Cloud API
								</div>
								<div class="mainNoPicBottom">
									Send commands through REST interfaces.
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="mainNoPicRect">
					<a href="/tutorials/integrations" class="mainGridButton">
						<div class="mainContent">
							<div class="mainNoPicTopBottom">
								<div class="mainNoPicTop">
									Device Cloud Integrations
								</div>
								<div class="mainNoPicBottom">
									Combine the power of Particle with your other favorite online tools.	
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="mainNoPicRect">
					<a href="/tutorials/device-cloud/webhooks" class="mainGridButton">
						<div class="mainContent">
							<div class="mainNoPicTopBottom">
								<div class="mainNoPicTop">
									Webhooks
								</div>
								<div class="mainNoPicBottom">
									Connect Particle events to other services on the Internet.
								</div>
							</div>
						</div>
					</a>
				</div>
				<div class="mainNoPicRect">
						<div class="mainContent">
							<div class="mainNoPicTopBottom">
								<div class="mainNoPicTop">
									SDKs
								</div>
								<div class="mainNoPicBottom">
									Write mobile and web apps to interact with your devices.<br />
									<a href="reference/android" class="mainMiniLink">Android</a> | 
									<a href="/reference/ios" class="mainMiniLink">iOS</a> | 
									<a href="/reference/javascript" class="mainMiniLink">Javascript</a>
								</div>
							</div>
						</div>
				</div>
			</div>
			
			
			<div>&nbsp;</div>
			
		
            {{{contents}}}
          </div>
        </div>
    </div>
    {{> scripts}}
    
</body>
</html>
