<!doctype html>
<html>
<head>
  {{> head sectionTitle='Page Not Found'}}
</head>
<body>
  <div id="docs" data-level>
    {{{contents}}}
    {{> search-overlay }}
    {{> scripts}}
  </div>
</body>
</html>
