<!doctype html>
<html class="one-column">
<head>
  {{> head sectionTitle='quick start'}}
</head>
<body>
  <div id="docs" data-level>
    {{> header}}

    <div class='content-root'>
        <div class='content-inner'>
          <div class="content" >
            {{{contents}}}
          </div>
        </div>
    </div>
    {{> scripts}}
</body>
</html>
