<!doctype html>
<html class="{{columns}}-columns">
<head>
  {{> head sectionTitle='Reference Documentation'}}
</head>
<body>
  <div id="docs" data-level>
    {{> header}}

    <div class='content-root'>
      <div class='menubar'>

	      {{> deviceselector}}

        <div class="navMenu" data-swiftype-index="false">
          {{{navigation}}}
        </div>
      </div>
      <div class="page-body">
        {{> document-search}}
        <div class='content-inner'>
          <div class="content reference" id="{{path.name}}-content">
            {{{contents}}}
            <div class="code-samples">
            </div>
          </div>
        </div>
      </div>
    </div>
    {{> image-overlay}}
    {{> search-overlay }}
    {{> scripts}}
    <script src='/assets/js/firmwareversions.js'></script>
</body>
</html>
