<!doctype html>
<html>
<head>
  <!-- REDIRECT SCRIPT -->
  {{{contents}}}
  {{> head sectionTitle='Start'}}
</head>
<body>

  <div id="docs">
    <div class="header redirector-header">
      <div class="left">
        <a href="https://www.particle.io">
          <img src="/assets/images/particle-docs.png" id="logo">
        </a>
      </div>
    </div>

    <div class="getting-started">
      <h1 class="choose-device-header">Which device are you interested in?</h1>

      <ul class="devices">
        <a href="/guide/getting-started/intro/argon" id="argon-link">
          <li class="device" id="argon">
            <h3>Argon</h3>
            <img src="/assets/images/argon.svg"/>
          </li>
        </a>
        <a href="/guide/getting-started/intro/boron" id="boron-link">
          <li class="device" id="boron">
            <h3>Boron</h3>
            <img src="/assets/images/boron-generic.svg"/>
          </li>
        </a>
      </ul>
      <ul class="devices">
        <a href="/guide/getting-started/intro/photon" id="photon-link">
          <li class="device" id="photon">
            <h3>Photon</h3>
            <img src="/assets/images/photon.svg"/>
          </li>
        </a>
        <a href="/guide/getting-started/intro/electron" id="electron-link">
          <li class="device" id="electron">
            <h3>Electron</h3>
            <img src="/assets/images/electron.svg"/>
          </li>
        </a>
      </ul>
    </div>
  </div>
  {{> search-overlay }}
  {{> scripts}}
</body>
</html>
