<!doctype html>
<html>
<head>
  <!-- REDIRECT SCRIPT -->
  {{{contents}}}
  {{> head sectionTitle='Start'}}
</head>
<body>

  <div id="docs">
    <div class="header redirector-header">
      <div class="left">
        <a href="https://www.particle.io">
          <img src="/assets/images/particle-docs.png" id="logo">
        </a>
      </div>
    </div>

    <div class="getting-started">
      <h1 class="choose-device-header">Which device are you interested in?</h1>

      <ul class="devices">
        <a href="/guide/getting-started/intro/photon" id="photon-link">
          <li class="device" id="photon">
            <h3>Photon</h3>
            <img src="/assets/images/photon.svg"/>
          </li>
        </a>
        <a href="/guide/getting-started/intro/electron" id="electron-link">
          <li class="device" id="electron">
            <h3>Electron</h3>
            <img src="/assets/images/electron.svg"/>
          </li>
        </a>
        <a href="/guide/getting-started/intro/core" id="electron-link">
          <li class="device" id="core">
            <h3>Core</h3>
            <img src="/assets/images/core.svg"/>
          </li>
        </a>
        <a href="/guide/getting-started/intro/raspberry-pi" id="raspberry-pi-link">
          <li class="device" id="raspberry-pi-link">
            <h3>Raspberry Pi</h3>
            <img src="/assets/images/raspberry-pi.svg"/>
          </li>
        </a>
      </ul>
    </div>
  </div>
  {{> scripts}}
</body>
</html>
