<!doctype html>
<html class="two-columns">
<head>

  {{> head}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src='/assets/js/checkform.js'></script>

<script src="https://cdn.statuspage.io/se-v2.js"></script>
<script src="/assets/js/status_widget.js"></script>
</head>

<body onload="detectBrowser()">

<div id="docs" data-level>
  {{> header}}


<div class="content-root resources-wrapper">
  <div> {{!-- Outer Static Div --}}
    <a class='current-status-incidents empty' href='http://status.particle.io/' target="_blank">
      <div>System Status: <span class='current-status-description'></span></div>
      <div>Check the status page for details</div>
    </a>
    <div id="res-title">
      <h2>How can we help you today?</h2>
      <h4>We probably have the answer somewhere around here...</h4>
    </div>
    <div class='container' id='resources'> {{!-- Container Closing --}}
      <div class='row'>{{!-- Help Buttons --}}
        <div class='tile'>
          <a class='resource-tile' href='/guide/getting-started/start' target="_blank">
            <i class='icon-iHelp ion-document-text'></i>
            <h3>Documentation</h3>
            <p>Level up on the Particle platform.</p>
          </a>
        </div>
        <div class='tile'>
          <a class='resource-tile' href='/support/support-and-fulfillment/faq/' target="_blank">
            <i class='icon-iHelp ion-social-rss'></i>
            <h3>FAQ</h3>
            <p>Our list of frequently asked questions.</p>
          </a>
        </div>
        <div class='tile'>
          <a class='resource-tile' href='/support/troubleshooting/common-issues/' target="_blank">
            <i class='icon-iHelp ion-wrench'></i>
            <h3>Help</h3>
            <p>Having an issue with your device?</p>
          </a>
        </div>
      </div>
      <div class='row'>
        <div class='tile'>
          <a class='resource-tile' href='https://community.particle.io/' target="_blank">
            <i class='icon-iHelp ion-person-stalker'></i>
            <h3>Community Forums</h3>
            <p>Questions, answers, ideas. Join the Particle alliance, today.</p>
          </a>
        </div>
        <div class='tile'>
          <a class='resource-tile' href='/guide/getting-started/billing/' target="_blank">
            <i class='icon-iHelp ion-gear-a'></i>
            <h3>Billing & Data</h3>
            <p>Electron billing, data, and accounts explained here.</p>
          </a>
        </div>
        <div class='tile'>
          <a class='resource-tile' href='http://status.particle.io/' target="_blank">
            <i class="current-status-indicator empty"></i>
            <h3>System Status</h3>
            <h4 class="current-status-description">Loading...</h4>
          </a>
        </div>
      </div> {{!-- Help Buttons --}}

      {{!-- <div id="row row-form"> --}}
        <div href="#" id="form-main"> {{!-- New webform section --}}
          <div id="form-div">
            <form class="form" id="form1">

              <fieldset>
              <legend>Do you have a different question?</legend>

              <select id="category" name="category" class="feedback-input" required="required">
                <option value="" disabled selected>--Select a category--</option>
                <option value="Hardware">Hardware: Devices, Firmware, and Setup</option>
                <option value="Software">Software: Tools, IDEs and Console</option>
                <option value="Infrastructure">Infrastructure: Cloud and Cellular</option>
                <option value="Orders">Shipping, Billing and Returns</option>
                <option value="Enterprise">Enterprise: Product Development &amp; Sales, Distributors</option>
                <option value="Other">Other Questions</option>
              </select>

              <select id="detailmenu" name="detailOptions" class="feedback-input" style="display: none"></select>
              <select id="questionmenu" name="subOptions" class="feedback-input" required="required"></select>

              <script>
              jQuery(function($) {
                  var details = {
                      "Hardware": [
                          "--Select a device--",
                          "Photon",
                          "Electron",
                          "E-Series",
                          "Core",
                          "Particle Shield or Kit",
                          "Other",
                      ],

                      "Software": [
                          "--Select a tool--",
                          "CLI",
                          "Build (Web IDE)",
                          "Dev (Desktop IDE)",
                          "Mobile App",
                          "Console",
                          "Other",
                      ]
                  };

                  var questions = {
                      "Hardware": [
                          "--Select a hardware question--",
                          "I'm unable to setup my device",
                          "I'm unable to claim my device",
                          "I'm unable to get my device online",
                          "I'm unable to flash my device",
                          "My device is showing up as the wrong type",
                          "My device is crashing / not operating correctly",
                          "I'm having an issue with a Particle library.",
                          "I'm having an issue with a firmware feature",
                          "My device has a hardware defect",
                          "My device is doing something else",
                          "I'm having trouble with my SIM card",
                          "I have another question not listed here",
                      ],

                      "Software": [
                          "--Select a software question--",
                          "I'm unable to claim a device",
                          "I'm unable to flash a device",
                          "I'm unable to login",
                          "I'm unable to pull a device list",
                          "I'm unable to logout",
                          "I'm unable to add an app",
                          "I'm unable to add a library",
                          "I'm unable to view device logs",
                          "An app I wrote is missing",
                          "A device is showing up as the wrong kind of device",
                          "I have another question not listed here",
                      ],

                      "Infrastructure": [
                          "--Select an infrastructure question--",
                          "The API isn't working",
                          "My SIM card isn't working",
                          "My webhooks are not working",
                          "I'm having issues with the Spark Server",
                          "I have another question not listed here",
                      ],

                      "Orders": [
                          "--Select a shipping/returns question--",
                          "Where is my package?",
                          "I need an invoice for my store purchase.",
                          "I need a return/refund.",
                          "Did my payment go through?",
                          "--Select a billing question--",
                          "What was I charged for?",
                          "How do I apply my 3 month promo code to my account?",
                          "I need an invoice for my subscription service.",
                          "I have another question not listed here",
                      ],

                      "Enterprise": [
                          "--Select an enterprise question--",
                          "I would like to become a distributor.",
                          "I would like to place a large order (100+ units)",
                          "I would like to develop a product on your platform.",
                          "I have a general enterprise question.",
                          "I would like to place a tax-exempt order. ",
                          "I have another question not listed here",
                      ],

                      "Other": [
                          "--Select another question--",
                          "What products do you sell?",
                          "I submitted my resume and I’d like to follow up.",
                          "I’d like Particle to sponsor or attend my event.",
                          "I have a feature request",
                          "What is the timeline on a product",
                          "When will a product come back in stock?",
                          "I'd like help with a project requiring contractor work",
                          "I have another question not listed here",
                      ],
                  }

                  var $categorymenu = $('#category');
                  var $questionmenu = $('#questionmenu');
                  var $detailmenu = $('#detailmenu');
                  
                  $categorymenu.change(function () {
                      function populateMenu($menu, items) {
                          var first = true;
                          var html = $.map(items, function (s) {
                              var $item = $('<option>');
                              if(s.match(/^--/)) {
                                $item.attr('disabled', true).attr('value', '');
                              } else {
                                $item.attr('value', s);
                              }
                              if(first) {
                                $item.attr('selected', true);
                                first = false;
                              }
                              return $item.html(s);
                          });
                          $menu.html(html);
                      }

                      var category = $(this).val();
                      var categoryDetails = details[category];
                      var categoryQuestions = questions[category] || [];

                      $detailmenu.toggle(!!categoryDetails).attr('required', !!categoryDetails);
                      if(categoryDetails) {
                          populateMenu($detailmenu, categoryDetails);
                      }

                      populateMenu($questionmenu, categoryQuestions);
                  });

                  // Helper function to print all possible topics
                  window.printTopics = function () {
                      var topics = [];

                      var $categories = $categorymenu.find('option');
                      for(var i = 0; i < $categories.length; i++) {
                          var category = $($categories[i]).val();

                          var categoryDetails = details[category] || [''];
                          var categoryQuestions = questions[category] || [];

                          for(var j = 0; j < categoryDetails.length; j++) {
                              var categoryDetail = categoryDetails[j];
                              if(categoryDetail.match(/^--/)) {
                                  continue;
                              }
                              for(var k = 0; k < categoryQuestions.length; k++) {
                                  var categoryQuestion = categoryQuestions[k];
                                  if(categoryQuestion.match(/^--/)) {
                                      continue;
                                  }
                                  topics.push(category +
                                          (categoryDetail ? ' (' + categoryDetail + ')' : '') +
                                           ': ' + categoryQuestion);
                              }
                          }
                      }

                      console.log(topics.join('\n'));
                  };
              })
              </script>


              <br/>

              <p class="name">
                <input type="text" name="name" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Name" id="name" required="required"/>
              </p>

              <p class="email">
                <input type="email" name="EMAIL_1" type="text" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Email"  required="required"/>
              </p>

              <p class="text">
                <textarea type="text" name="text" class="validate[required,length[6,300]] feedback-input" id="comment" placeholder="Message" required="required"></textarea>
              </p>

              <script>

              function detectBrowser() { 
                //console.log(navigator);
               if((navigator.userAgent.indexOf("Opera") || navigator.userAgent.indexOf('OPR')) != -1 ) 
              {
                  browserType = 'Opera';
                  ostype = navigator.appVersion;
              }
              else if(navigator.userAgent.indexOf("Chrome") != -1 )
              {
                  browserType = 'Chrome';
                  ostype = navigator.appVersion;
              }
              else if(navigator.userAgent.indexOf("Safari") != -1)
              {
                  browserType = 'Safari';
                  ostype = navigator.appVersion;
              }
              else if(navigator.userAgent.indexOf("Firefox") != -1 ) 
              {
                  browserType = 'Firefox';
                  ostype = navigator.appVersion;
              }
              else if((navigator.userAgent.indexOf("MSIE") != -1 ) || (!!document.documentMode == true )) //IF IE > 10
              {
                  browserType = 'IE';
                  ostype = navigator.appVersion;
              }  
              else 
              {
                  browserType = 'Unknown browser'
                  ostype = navigator.appVersion;
              }
              }
              </script>


              <div class="submit">
                <input type="submit" value="SEND" id="button-blue"/>
              </div>

              </fieldset>
            </form>
          </div>
        </div>
      {{!-- </div> --}} {{!-- New webform section --}}
    </div> {{!-- Container Closing --}}
  </div> {{!-- Outer Static Div --}}
</div>
  <!-- Scripts section before end of body -->
  {{> scripts}}


</body>
</html>
