<!doctype html>
<html class="two-columns">
<head>

  {{> head}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<script src="https://cdn.statuspage.io/se-v2.js"></script>
<script src="/assets/js/status_widget.js"></script>
</head>

<body>

<div id="docs" data-level>
  {{> header}}


<div class="content-root resources-wrapper">
  <div> {{!-- Outer Static Div --}}    
    <div id="systemStatusBar">
	    <a class="current-status-incidents empty" href='http://status.particle.io/' target="_blank">
      		<span class='status-bar-left'>System Status</span> 
      		<span class='status-bar-right current-status-description'></span>
	    </a>
    </div>
    
    <div id="res-title">
      <h2>How can we help you today?</h2>
    </div>
    <div class='container' id='resources'> {{!-- Container Closing --}}
      <div class='row'>{{!-- Help Buttons --}}
        <div class='tile'>
          <a class='resource-tile' href='/'>
            <img src="/assets/images/documentation.svg" class="support-icon"/>
            <h3>Documentation</h3>
            <p>Level up on the Particle platform with all the resources you need.</p>
          </a>
        </div>
        <div class='tile'>
          <a class='resource-tile'
            href='/support/general/product-lifecycle-policy'>
            <img src="/assets/images/faq.svg" class="support-icon"/>
            <h3>FAQs</h3>
            <p>Answers to your frequently asked Particle questions.</p>
          </a>
        </div>
        <div class='tile'>
          <a class='resource-tile' href='/support/troubleshooting/common-issues/'>
            <img src="/assets/images/troubleshoot.svg" class="support-icon"/>
            <h3>Troubleshooting</h3>
            <p>Tips and tricks to help you troubleshoot.</p>
          </a>
        </div>
      </div>
      <div class='row'>
        <div class='tile'>
          <a class='resource-tile' href='https://community.particle.io/' target="_blank">
            <img src="/assets/images/community.svg" class="support-icon"/>
            <h3>Community Forums</h3>
            <p>Ask questions, share projects, or help others, all in the Particle community.</p>
          </a>
        </div>
        <div class='tile'>
          <a class='resource-tile' href='https://particle.zendesk.com/hc/en-us/requests/new' target="_blank">
            <img src="/assets/images/support.svg" class="support-icon"/>
            <h3>Support</h3>
            <p>Submit a ticket to our support team.</p>
          </a>
        </div>
        <div class='tile'>
          <a class='resource-tile' href='https://www.particle.io/sales/'  target="_blank">
            <img src="/assets/images/sales.svg" class="support-icon"/>
            <h3>Contact Sales</h3>
            <p>Contact sales for enterprise and volume purchasing questions.</p>
          </a>
        </div>
      </div> {{!-- Help Buttons --}}

    </div> {{!-- Container Closing --}}
  </div> {{!-- Outer Static Div --}}
</div>
  <!-- Scripts section before end of body -->
  {{> scripts}}


</body>
</html>
