<!doctype html>
<html class="one-column">
<head>
  {{> headNoSection}}

  <meta name="viewport" content="width=device-width, initial-scale=2, user-scalable=yes"/>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.min.js"></script>

  <style>
    #googleMap {
      box-sizing: content-box;
    }
  </style>

</head>
<body>
  <div id="docs" data-level>
    {{> header}}

<div class="content-root resources-wrapper">

<!-- component template -->
<script type="text/x-template" id="grid-template">
  <table>
    <thead>
      <tr>
        <th v-for="key in columns">
			\{{ key | capitalize }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="entry in table">
        <td v-for="key in columns">
          \{{entry[key]}}
        </td>
      </tr>
    </tbody>
  </table>
</script>

<div id="app">


<form v-on:submit.prevent>
<div>
<button v-on:click="startHandler" v-if='showStart'>Start</button> <button v-on:click="scanHandler" v-if='showScanAgain'>Scan Again</button>&nbsp;&nbsp;
<span v-if='showShowLocation'><input type="checkbox" id="showLocationCheckbox" v-model="showLocation"><label for="showLocationCheckbox">Show my location</label></span>
</div>
</form>

<div v-if="!hasBrowserBLE">
<p>This tool requires Web BLE, which is only available on new Chrome browsers on Android, Chromeboxes, 
some Mac and Windows PCs. It's not supported on other browsers (Firefox, Safari, Edge, Internet Explorer)
and is not supported on Chrome for iOS.</p>
<p>While iOS Safari does not work, the <strong>WebBLE</strong> browser app in the Apple app store does.</p>
</div>

<div>&nbsp;</div>

<div id="googleMap" v-bind:style="mapStyle"></div>

<div>{{status}}</div>

<progress v-bind:value="progress" v-bind:max="maxProgress"></progress>

<div v-if='showResults'>
<demo-grid :table="table" :columns="tableColumns">
</demo-grid>
</div>

</div> <!-- app -->

</div> <!-- content-root resources-wrapper -->

<script async type="text/javascript" src="/assets/js/towerinfo.js"></script>


    {{> scripts}}
</body>
</html>
