<!doctype html>
<html class="{{columns}}-columns">

<head>
  {{> head sectionTitle='Workshops'}}
</head>

<body>
  <div id="workshops" data-level>
    {{> header}}

    <div class='content-root'>
      <div class='menubar'>

        {{> deviceselector}}

        <div class="navMenu" data-swiftype-index="false">
            {{{navigation}}}
          </div>
      </div>
      <div class="page-body">
        <div class='content-inner'>
          <div class="content">
            {{{contents}}}
          </div>
        </div>
      </div>
    </div>
    {{> scripts}}

</body>

</html>