version: 2.1

orbs:
  node: circleci/node@4.1
  aws-s3: circleci/aws-s3@2.0.0

jobs:
  build:  
    docker:
      - image: cimg/node:12.22
    steps:
      - checkout
      - node/install-packages
      - run:
          name: Build
          command: npm test
      - persist_to_workspace: 
          root: .
          paths:
            - build

  deploy-staging:
    docker:
      - image: 'cimg/python:3.6'
    steps:
      - attach_workspace:
          at: .
      - aws-s3/sync:
          arguments: |
            --acl public-read \
            --cache-control "max-age=300"
          from: build
          to: 's3://docs.staging.particle.io'

workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy-staging:
          requires:
            - build
          filters:
            branches:
              only: circleci-project-setup

