version: 2.1

orbs:
  node: circleci/node@4.1
  aws-s3: circleci/aws-s3@2.0.0

jobs:
  build:  
    docker:
      - image: cimg/node:12.22
    steps:
      - restore_cache:
          keys:
            - v1-docs-{{ checksum "npm-shrinkwrap.json" }}
      - checkout
      - node/install-packages
      - run:
          name: Build
          command: npm test
      - save_cache:
          paths:
            - node_modules
          key: v1-docs-{{ checksum "npm-shrinkwrap.json" }}
      - persist_to_workspace: 
          root: .
          paths:
            - build

  deploy-staging:
    docker:
      - image: 'cimg/python:3.6'
    steps:
      - attach_workspace:
          at: .
      - aws-s3/sync:
          arguments: |
            --acl public-read \
            --cache-control "max-age=300"
          from: build
          to: 's3://docs.staging.particle.io'

  deploy-prerelease:
    docker:
      - image: 'cimg/python:3.6'
        environment:        
          AWS_ACCESS_KEY_ID: $PRERELEASE_AWS_ACCESS_KEY_ID
          AWS_SECRET_ACCESS_KEY: $PRERELEASE_AWS_SECRET_ACCESS_KEY 
    steps:
      - attach_workspace:
          at: .
      - aws-s3/sync:
          arguments: |
            --acl public-read \
            --cache-control "max-age=300"
          from: build
          to: 's3://prerelease-docs.particle.io'

  deploy-prod:
    docker:
      - image: 'cimg/python:3.6'
    steps:
      - attach_workspace:
          at: .
      - aws-s3/sync:
          arguments: |
            --acl public-read \
            --cache-control "max-age=300"
          from: build
          to: 's3://docs.particle.io'

workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy-staging:
          requires:
            - build
          filters:
            branches:
              only: staging
      - deploy-prerelease:
          requires:
            - build
          filters:
            branches:
              only: prerelease
      - deploy-prod:
          requires:
            - build
          filters:
            branches:
              only: master

