version: 2.1

orbs:
  node: circleci/node@4.1
  aws-s3: circleci/aws-s3@2.0.0
  slack: circleci/slack@4.8.1

jobs:
  build:  
    docker:
      - image: cimg/node:16.19
    steps:
      - checkout
      - node/install-packages
      - run:
          name: Build
          command: npm run build
      - slack/notify:
          event: fail
          template: basic_fail_1
      - persist_to_workspace: 
          root: .
          paths:
            - build

  # deploys to docs.staging.particle.io are currently disabled
  #deploy-staging:
  #  docker:
  #    - image: 'cimg/python:3.6'
  #  steps:
  #    - attach_workspace:
  #        at: .
  #    - aws-s3/sync:
  #        arguments: |
  #          --acl public-read \
  #          --cache-control "max-age=300"
  #        from: build
  #        to: 's3://docs.staging.particle.io'

  deploy-prod:
    docker:
      - image: 'cimg/python:3.6'
    steps:
      - attach_workspace:
          at: .
      - aws-s3/sync:
          arguments: |
            --acl public-read \
            --cache-control "max-age=300"
          from: build
          to: 's3://docs.particle.io'
      - slack/notify:
          event: pass
          template: basic_success_1
      - slack/notify:
          event: fail
          template: basic_fail_1
  test:  
    docker:
      - image: cimg/node:16.19
    steps:
      - checkout
      - node/install-packages
      - run:
          name: Test
          command: npm test
      - slack/notify:
          event: fail
          template: basic_fail_1
          
workflows:
  version: 2
  build-deploy:
    jobs:
      - build:
          context:
            - slack-secrets
      #- deploy-staging:
      #    requires:
      #      - build
      #    filters:
      #      branches:
      #        only: staging
      - deploy-prod:
          requires:
            - build
          filters:
            branches:
              only: master
          context:
            - slack-secrets
              
  cron:
    triggers:
      - schedule:
          cron: "0 6 * * *"
          filters:
            branches:
              only:
                - master
    jobs:
      - test:
          context:
            - slack-secrets
