#logo {
  height: 34px;
  display: block;
  padding: 10px 10px 8px;
}

a.icon {
  margin-right: 20px;
  margin-top: 16px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: .7px;
  color: @gray;
  display: inline-block;
  i {
    margin-right: 5px;
  }
}

a.icon:hover {
  color: @spark-blue;
}

.header {
  background: @almost-white;
  zoom: 1;
  height: 52px;
  border-bottom: solid 1px #dfe2e7;
}
.search {
  display: inline-block;
  width: 400px;
  vertical-align: middle;
  position: relative;
  padding-left: 20px;
  border-left: 1px solid @light-gray;
  .gsc-control-cse {
    padding: 0;
    background-color: transparent;
    border-color: transparent;
    margin-top: -6px;
    height: 34px;
  }
  .gsc-input {
    background: none !important;
    font-weight: 300;
    font-size: 14px;
    margin: 0 !important;
    height: 26px !important;
  }
  .gsst_a .gscb_a {
    color: inherit;
  }
  .gsst_a {
    line-height: 0;
    padding-top: 2px;
  }
  form.gsc-search-box {
    margin-bottom: 0;
  }
  .gscb_a {
    font-family: inherit;
    font-size: 20px;
    line-height: 0;
    margin-top: -1px;
    &:hover, &:focus {
      color: @spark-blue-dark !important;
    }
  }
  .gsst_a:hover, .gcscb_a, .gsst_a:focus, .gcsb_a {
  }
  .gsst_b {
    line-height: 0;
  }
  .gsib_a {
    padding: 2px 6px 0;
  }
  .gsc-input-box {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid @light-gray;
    height: 29px;
  }
  .gsc-input-box-hover,  {
    box-shadow: none;
    border: 1px solid #aeaeae;
  }
  .gsc-input-box-focus {
    box-shadow: none;
    border: 1px solid @spark-blue;
  }
  input.gsc-search-button  {
    background: @light-gray;
    border: 3px solid @light-gray;
    &:focus {outline:0;}
  }
  input.gsc-search-button:hover, input.gsc-search-button:focus {
    background: @spark-blue;
    border: 3px solid @spark-blue;
    box-shadow: none;
  }
  input.gsc-search-button-v2 {
    margin-top: 6px;
  }
}
table.gsc-search-box {
  margin: 0;
}
.gsc-input table {
  margin: 0;
 }
.gsc-result .gs-title {
  height: auto !important;
}
.gsc-refinementsArea {
  border-bottom: none !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}
.gsc-above-wrapper-area {
  border-bottom: 1px solid #DFE2E7 !important;
}
.header .left {
  float: left;
  a {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    &.toggle-button {
      background: @spark-blue;
      padding: 6px 5px;
      border-radius: 4px;
      text-transform: uppercase;
      font-size: 12px;
      letter-spacing: 0.7px;
      font-weight: bold;
      color: #fff;
      width: 100px;
      text-align: center;
      opacity: 0.4;
      &:hover {
        opacity: 1;
      }
      &.active {
        opacity: 1;
      }
      &:last-of-type {
        margin-right: 17px;
      }
    }
  }
}
.header .right {
  float: right;
}

.header a.button {
  vertical-align: top;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .right {
    display: none;
  }
  .header .left a {
    margin-right: 5px;
  }
  .header .left a.toggle-button {
    padding: 8px 0;
    margin-right: 0;
    width: 80px;
  }
  #logo {
    height: 25px;
    padding: 15px 10px;
  }
}
