html {
  font-family: @base-font-family;
  color: @dark-gray;
}
h1, h2, h3, h4, h5, h6 {
  font-family: @header-fonts;
}

p, span, a, ul, li, button, input {
  font-family: @fonts;
}

p {
  font-weight: 300;
}
h1, h2, h3 {
  font-weight: 100;

  span {
    font-weight: 100;
    font-family: @header-fonts;
  }
}
h4, h5, h6 {
  font-weight: 300;
}

a {
  text-decoration: none;
}

/* HEADING STYLES */
/*h1,
.h1 {
  @include media($large-up) {
    font-size: 42px;
  }
  @include media($medium-only) {
    font-size: 36px;
  }
  font-size: 30px;
}
h2,
.h2 {
  @include media($large-up) {
    font-size: 36px;
  }
  @include media($medium-only) {
    font-size: 30px;
  }
  font-size: 24px;
}
h3,
.h3 {
  @include media($large-up) {
    font-size: 24px;
  }
  @include media($medium-only) {
    font-size: 22px;
  }
  font-size: 20px;
}
h4,
.h4 {
  @include media($large-up) {
    font-size: 18px;
  }
  @include media($medium-only) {
    font-size: 16px;
  }
  font-size: 14px;
}
h5,
.h5 {
  @include media($large-up) {
    font-size: 14px;
  }
  font-size: 12px;
}
h6,
.h6 {
  font-size: 12px;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
h1,
.h1,
h2,
.h2,
h3,
.h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

p {
  margin: 0 0 10px;
}

.header {
  text-align: center;
  h1 {
    font-weight: 100;
    font-size: 48px;
    line-height: 48px;
    margin: 30px auto 0;
  }
  h2 {
    font-weight: 100;
    font-size: 42px;
    line-height: 42px;
    margin: 30px auto 30px;
  }
  p {
    margin: 20px auto;
    font-size: 18px;
    line-height: 28px;
    max-width: 760px;
  }
  .left p {
    text-align: left;
  }
  code {
    border: 1px solid #ccc;
  }
}*/
