#logo {
  height: 32px;
  width: 85px;
  float: left;
  margin: -5px 0 -7px 0;
  display: block;
}

a.contribute {
  font-size: 0.88em;
  color: #9090aa;
  padding-right: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

a.contribute:hover {
  color: #3a3a44;
}

a,
.menu a,
.menu a:visited {
  color: #00adef;
}

a:hover,
.menu a:hover {
  color: #006d9f;
}

.menu a.active:after {
  background: #00adef;
}

.button {
  background: #00adef;
  border:0;
  padding: 5px 25px 7px;
}

.button:hover {
  background: #007daf;
}

.menubar .level-1:not(:first-of-type) {
  margin-top: 20px;
}

.content h1 {
  font-size: 2em;
}

.content h2 {
  color: #9090aa;
}

.content img {
  width: 100%;
  border: 1px solid #e7e7e7;
}

.content table th,
.content table td {
  padding: 5px;
  line-height: 1.428571429;
  vertical-align: top;
  font-family: Menlo, monospace;
  font-size: 11px;
}

.content table th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
  font-weight: bold;
}

.content table td {
  border-top: 1px solid #dddddd;  
}

@media (min-width: 1180px) {


  body:not(.no-literate) .content img {
    width: 330px;
    padding: 5px;
    background: #ffffff;
    border: 1px solid #f2f2f2;
  }

  body:not(.no-literate) .content p.img {
    width: 380px;
    padding: 0 20px;
    float: right;
    clear: right;
  }

  body:not(.no-literate) .content table {
    width: 380px;
    padding-left: 20px;
    padding-right: 20px;
    float: right;
    clear: right;
  }

  body:not(.no-literate) .content > p,
  body:not(.no-literate) .content > ul,
  body:not(.no-literate) .content > ol,
  body:not(.no-literate) .content > h4,
  body:not(.no-literate) .content > h5,
  body:not(.no-literate) .content > h6 {
    float: left;
    clear: none;
  }

  body:not(.no-literate) .content > pre + p,
  body:not(.no-literate) .content > blockquote + p,
  body:not(.no-literate) .content > p.img + p,
  body:not(.no-literate) .content > pre + ul,
  body:not(.no-literate) .content > blockquote + ul,
  body:not(.no-literate) .content > p.img + ul,
  body:not(.no-literate) .content > pre + ol,
  body:not(.no-literate) .content > blockquote + ol,
  body:not(.no-literate) .content > p.img + ol,
  body:not(.no-literate) .content > pre + h4,
  body:not(.no-literate) .content > blockquote + h4,
  body:not(.no-literate) .content > p.img + h4,
  body:not(.no-literate) .content > pre + h5,
  body:not(.no-literate) .content > blockquote + h5,
  body:not(.no-literate) .content > p.img + h5,
  body:not(.no-literate) .content > pre + h6,
  body:not(.no-literate) .content > blockquote + h6,
  body:not(.no-literate) .content > p.img + h6 {
    clear: none;
  }

  body:not(.no-literate) .content > pre + p,
  body:not(.no-literate) .content > blockquote + p,
  body:not(.no-literate) .content > pre + ul,
  body:not(.no-literate) .content > blockquote + ul,
  body:not(.no-literate) .content > pre + ol,
  body:not(.no-literate) .content > blockquote + ol,
  body:not(.no-literate) .content > pre + h4,
  body:not(.no-literate) .content > blockquote + h4,
  body:not(.no-literate) .content > pre + h5,
  body:not(.no-literate) .content > blockquote + h5,
  body:not(.no-literate) .content > pre + h6,
  body:not(.no-literate) .content > blockquote + h6 {
    clear: none;
  }

  body:not(.no-literate) .content > ul,
  body:not(.no-literate) .content > ol {
    width: 530px;
  }
}

@media (min-width: 1340px) {
  body:not(.no-literate) .content img {
    width: 480px;
    margin-right: -135px;
  }
}


@media (min-width: 960px) {
 .header ul {
    border-left: solid 1px #dfe2e7;
    margin-left: 15px;
  }
}

@media (max-width: 960px) {
  .header ul {
    padding-top: 10px;
    clear: both;
  }
}

@media (max-width: 1180px) {
  .right {
    display: none;
  }
}