#logo {
  height: 32px;
  width: 85px;
  float: left;
  margin: -5px 0 -7px 0;
  display: block;
}

.content h1 {
  font-size: 2em;
}

.content h2 {
  color: #9090aa;
}

.content img {
  width: 100%;
  border: 1px solid #e7e7e7;
}

.content table th,
.content table td {
  padding: 5px;
  line-height: 1.428571429;
  vertical-align: top;
  font-family: Menlo, monospace;
  font-size: 11px;
}

.content table th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
  font-weight: bold;
}

.content table td {
  border-top: 1px solid #dddddd;  
}

@media (min-width: 1180px) {
  body:not(.no-literate) .content img {
    width: 330px;
    padding: 5px;
    margin-left: 15px;
    margin-right: 15px;
    background: #ffffff;
    border: 1px solid #f2f2f2;
    float: right;
    clear: right;
  }

  body:not(.no-literate) .content table {
    width: 380px;
    padding-left: 20px;
    padding-right: 20px;
    float: right;
    clear: right;
  }
}

@media (min-width: 1340px) {
  body:not(.no-literate) .content img {
    width: 480px;
    margin-right: -135px;
  }
}


@media (min-width: 768px) {
 .header ul {
    border-left: solid 1px #dfe2e7;
    margin-left: 15px;
  }
}

@media (max-width: 768px) {
  .header ul {
    padding-top: 10px;
    clear: both;
  }
}