<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Spark Docs | {{title}}</title>
    <link rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{assets}}/validation.css">
  </head>
  <body style="padding-top: 60px;">
    <div class="container">

          {{#markdown}}
            {{> body }}
          {{/markdown}}

      </div>
    </div>
    <script src="{{assets}}/validation.js"></script>
  </body>
</html>
