div.apiHelper, div.codeboxBanner {
    background-color: @NC_MORNING_MIST;
}

div.apiHelperBox, div.codeboxBannerBox {
    padding: 10px;
};

div.apiHelperSSO {
    border-bottom-style: solid;
    border-color: white;
}

div.apiHelperSmallText {
    font-size: 12px;
}

select.apiHelperSelect {
    height: 27px;
    background-color:#EFEFEF;
}

select.apiHelperSelect24 {
    height: 24px;
    background-color:#EFEFEF;
}

select.codeboxFlashDeviceSelect, select.apiHelperConfigSchemaProductSelect {
    height: 24px;
    background-color:#EFEFEF;
}

pre.codeboxPre {
    padding: 0px;
};

.apiHelperMonoSmall {
    font-family: @monospace-font;
    font-size: 10px;  
};

table.apiHelperTableNoMargin {
    margin: 0px !important;
};

table.apiHelperEventTable {
    table-layout: fixed;
    width: 680px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
};

table.apiHelperProductSelectorTable {
    margin: 0px 0px 0px 0px !important;
};

td.apiHelperProductSelectorLabel {
    vertical-align: middle !important;
};


tr.apiHelperSelectedRow {
    background-color: @NC_TEAL
};

.apiHelperEventViewerEvent {
    width: 140px;
    word-break: break-all;
};
.apiHelperEventViewerData {
    width: 290px;
    word-break: break-all;
};
.apiHelperEventViewerDevice {
    width: 100px;
    word-wrap: break-word;
};
.apiHelperEventViewerTime {
    width: 100px;
    word-wrap: break-word;
};

.apiHelperMono {
    font-family: @monospace-font;
    font-size: 12px;  
};

.usbSerialConsoleTextArea {
    width: 99%;
    height: 500px;
	color: @NC_ALMOST_WHITE;
	background-color: @super-dark-gray;
};

textarea.usbSerialConsoleTextArea:hover,
textarea.usbSerialConsoleTextArea:focus {
	color: @NC_ALMOST_WHITE;
	background-color: @super-dark-gray;
};
