div.apiHelper {
    .STYLE_body_md_r();
};

div.apiHelperBox, div.codeboxBannerBox {
    padding: 10px;
};

div.apiHelperSSO {
    border-bottom-style: solid;
    border-color: white;
}

div.apiHelperSmallText {
    font-size: 12px;
}

select.apiHelperSelect {
    height: 27px;
}

select.apiHelperSelect24 {
    height: 24px;
}

select.codeboxFlashDeviceSelect, select.apiHelperConfigSchemaProductSelect {
    height: 24px;
}

pre.codeboxPre {
    padding: 0px;
};

.apiHelperMonoSmall {
    font-family: @monospace-font;
    font-size: 10px;  
};

table.apiHelperTableNoMargin {
    margin: 0px !important;
};

table.apiHelperEventTable {
    table-layout: fixed;
    width: 680px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
};

table.apiHelperProductSelectorTable {
    margin: 0px 0px 0px 0px !important;
};

td.apiHelperProductSelectorLabel {
    vertical-align: middle !important;
};


tr.apiHelperSelectedRow {
    background-color: @NC_TEAL
};

.apiHelperEventViewerEvent {
    width: 140px;
    word-break: break-all;
};
.apiHelperEventViewerData {
    width: 290px;
    word-break: break-all;
};
.apiHelperEventViewerDevice {
    width: 100px;
    word-wrap: break-word;
};
.apiHelperEventViewerTime {
    width: 100px;
    word-wrap: break-word;
};

.apiHelperLargeTitle {
    font-size: 16px;  
    font-weight: bold;
};

.apiHelperMono {
    font-family: @monospace-font;
    font-size: 12px;  
};

.apiHelperGiantButton {
    width: 80%;
    padding: 10px 10px 10px 10px;
    margin: 20px 20px 20px 20px;
    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
};
.apiHelperTroubleshootingPage {
    padding-top: 15px;
    padding-bottom: 15px;
}

.apiHelperTroubleshootingField {
    padding-top: 10px;
    padding-bottom: 10px;
}

.apiHelperTroubleshootingInput {
    padding-top: 5px;
    padding-bottom: 5px;
}

.apiHelperTroubleshootingDescription {
    font-size: 10px;
}

.usbSerialConsoleTextArea {
    width: 99%;
    height: 500px;
	color: @NC_ALMOST_WHITE;
	background-color: @super-dark-gray;
};

textarea.usbSerialConsoleTextArea:hover,
textarea.usbSerialConsoleTextArea:focus {
	color: @NC_ALMOST_WHITE;
	background-color: @super-dark-gray;
};


@media (prefers-color-scheme: dark) {
    div.apiHelper, div.codeboxBanner {
        background-color: @COLOR_Midnight_500;
    }
    select.apiHelperSelect,
    select.apiHelperSelect24,
    select.codeboxFlashDeviceSelect, 
    select.apiHelperConfigSchemaProductSelect {
        background-color: @COLOR_Midnight_500;
        color: @COLOR_Gray_100;
    }
    .apiHelperGiantButton {
        background-color: @COLOR_ParticleBlue_900;
        color: @COLOR_Gray_100;
    }
    .apiHelperGiantButtonSelected {
        background-color: @COLOR_ParticleBlue_700;
    }
}


@media (prefers-color-scheme: light) {
    div.apiHelper, div.codeboxBanner {
        background-color: @NC_MORNING_MIST;
    }
    select.apiHelperSelect,
    select.apiHelperSelect24,
    select.codeboxFlashDeviceSelect, 
    select.apiHelperConfigSchemaProductSelect {
        background-color:#EFEFEF;
        color: @COLOR_Midnight_500;
    }
    .apiHelperGiantButton {
        background-color: @COLOR_ParticleBlue_400;
        color: @COLOR_Midnight_500;
    }
    .apiHelperGiantButtonSelected {
        background-color: @COLOR_ParticleBlue_700;
    }
}
