/* ----------------------------------------------------------------------------
 * Fonts
 */

* {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
}

// @font-face {
// font-family: "Inconsolata";
// src: url("../fonts/Inconsolata.otf") format("opentype");
// }
/* ----------------------------------------------------------------------------
 * Base
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

div {
  .STYLE_body_md_r();
}

[data-theme="dark"] {
  --theme-api-helper-box-color: @COLOR_Midnight_500;
  --theme-api-helper-grouped-box-outer: @COLOR_Gray_400;
  --theme-api-helper-giant-button-background-color: @COLOR_ParticleBlue_900;
  --theme-api-helper-giant-button-selected-color: @COLOR_ParticleBlue_700;
  --theme-background-color: @COLOR_Midnight_800;
  --theme-hover-link-color: @COLOR_Gray_100;
  --theme-main-bottom-color: @COLOR_Gray_200;
  --theme-main-box-title-color: @COLOR_Gray_200;
  --theme-main-box-description-color: @COLOR_Gray_200;
  --theme-main-grid-button-color: @COLOR_Gray_200;
  --theme-main-mini-link-color: @COLOR_Gray_200;
  --theme-main-no-pic-rect-border: solid 1px @COLOR_Gray_400;
  --theme-main-square-border: solid 1px @COLOR_Gray_400;
  --theme-menubar-color: @COLOR_Gray_100;
  --theme-menubar-background-color: @COLOR_Midnight_600;
  --theme-password-input: @COLOR_Gray_100;
  --theme-password-input-background: @COLOR_Midnight_600;
  --theme-primary-text-color: @COLOR_Gray_100;
  --theme-search-container-background-color: @COLOR_Midnight_600;
  --theme-search-overlay-background-color: rgba(0,0,0,0.9);
  --theme-search-overlay-query-background-color: @COLOR_Midnight_500;
  --theme-select-background-color: @COLOR_Midnight_500;
  --theme-visited-link-color: @COLOR_Gray_100;
  --theme-webhook-demo-product-config-banner: @COLOR_ParticleBlue_700;
}

[data-theme="light"] {
  --theme-api-helper-box-color: @NC_MORNING_MIST;
  --theme-api-helper-grouped-box-outer: @COLOR_Midnight_300;
  --theme-api-helper-giant-button-background-color: @COLOR_ParticleBlue_400;
  --theme-api-helper-giant-button-selected-color: @COLOR_ParticleBlue_700;
  --theme-background-color: @COLOR_White_0;
  --theme-hover-link-color: @COLOR_Midnight_500;
  --theme-main-bottom-color: @COLOR_Midnight_500;
  --theme-main-box-title-color: @COLOR_Midnight_500;
  --theme-main-box-description-color: @COLOR_Midnight_500;
  --theme-main-grid-button-color: @COLOR_Midnight_500;
  --theme-main-mini-link-color: @COLOR_Midnight_500;
  --theme-main-no-pic-rect-border: solid 1px @COLOR_Midnight_500;
  --theme-main-square-border: solid 1px @COLOR_Midnight_500;
  --theme-menubar-color: @COLOR_Midnight_300;
  --theme-menubar-background-color: COLOR_Gray_100;
  --theme-password-input: @COLOR_Midnight_500;
  --theme-password-input-background: @COLOR_Gray_200;
  --theme-primary-text-color: @COLOR_Midnight_500;
  --theme-search-container-background-color: @COLOR_Gray_100;
  --theme-search-overlay-background-color:  rgba(255,255,255,0.96);
  --theme-search-overlay-query-background-color: @COLOR_Midnight_500;
  --theme-select-background-color: @NC_MORNING_MIST;
  --theme-visited-link-color: @COLOR_Midnight_500;
  --theme-webhook-demo-product-config-banner: @COLOR_ParticleBlue_400;
}

  


[data-theme="dark"] {
  // content color is COLOR_Gray_100
  .searchOverlayQuery {
      background-color: @COLOR_Midnight_500;
  }
  /*
  // This does not work
  a.searchOverlayLink:visited {
    color: @COLOR_Gray_400;
  }
  */
}

[data-theme="light"] {
  // content color is COLOR_Midnight_500
  .searchOverlayQuery {
      background-color: @NC_MORNING_MIST;
  }
  #searchOverlay {
    background-color: rgba(255,255,255,0.96);
  }

  .document-search-container {
    background-color: @COLOR_Gray_100;
  }
  /*
  // This does not work
  a.searchOverlayLink:visited {
    color: @COLOR_Midnight_300;
    
  }
  */
}



body {
  line-height: 1;
  color: var(--theme-primary-text-color);
  background: var(--theme-background-color);
}

a {
  .STYLE_link_inline_md_r(); // Use bold Grafik
  // .STYLE_link_md_r(); // Use MDIO
  color: var(--theme-primary-text-color);

  &:visited {
    color: var(--theme-visited-link-color);
  }
  &:hover {
    text-decoration: underline;
    color: var(--theme-hover-link-color);
  }
  &.menu {
    text-decoration: underline;
  }
}

input[type=text],input[type=password] {
  .STYLE_body_md_r();
  color: var(--theme-password-input);
  background-color: var(--theme-password-input-background);
  border: 0px;
  &:focus {
    color: var(--theme-password-input);
    background-color: var(--theme-password-input-background);  
  }
}


ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
@media screen {
  #docs,
  html,
  body {
	height: 100%;
	overflow-y: auto;
  }
  html {
	overflow-x: hidden;
  }
}
body,
td,
textarea,
input {
  line-height: 20px; // body large regular
  font-size: 16px;
  //color: @NC_HEADER;
}
pre code {
  color: @NC_WHITE;
}
button {
  .STYLE_button_md();
  border-radius: 0px;
  height: 32px;
  color: @COLOR_Midnight_500;
  padding-left: 12px;
  padding-right: 12px;
  &:enabled {
      background-color: @COLOR_ParticleBlue_500;
  }
  &:hover:enabled {
      text-decoration: underline;
  }
  &:disabled {
      background-color: @COLOR_ParticleBlue_800;
  }

};

button.smallButton {
  .STYLE_button_sm();
  border-radius: 0px;
  height: 20px;
  color: @COLOR_Midnight_500;
  padding-left: 8px;
  padding-right: 8px;
  &:enabled {
      background-color: @COLOR_ParticleBlue_500;
  }
  &:hover:enabled {
      text-decoration: underline;
  }
  &:disabled {
      background-color: @COLOR_ParticleBlue_800;
  }

};

p.attribution {
  font-size: 10px;
  text-align: center;
  margin-top: -15px;
  line-height: 18px !important;
};

@media (max-width: 480px) {
  body,
  td,
  textarea,
  input {
    font-size: 14px;
  }
}
/*
a {
  font-family: @link-font;
  font-size: 16px;
  font-weight: 400px;
  text-decoration: underline;
}
a:hover {
  color: @NC_CYAN_HOVER;
}
*/
