/* ----------------------------------------------------------------------------
 * Fonts
 */

* {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
}

// @font-face {
// font-family: "Inconsolata";
// src: url("../fonts/Inconsolata.otf") format("opentype");
// }
/* ----------------------------------------------------------------------------
 * Base
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

div {
  .STYLE_body_md_r();
}

body {
  line-height: 1;
  color: var(--theme-primary-text-color);
  background: var(--theme-background-color);
}

a {
  .STYLE_link_inline_md_r(); // Use bold Graphik
  // .STYLE_link_md_r(); // Use MDIO
  color: var(--theme-primary-text-color);

  &:visited {
    color: var(--theme-visited-link-color);
  }
  &:hover {
    text-decoration: underline;
    color: var(--theme-hover-link-color);
  }
  &.menu {
    text-decoration: underline;
  }
}

input[type=text],input[type=password] {
  .STYLE_body_md_r();
  color: var(--theme-password-input);
  background-color: var(--theme-password-input-background);
  border: 0px;
  &:focus {
    color: var(--theme-password-input);
    background-color: var(--theme-password-input-background);  
  }
}


ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
@media screen {
  #docs,
  html,
  body {
	height: 100%;
	overflow-y: auto;
  }
  html {
	overflow-x: hidden;
  }
}
body,
td,
textarea,
input {
  line-height: 20px; // body large regular
  font-size: 16px;
  //color: @NC_HEADER;
}
pre code {
  color: @NC_WHITE;
}
button {
  font-family: @FONT_Graphik;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  border-radius: 20px;
  height: 32px;
  padding-left: 24px;
  padding-right: 24px;
  &:enabled {
      color: var(--theme-button-primary-text-color);
      border: var(--theme-button-primary-border);
      background-color: var(--theme-button-primary-background-color);
  }
  &:hover:enabled {
      text-decoration: none;
      color: var(--theme-button-primary-text-hover-color);
      border: var(--theme-button-primary-border-hover);
      background-color: var(--theme-button-primary-background-hover-color);
  }
  &:disabled {
    color: var(--theme-button-primary-border-disabled-color);
    border: var(--theme-button-primary-border-disabled);
    background-color: var(--theme-button-primary-background-disabled-color);
  }
};

button.secondaryButton, button.downloadButton {
  font-family: @FONT_Graphik;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  border-radius: 20px;
  height: 32px;
  padding-left: 24px;
  padding-right: 24px;
  &:enabled {
      color: var(--theme-button-secondary-text-color);
      border: var(--theme-button-secondary-border);
      background-color: var(--theme-button-secondary-background-color);
  }
  &:hover:enabled {
      text-decoration: none;
      color: var(--theme-button-secondary-text-hover-color);
      border: var(--theme-button-secondary-border-hover);
      background-color: var(--theme-button-secondary-background-hover-color);
  }
  &:disabled {
    color: var(--theme-button-secondary-border-disabled-color);
    border: var(--theme-button-secondary-border-disabled);
    background-color: var(--theme-button-secondary-background-disabled-color);
  }
};

button.secondaryButtonSmall {
  font-family: @FONT_Graphik;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  border-radius: 8px;
  height: 22px;
  padding-left: 10px;
  padding-right: 10px;
  &:enabled {
      color: var(--theme-button-secondary-text-color);
      border: var(--theme-button-secondary-border);
      background-color: var(--theme-button-secondary-background-color);
  }
  &:hover:enabled {
      text-decoration: none;
      color: var(--theme-button-secondary-text-hover-color);
      border: var(--theme-button-secondary-border-hover);
      background-color: var(--theme-button-secondary-background-hover-color);
  }
  &:disabled {
    color: var(--theme-button-secondary-border-disabled-color);
    border: var(--theme-button-secondary-border-disabled);
    background-color: var(--theme-button-secondary-background-disabled-color);
  }
};


button.smallButton {
  .STYLE_button_sm();
  border-radius: 0px;
  height: 20px;
  color: @COLOR_Midnight_500;
  padding-left: 8px;
  padding-right: 8px;
  &:enabled {
      background-color: @COLOR_ParticleBlue_500;
  }
  &:hover:enabled {
      text-decoration: underline;
  }
  &:disabled {
      background-color: @COLOR_ParticleBlue_800;
  }

};

p.attribution {
  font-size: 10px;
  text-align: center;
  margin-top: -15px;
  line-height: 18px !important;
};

@media (max-width: 480px) {
  body,
  td,
  textarea,
  input {
    font-size: 14px;
  }
}
/*
a {
  font-family: @link-font;
  font-size: 16px;
  font-weight: 400px;
  text-decoration: underline;
}
a:hover {
  color: @NC_CYAN_HOVER;
}
*/
