.content p.boxed {
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  font-size: 12px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.content p.boxedHead {
  background-color: @NC_TEAL;
  font-weight: bold;
  font-style: none;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  border-bottom: 1px @NC_CYAN;
}

div.boxed {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
  border: solid black 1px;
}

div.warningBox {
  color: @COLOR_Midnight_500;
  background-color: @COLOR_State_Yellow_500;
  a,
  a:visited {
    color: @COLOR_Midnight_500;
  }  
}

div.boxedSideBySide {
  vertical-align: top;
  margin-bottom: 1em;
  padding: 1em;
  box-sizing: border-box;
  width: 45%;
  display: inline-block;
}

div.boxedCentered3col {
  vertical-align: top;
  text-align: center;
  margin-bottom: 1em;
  padding: 1em;
  box-sizing: border-box;
  width: 30%;
  display: inline-block;
}

div.collapseIndent {
  padding-left: 20px;
  padding-top: 14px;
};

div.stepDiagramContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}