
/*
.button, .button:visited {
  background: @NC_BODY;
  border:0;
  padding: 7px 25px;
}

.button:hover {
  background-color: @COLOR_Gray_200;
}
*/

@dark-gray: @NC_HEADER;
@spark-blue: @NC_BODY;
@monokai-gray: @NC_HEADER;
@transparent-monokai: rgba(39,40,34,0);
