/* ----------------------------------------------------------------------------
 * Content styling
 */
i {
  line-height: 1;
}

.two-columns .content .inline-header-image {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  margin-left: 10px;
  margin-bottom: 0;
  margin-top: -5px;
  border: none;

  &.-small {
    width: 20px;
  }
}
.content {
  position: relative;
  .btn {
    cursor: pointer;
    background: @spark-blue;
    color: @NC_WHITE;
    font-weight: bold;
    font-size: 12px;
    padding: 10px !important;
    letter-spacing: 0.7px;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    &:hover {
      background: @spark-blue-dark;
    }
    i {
      margin-right: 7px;
      font-size: 16px;
      display: inline-block;
      vertical-align: middle;
      color: @white;
      position: relative;
      top: -1px;
    }
  }
}
.content p,
.content ul,
.content ol,
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content pre,
.content blockquote {
  padding: 10px 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  i {
    color: @gray;
  }
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  // font-weight: bold;
  position: relative;
  &:hover {
    .header-permalinks {
      opacity: 1;
    }
  }
}
.content pre {
  white-space: pre-wrap;
  position: relative;
  z-index: 1;
}
.content p {
  line-height: 24px;
  //color: @dark-gray;
  &.caption {
    font-style: italic;
    text-align: center;
    margin-top: -15px;
    margin-bottom: 20px;
  }
}
.content ul > li {
  list-style-type: disc;
  //color: @dark-gray;
  // font-weight: 300;
}
.content ol > li {
  list-style-type: decimal;
  //color: @dark-gray;
  // font-weight: 300;
  margin-bottom: 7px;
}
.content ul,
.content ol {
  margin-left: 20px;
}
.content ul > li {
  list-style-type: disc;
  // position: relative;
  margin-bottom: 5px;
  margin-left: 15px;
}
.content ul > li > ul > li {
  list-style-type: circle;
  margin-bottom: 5px;
}
.content ul > li > ul > li > ul > li {
  list-style-type: square;
  margin-bottom: 5px;
}
.content ul > li:before {
  content: '';
  display: block;
  position: absolute;
  left: -17px;
  top: 9px;
  width: 4px;
  height: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: @dark-gray;
  display: none;
}
.content ul > ul > li {
  //color: @NC_NAVY;
}
.content li > :first-child {
  padding-top: 0;
}
.content li > :last-child {
  padding-bottom: 0;
}
.content strong,
.content b {
  font-weight: 600;
}

.content em {
  font-style: italic;
  // font-weight: 300;
}
// Inline code
.content code {
  font-family: @monospace-font;
  font-weight: 500;
  // background: @almost-white;
  padding: 1px 3px;
  font-size: 11px;
  span {
    font-family: @monospace-font;
    font-weight: 500;
    font-size: 12px;
    &.com {
      font-family: @monospace-font;
    }
  }
}
.content pre > code {
  display: block;
  background: transparent;
  font-size: 12px;
  line-height: 21px;
  margin-bottom: 40px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-x: hidden;
}
.content blockquote :first-child {
  padding-top: 0;
}
.content blockquote :last-child {
  padding-bottom: 0;
}
/* ----------------------------------------------------------------------------
 * Content
 */
span.red {
  color: @red;
  background: @white;
}
h1 .header-permalinks {
  display: none;
}
.two-columns {
  .header-permalinks {
    left: -25px;
  }
}
.one-column {
  .header-permalinks {
    left: -25px;
  }

  .topLogo {
    border-bottom: var(--theme-menubar-border);
  }
}

.header-permalinks {
  position: absolute;
  left: 15px;
  opacity: 0;
  cursor: pointer;
  i {
    color: @light-gray;
    font-size: 20px;
  }
  &:hover {
    i {
      color: @gray;
    }
  }
}
@media screen {
  .content-root {
    position: absolute;
    top: @headerHeight;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
.content,
.content-body {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  zoom: 1;
  max-width: 950px;
}
@media screen {
  .content-inner {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
.content:before,
.content:after {
  content: '';
  display: table;
}
.content:after {
  clear: both;
}
.content blockquote {
  color: @NC_PURPLE_GRAY;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.content h1,
.content h2,
.content h3 {
  padding-bottom: 0;
}
.content h1 + p,
.content h2 + p,
.content h3 + p,
.content h1 ul,
.content h2 ul,
.content h3 ul,
.content h1 ol,
.content h2 ol,
.content h3 ol {
  padding-top: 10px;
}
.content h1 {
  font-family: @FONT_Graphik;
  font-weight: 500;
  font-size: 24px;
  line-height: 28.8px;
}

.content h2 {
  color: var(--theme-header-blue);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.content h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19.2px;
}

.content h1,
.content h2,
.content h3 {
  padding: 40px 0 10px;
}

.content h1:before,
.content h2:before,
.content h3:before {
  display: none;
  content: '';
  background: @light-gray;
  height: 1px;
  position: relative;
  top: -40px;
  left: -40px;
  width: 100%;
}
@media (max-width: 768px) {
  .content h1,
  .content h2,
  .content h3 {
    padding-top: 40px;
  }
  .content h1:before,
  .content h2:before,
  .content h3:before {
    background: @NC_MORNING_MIST;
    left: -40px;
    top: -20px;
    width: 120%;
  }
}
.content h4 {
  padding-top: 15px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
.content.reference h4 {
  text-transform: none;
}
.content h5,
.content .small-heading {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  padding-top: 30px;
  position: relative;
}

.content h3 {
  padding-top: 40px;
  margin-bottom: 0px;
  position: relative;
}

.content h2 + h3 {
  padding-top: 16px;
}

/*
// This is not working in the .content h3
  &:first-child {
    padding-top: 16px;
  }

*/


/*
// These used to have a text-transform, but now there's the same as the non-reference h2 and h3
.content.reference h3 {
  text-transform: none;
  .STYLE_heading_lg_e();
}
.content.reference h2 {
  text-transform: none;
  font-family: @body-font;
  .STYLE_display_sm();
}
*/

.content h1:first-child {
  padding: 0;
}
.content h1:first-child:before {
  display: none;
}
@media (max-width: 768px) {
  .content h4,
  .content h5,
  .content .small-heading {
    padding-top: 20px;
  }
  .content h3 {
    padding-top: 40px;
  }
}
@media (max-width: 480px) {
  .content {
    padding: 20px;
    padding-top: 40px;
  }
  .content h4,
  .content h5,
  .content .small-heading,
  .content h3 {
    padding-top: 10px;
  }
}


@media (max-width: 1180px) {
  #docs .content table th,
  #docs .content table td {
    //color: @dark-gray;
  }
  .content pre > code {
    background: @COLOR_Midnight_500; //@monokai-gray;
    border: solid 1px @NC_ALMOST_WHITE;
    border-top: solid 1px @NC_MORNING_MIST;
    border-left: solid 1px @NC_MORNING_MIST;
    display: block;
    padding: 10px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    overflow: auto;
  }
  .content pre > code {
    -webkit-overflow-scrolling: touch;
  }
  .content pre > code::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }
  .content pre > code::-webkit-scrollbar-thumb {
    background: @NC_MORNING_MIST;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: solid 4px @NC_ALMOST_WHITE;
  }
  .content pre > code:hover::-webkit-scrollbar-thumb {
    background: @NC_HAZE;
    -webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.2);
  }
}

// This class is used in the landing and quickstart pages to make a button from an anchor
a.button {
  font-family: @FONT_Graphik;
  display: inline-block;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  border-radius: 20px;
  height: 32px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  color: var(--theme-button-primary-text-color);
  border: var(--theme-button-primary-border);
  background-color: var(--theme-button-primary-background-color);
  text-decoration: none;
  &:visited {
    color: var(--theme-button-primary-text-color);
  }
  &:hover {
      text-decoration: none;
      color: var(--theme-button-primary-text-hover-color);
      border: var(--theme-button-primary-border-hover);
      background-color: var(--theme-button-primary-background-hover-color);
  }
};

// Don't actually position the upper right buttons in the upper right on mobile, since they'll
// obscure the header
@media (max-width: 799px) {
  .buttonUpperRight {
  }
}

@media (min-width: 800px) {
  .buttonUpperRight {
    position: fixed;
    top: 50px;
    right: 18px;
  }
}

h1 small.beta {
  color: @NC_PURPLE_GRAY;
  font-size: 0.6em;
  position: relative;
  top: -15px;
}

@media screen {
  .page-body {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    -webkit-transform: translate3d(0, 0, 0);
    z-index: @pageBodyZindex;
    //background: @white;
    left: @menubarWidth;

    // Start with menu hidden on mobile
    @media (max-width: @medium-size) {
      left: 0;
    }

    @media (min-width: @screenWidthForMenubarWide) {
      left: @menubarWideWidth;
    }
  }
}

.mobile-arrows {
  display: none;
  .clearfix();
  @media (max-width: @xlarge-size) {
    display: block;
  }
}
.desktop-arrows {
  display: block;
  @media (max-width: @xlarge-size) {
    display: none;
  }
}

.arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  max-width: 150px;
  min-width: 150px;
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;
  justify-content: center;
  -webkit-justify-content: center;
  align-content: center;
  -webkit-align-content: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  cursor: pointer;
  text-align: center;
  @media (max-width: @xxlarge-size) {
    top: auto;
    float: left;
    display: block;
    max-width: 50%;
    width: 50%;
    height: 50px;
    background: rgba(255, 255, 255, 0.9);
  }
  &:hover,
  &:active {
    color: @spark-blue;
    i {
      color: @spark-blue;
    }
  }
  &.previous-arrow {
    left: 0;
    @media (max-width: @xlarge-size) {
      left: 0;
    }
  }
  &.next-arrow {
    right: 15px;
    @media (max-width: @xlarge-size) {
      right: 15px;
    }
  }
  i {
    color: @light-gray;
    font-style: normal;
    font-size: 2em;
    .transition(color 0.2s);
    @media (max-width: @xlarge-size) {
      font-size: 1.5em;
      margin-top: 0;
    }
  }
}

@media (max-width: @medium-size) {
  .left {
    float: none;
  }
}

a.big.button {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
  background: transparent;
  border: solid 3px @NC_TEAL_DARK;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  font-family: @body-font;
}
a.big.button,
a.big.button:visited {
  color: @NC_TEAL_DARK;
  text-decoration: none;
}
a.big.button:hover {
  background: @NC_TEAL_DARK;
}
a.big.button:hover,
a.big.button:hover:visited {
  color: @NC_WHITE;
}

code .string,
code .number {
  color: @NC_CYAN;
}
code .init {
  color: @NC_EMERALD;
}
code .keyword {
  font-weight: bold;
}
code .comment {
  color: @NC_PURPLE_GRAY;
}
.large-brief .content > h1:first-child + p,
.content > p.brief {
  font-size: 1.3em;
  // font-family: Open Sans, sans-serif;
  // font-weight: 300;
}
.title-area {
  min-height: 100px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-align: center;
  border-bottom: solid 1px @NC_MORNING_MIST;
  overflow: hidden;
}
.title-area > img.bg {
  z-index: 0;
  position: absolute;
  left: -9999px;
}
.title-area > div {
  position: relative;
  z-index: 1;
}

.content img {
  max-width: 320px;
  //border: 1px solid @NC_ALMOST_WHITE;
  position: relative;
  z-index: 1;
  display: block;
  margin: 20px auto;
}

.content iframe {
  max-width: 320px;
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
  display: block;
  margin: 20px auto;
}

.content iframe.video {
  max-width: 100%;
}

.content table th,
.content table td {
  padding: 5px;
  line-height: 1.428571429;
  vertical-align: top;
  font-size: 11px;
  //color: @dark-gray;
}

.content table th {
  vertical-align: bottom;
  border-bottom: 2px solid @NC_MORNING_MIST;
  font-weight: bold;
}

/*
.content table td {
  border-top: 1px solid @NC_MORNING_MIST;
}
*/

hr {
  border: 0;
  display: none;
}
.content sup,
.content sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.content sup {
  top: -0.5em;
}
.content sup.new {
  font-weight: bold;
  color: @wisteria;
  left: 2px;
}
.content sub {
  bottom: -0.25em;
}
.content dd,
.content dt {
  line-height: 1.45;
}
.content dd {
  margin-left: 40px;
  margin-top: 5px;
}
.content dt {
  font-weight: bold;
  margin-top: 15px;
}
.dictionary-wrapper p {
  display: none;
}

.dashboard-teaser {
  img {
    border: 1px solid @light-gray;
    background: @almost-white;
    padding: 10px;
    max-height: 375px !important;
  }
}

.one-column {
  .content {
    padding: 40px 30px 80px;
    margin: 0 0 0 22px;
    max-width: 950px;
  }
  .content p.img {
    padding-top: 0;
    padding-bottom: 0;
  }
  .iframe-wrapper {
    margin: 40px 0;
    text-align: center;
    iframe {
      margin-bottom: 0;
    }
  }
  .content pre > code {
    margin-bottom: 10px;
  }
  .content img {
    margin: 40px auto;
    max-width: 95%;
    max-height: 500px;
    //border: 1px solid @light-gray;
    @media (max-width: @medium-size) {
      max-width: 100%;
    }
    &.full-width {
      max-width: 100%;
      max-height: 900px;
    }
    &.small {
      max-width: 300px;
      max-height: 200px;
      @media (max-width: @medium-size) {
        max-width: 50%;
      }
      @media (max-width: @small-size) {
        max-width: 80%;
      }
    }
  }
  .content h4:after,
  .content h5:after,
  .content .small-heading:after,
  .content h3:after {
    left: 0;
    width: 100%;
  }
  table {
    margin: 40px auto;
  }
  @media screen {
    .content pre > code {
      background: @COLOR_Midnight_500;
      // border-radius: 2px;
      padding: 10px;
    }
  }

  /*
  .content h4,
  .content h5,
  .content .small-heading,
  .content h3 {
    margin-bottom: 10px;
  }
  */
}

.two-columns {
  .content {
    padding: 40px 30px 80px;
    margin: 0 0 0 22px;
  }
  .content p.img {
    padding-top: 0;
    padding-bottom: 0;
  }
  .iframe-wrapper {
    margin: 40px 0;
    text-align: center;
    iframe {
      margin-bottom: 0;
    }
  }
  .content pre > code {
    margin-bottom: 10px;
  }
  .content img {
    margin: 40px auto;
    max-width: 80%;
    max-height: 500px;
    //border: 1px solid @light-gray;
    &[alt='Create a New Organization'] {
      max-width: 300px;
    }
    &[alt='Photon Reset Modes'] {
      background: @dark-gray;
    }
    &[alt='Simple Auth Flow'],
    &[alt='Two-legged auth flow'] {
      max-width: 100%;
      border: none;
      max-height: none;
    }
    @media (max-width: @medium-size) {
      max-width: 100%;
    }
    &.full-width {
      max-width: 100%;
      max-height: 950px;
    }
    &.small {
      max-width: 300px;
      @media (max-width: @medium-size) {
        max-width: 50%;
      }
      @media (max-width: @small-size) {
        max-width: 80%;
      }
    }
    &.tall {
      max-height: 900px;
    }
    &.toolbarIcon {
      width: 40px;
      height: 32px;
      margin: 0px;
    }
  }
  .content h4:after,
  .content h5:after,
  .content .small-heading:after,
  .content h3:after {
    left: 0;
    width: 100%;
  }
  table {
    margin: 40px auto;
  }
  
  @media screen {
    .content pre > code {
      background: @COLOR_Midnight_500;
      // border-radius: 2px;
      padding: 10px;
    }
  }
  
  /*
  .content h4,
  .content h5,
  .content .small-heading,
  .content h3 {
    margin-bottom: 10px;
  }
  */
}


.three-columns {
  @media (min-width: 1180px) {
    hr {
      display: block;
      clear: both;
    }

    .content img {
      max-width: 400px;
      display: block;
      margin: 0 0 50px;
      padding: 5px;
      background: @NC_WHITE;
      border: 1px solid @NC_ALMOST_WHITE;
    }

    .content .iframe-wrapper {
      width: 55%;
      float: right;
      clear: right;
      margin-top: 10px;
      margin-bottom: 50px;
    }

    .content iframe {
      max-width: 400px;
      margin: 0;
      padding-left: 40px;
    }

    .content p.img {
      padding: 0 40px;
      margin-top: 10px;
      float: right;
      width: 55%;
      clear: left;
    }

    .content > table,
    .content > .table-scrollable {
      box-sizing: border-box;
      width: 45%;
      padding-left: 40px;
      padding-right: 40px;
      margin: 20px 0;
      float: left;
      clear: left;
      //color: @NC_MIDNIGHT;
    }

    .content > p,
    .content > ul,
    .content > ol,
    .content > h4,
    .content > h5,
    .content > h6 {
      float: left;
      clear: left;
    }

    .content > pre + p,
    .content > p.img + p,
    .content > pre + ul,
    .content > p.img + ul,
    .content > pre + ol,
    .content > p.img + ol,
    .content > pre + h5,
    .content > p.img + h5,
    .content > pre + h6,
    .content > p.img + h6 {
      clear: left;
    }

    .content > ul,
    .content > ol {
      width: 45%;
      margin-left: 0;
      padding-left: 75px;
    }
    .content-root {
      // background-color: @NC_WHITE;
    }
    .code-samples {
      background: @NC_CODE_BG;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 55%;
      z-index: 0;
    }
    .content {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      max-width: none;
    }
    .content > p,
    .content > ul,
    .content > ol,
    .content > h1,
    .content > h2,
    .content > h3,
    .content > h4,
    .content > h5,
    .content > h6,
    .content > pre,
    .content > blockquote {
      width: 45%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding-right: 40px;
      padding-left: 40px;
    }
    .content > h1,
    .content > h2,
    .content > h3 {
      clear: both;
    }
    .content > pre {
      width: 55%;
      padding: 10px 40px 0;
      float: right;
      clear: right;
    }
    .content > pre + p,
    .content > pre + ul,
    .content > pre + ol,
    .content > pre + h4,
    .content > pre + h5,
    .content > pre + h6 {
      clear: left;
    }
    .content > h4 + pre,
    .content > h3 + pre {
      clear: both;
    }
    .content > p,
    .content > ul,
    .content > ol,
    .content > h5,
    .content > h6 {
      float: left;
      clear: left;
    }
    .content > h4,
    .content > h5,
    .content > .small-heading,
    .content > h3 {
      //margin-bottom: 10px;
      padding-left: 40px;
      padding-right: 40px;
      clear: both;
    }
    .content > h3 {
      width: 45%;
      //margin-bottom: 10px;
      padding-left: 40px;
      padding-right: 40px;
      clear: both;
    }
  }
}

@media (min-width: 1340px) {
  .content img {
    display: block;
    margin: 0 0 50px;
  }
}

.table-scrollable {
  overflow-x: auto;
}

#imageToolsContainer {
  position: fixed;
  display: none;
  width: 100%;
  height: 40px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 301; 
}

#imageOverlayContainer {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 300; 
}

#imageOverlay > canvas {
  cursor: move;
}

.imageToolsBox {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: flex-end;
}

.imageToolsButton {
  width: 30px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  cursor: default;
}

.imageToolsLink {
  margin-left: 5px;
  margin-right: 5px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  cursor: default;
}

.imageToolsSpacer {
  width: 15px;
}

img.imageOverlay {
  object-fit: contain;
  height: 100%; 
  width: 100%;
}

// Details overlay

#detailsToolsContainer {
  position: fixed;
  display: none;
  width: 100%;
  height: 40px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 301; 
}

#detailsOverlayContainer {
  position: fixed;
  display: none;
  overflow: scroll;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9);
  z-index: 300; 
}

.detailsToolsBox {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: flex-end;
}


// 
// Colors and styles for the note helper
//
@note-gen2: @NC_CYAN;
@note-gen3: @NC_NAVY_HOVER;
@note-gen4: @NC_NAVY;
@note-wifi: @NC_EMERALD;
@note-cellular: @NC_EMERALD_DARK;
@note-note: @NC_MACARONI;
@note-warning: @NC_WARNING; 

span.note-prefix {
  font-size: small;
  font-weight: bold;
}

.note-common {
  margin: 8px 0px 4px 8px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-left-style: solid;
  border-width: 4px;
}

.note-gen2 {
  border-color: @note-gen2;
}
.note-gen3 {
  border-color: @note-gen3;
}
.note-gen4 {
  border-color: @note-gen4;
}
.note-wifi {
  border-color: @note-wifi;
}
.note-cellular {
  border-color: @note-cellular;
}
.note-note {
  border-color: @note-note;
}
.note-warning {
  border-color: @note-warning;
}


/* ----------------------------------------------------------------------------
 * Segment Cookie consent banner
 */
#consent-manager {
  position: fixed;
	bottom: 0;
	left: 0;
  right: 0;
	z-index: 999999;
	background: @COLOR_Midnight_500;
  font-size: 10px;
	> div > div {
		max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
		div:nth-child(2) {
      @media (max-width: 767px) {
				display: flex;
				margin: 0 -4px;
				button {
					margin: 4px;
				}
			}
		}
	}
  span, button:only-child {
    font-size: 12px;
  }
	p {
		text-align: left;
	}
	p a:hover, p button:hover {
		color: @COLOR_Gray_100;
	}
	div > button:first-child {
    text-decoration: none;
    border-radius: 0;
    border: none;
    transition: background-color 150ms, outline-color 150ms, outline-width 150ms, outline-offset 150ms;
    user-select: none;
    text-align: center;
    font-family: @monospace-font;
    line-height: 1;
    font-weight: 400;
    padding: .69rem 1rem;
    font-size: 1rem;
		color: @COLOR_Midnight_500;
		background: transparent;
		background-color: @COLOR_ParticleBlue_500;
		outline: 2px solid @COLOR_ParticleBlue_500;
		outline-offset: -2px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		&:hover {
			background: transparent;
			background-color: @COLOR_ParticleBlue_700;
			outline-color: @COLOR_ParticleBlue_700;
		}
		&:focus {
			outline-color: @COLOR_White_0;
		}
	}
	div > button:nth-child(2) {
    text-decoration: none;
    border-radius: 0;
    border: none;
    transition: background-color 150ms, outline-color 150ms, outline-width 150ms, outline-offset 150ms;
    user-select: none;
    text-align: center;
    font-family: @monospace-font;
    line-height: 1;
    font-weight: 400;
    padding: .69rem 1rem;
    font-size: 1rem;
		background-color: transparent;
		color: @COLOR_ParticleBlue_500;
		outline: 1px solid @COLOR_ParticleBlue_500;
		outline-offset: -1px;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		&:hover {
			background-color: @COLOR_Midnight_500;
		}
		&:focus {
			outline-width: 2px;
			outline-offset: -2px;
			outline-color: @COLOR_White_0;
		}
	}
  // Close button
  button:enabled {
    background-color: transparent;
  }
}
/* ----------------------------------------------------------------------------
 * Segment cookie consent preferences modal
 */
div[data-consent-manager-dialog] {
  section {
    border-radius: 0;
  }
  table {
    border-collapse: collapse;
    font-size: 12px;
    margin: 0 0;
    label, input, p, td, tr {
      font-size: 12px;
      line-height: 1.15; 
    }
    label {
      display: flex;
      align-items: center;
      margin-bottom: 5px;
    }
    input[type='radio'] {
      margin: 0;
      -webkit-appearance: none;
      appearance: none;
      background-color: @COLOR_White_0;
      margin: 0 5px 0 0;
      font: inherit;
      color: @COLOR_Midnight_500;
      width: 1.1em;
      height: 1.1em;
      border: 1px solid @COLOR_Midnight_500;
      border-radius: 50%;
      display: grid;
      place-content: center;
    }
    input[type='radio']::before {
      content: "";
      width: 0.65em;
      height: 0.65em;
      border-radius: 50%;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em @COLOR_Midnight_700;
    }
    input[type="radio"]:checked::before {
      transform: scale(1);
    }
  }
  form {
    button[type="button"] {
      text-decoration: none;
      border-radius: 0;
      border: none;
      transition: background-color 150ms, outline-color 150ms, outline-width 150ms, outline-offset 150ms;
      user-select: none;
      text-align: center;
      font-family: @monospace-font;
      line-height: 1;
      font-weight: 400;
      padding: .69rem 1rem;
      font-size: 1rem;
      background-color: transparent;
      color: @COLOR_Midnight_500;
      outline: 1px solid @COLOR_Midnight_500;
      outline-offset: -1px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background-color: @COLOR_ParticleBlue_500;
      }
      &:focus {
        outline-width: 0.2rem;
        outline-offset: -0.2rem;
      }
    }
    button[type="submit"] {
      text-decoration: none;
      border-radius: 0;
      border: none;
      transition: background-color 150ms, outline-color 150ms, outline-width 150ms, outline-offset 150ms;
      user-select: none;
      text-align: center;
      font-family: @monospace-font;
      line-height: 1;
      font-weight: 400;
      padding: .69rem 1rem;
      font-size: 1rem;
      color: @COLOR_Midnight_500;
      background: transparent;
      background-color: @COLOR_ParticleBlue_500;
      outline: 1px solid @COLOR_ParticleBlue_500;
      outline-offset: -1px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background: transparent;
        background-color: @COLOR_ParticleBlue_700;
        outline-color: @COLOR_ParticleBlue_700;
      }
      &:focus {
        outline-color: @COLOR_Midnight_500;
      }
    }
  }
  // Close button
  button:enabled {
    background-color: transparent;
  }
}

