
.device-selector-outer-checkbox-div {
    padding-top: 4px;
    padding-bottom: 4px;
}

.device-selector-checkbox {
    margin-top: 1px;
    margin-right: 2px;
};

.device-selector-details {
    margin-left: 20px;
}

.device-selector-description {
    margin-left: 20px;
    font-size: 12px;
}

.device-selector-no-filter {
    margin-top: 2px;
    margin-bottom: 4px;
    margin-left: 5px;
    font-size: 12px;
    font-style: italic;
}

.device-selector-large-solution-links {
    margin-top: 5px;
    margin-left: 2px;
}


.device-selector-small-solution-links {
    margin-top: 10px;
    margin-left: 5px;
    font-size: 12px;
}


.device-selector-note {
    margin-left: 5px;
    margin-top: 5px;
};

.device-selector-solution-header {
    margin-top: 20px;
}

.device-selector-variation-header {
    margin-top: 20px;
}