.getting-started {
  padding: 50px;
  text-align: center;
  h1.choose-device-header {
    font-size: 42px;
    margin-bottom: 50px;
    font-weight: 200;
    margin-top: 45px;
  }
}
.devices {
  padding-left: 0;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  max-width: 1000px;
  align-items: flex-start;

  margin: 0 auto;

  justify-content: center;
  flex-direction: row;
  @media(max-width: 768px) {
    display: block;
  }
  a {
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-self: stretch;
    padding: 0;
    @media(max-width: 768px) {
      margin-bottom: 50px;
    }
    h3 {
      text-transform: capitalize;
      font-size: 20px;
      margin-bottom: 20px;
      color: @dark-gray;
      font-weight: 400;
      font-family: @base-font-family;
      -webkit-transition: color .2s;
      -moz-transition: color .2s;
      -o-transition: color .2s;
      transition: color .2s;
    }
    img {
      max-width: 90%;
      width: 175px;
      opacity: 1;
      display: block;
      margin: 0 auto;
      -webkit-transition: opacity .2s;
      -moz-transition: opacity .2s;
      -o-transition: opacity .2s;
      transition: opacity .2s;
      @media(max-width: 768px) {
        max-width: 80px;
      }
    }

    &#raspberry-pi-link img {
      width: 300px;
    }

    &:hover {
      h3 {
        color: @spark-blue;
      }
    }
  }
}
@media (max-width: 768px) {
  .getting-started {
    padding: 30px 15px;
    h1.choose-device-header {
      margin-bottom: 40px;
      font-size: 32px;
    }
  }
  ul.devices {
    li {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      img {
        opacity: 1;
        width: 150px;
      }
      &#photon {
        margin-right: 0;
        img {
          width: 150px;
        }
      }
    }
  }
}

.device-animation {
  margin: 40px 0;
  text-align: center;
}

.content .asciicast iframe {
  max-width: inherit;
}
