
img.mainGridImg {
  max-width:100% !important;
  max-height:70% !important;
}

h1.mainTitle {
	margin-top: 4px;
	margin-bottom: 4px;
	font-size: 36px;
}

h2.mainHeader {
	.STYLE_heading_xl_r(); 
}

div.mainGrid {
  float:left;
  position: relative;
  width: 100%;
  margin-top: 40px;
}

div.mainGridHome {
	float:left;
	position: relative;
	width: 100%;
	margin-top: 20px;
  }
  
@media all and (max-width: 599px) {
	div.mainSquare {
	  float:left;
	  position: relative;
	  width: 90%;
	  padding-bottom: 90%;
	  margin-right: 1.66%;
	  margin-bottom: 1.66%;
	  overflow:hidden;
	}
}

@media all and (min-width: 600px) {
	div.mainSquare {
	  float:left;
	  position: relative;
	  width: 28%;
	  padding-bottom: 30%;
	  margin-right:1.66%;
	  margin-bottom: 1.66%;
	  overflow:hidden;
	}
}

div.mainSquare:hover { 
  position: relative; 
  top: -5px;
  cursor: pointer;
  transition-duration: .2s;
} 
  
div.mainContent {
  position:absolute;
  text-align:center;
  height:80%; 
  width:90%;
  padding: 10% 5%;
}


// div.mainTopBottom 

div.mainTop {
    position:absolute;
    vertical-align:center;
    top:0;
    height:75%;
    width:90%;
}
div.mainBottom {
    position:absolute;
    vertical-align:center;
    top:75%;
    height:25%;
    width:90%;
}

div.mainBoxTitle {
	.STYLE_body_md_r();
	font-weight: 500; // Default in body_md_r is 400, override this
	// Color is set below based on light/dark mode
}

div.mainBoxDescription {
	.STYLE_body_sm_r();
	font-weight: 500; // Default in body_sm_r is 400, override this
	// Color is set below based on light/dark mode
}

@media all and (max-width: 599px) {
	div.mainNoPicRect {
	  float:left;
	  position: relative;
	  width: 90%;
	  padding-bottom: 45%;
	  margin-right:1.66%;
	  margin-bottom: 1.66%;
	  overflow:hidden;
	}
}
@media all and (min-width: 600px) {
	div.mainNoPicRect {
	  float:left;
	  position: relative;
	  width: 28%;
	  padding-bottom: 20%;
	  margin-right:1.66%;
	  margin-bottom: 1.66%;
	  overflow:hidden;
	}
}

div.mainNoPicRect:hover { 
  position: relative; 
  top: -5px;
  cursor: pointer;
  transition-duration: .2s;
} 
  

div.mainNoPicTop {
	.STYLE_body_md_r();
	font-weight: 500; // Default in body_md_r is 400, override this
    position:absolute;
	text-align:left;
    vertical-align:center;
    padding: 15% 0%;
    top:0;
    height:40%;
    width:90%;
}
div.mainNoPicBottom {
	.STYLE_body_sm_r();
    position:absolute;
	text-align:left;
    vertical-align:center;
    top:40%;
    height:60%;
    width:90%;
}
a.mainMiniLink {
	.STYLE_body_sm_r();
};


@media (prefers-color-scheme: dark) {
	a.mainGridButton {
		color: @COLOR_Gray_200;
	}

	div.mainBoxTitle {
		color: @COLOR_Gray_200;
	}

	div.mainBoxDescription {
		color: @COLOR_Gray_200;
	}

	div.mainBottom {
		color :@COLOR_Gray_200;
	}
	
	div.mainNoPicBottom {
		color:@COLOR_Gray_200;
	}

	a.mainMiniLink {
		color:@COLOR_Gray_200;
	}

	div.mainSquare {
		border: solid 1px @COLOR_Gray_400;
	}

	div.mainNoPicRect {
		border: solid 1px @COLOR_Gray_400;
	}

}
  
@media (prefers-color-scheme: light) {
	a.mainGridButton {
		color: @COLOR_Midnight_500;
	}

	div.mainBoxTitle {
		color: @COLOR_Midnight_500;
	}

	div.mainBoxDescription {
		color: @COLOR_Midnight_500;
	}

	div.mainBottom {
		color :@COLOR_Midnight_500;
	}

	div.mainNoPicBottom {
		color:@COLOR_Midnight_500;
	}

	a.mainMiniLink {
		color:@COLOR_Midnight_500;
	}

	div.mainSquare {
		border: solid 1px @COLOR_Midnight_500;
	}

	div.mainNoPicRect {
		border: solid 1px @COLOR_Midnight_500;
	}
	
}
  


