.menubar {
  .STYLE_left_nav();
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  padding-top: 40px;
  padding-bottom: 75px;
  overflow-y: auto;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: @menubarWidth;
  box-sizing: border-box;
  z-index: @menuZindex;

  // Start with menu hidden on mobile
  @media(max-width: @medium-size) {
    transition: all @menuTransitionTime;
    left: -@menubarWidth;
  }

  @media(min-width: @screenWidthForMenubarWide) {
    width: @menubarWideWidth;
  }

  > ul {
    padding: 10px 20px;

    p {
      font-weight: bold;
      margin-top: 10px;
    }

    > li > ul > li {
      padding-left: 10px;
    }
  }
}

.internalMenuItem {
  color: @COLOR_ParticleBlue_500;
}

@media (prefers-color-scheme: dark) {
  .menubar {
    color: @COLOR_Gray_100;
    background: @COLOR_Midnight_600;
    // border-right: solid 1px @COLOR_Midnight_400;
  }
}

@media (prefers-color-scheme: light) {
  .menubar {
    color: @COLOR_Midnight_300;
    background: @COLOR_Gray_100; // @almost-white
    // border-right: solid 1px @NC_MORNING_MIST;
  }
}

@media(max-width: @medium-size) {
  .menubar-show {
    .menubar {
      transform: translate(@menubarWidth, 0);
      -ms-transform: translate(@menubarWidth, 0);
    }

    .page-body {
      -webkit-filter: blur(5px);
    }
  }

  .menubar-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: @headerHeight;
    z-index: @menuBackdropZindex;
    background-color: rgba(255,255,255,0.5);
  }
}


div.navMenu {
  padding: 10px 20px;
}

div.navContainer {
  display: flex
}

div.navMenu1 {
  .STYLE_left_nav();
  margin-top: 2px;
  margin-bottom: 5px;
}

div.navMenu2 {
  .STYLE_left_nav();
  padding-bottom: 3px;
  width: 245px;
  overflow: hidden;
  white-space: nowrap;

  @media (min-width: @screenWidthForMenubarWide) {
    width: 245px + @menubarWideExtra;
  }
}

div.navActive2 {
  .STYLE_left_nav();
  //font-weight: bold;
  text-decoration: underline;
  padding-bottom: 3px;
  width: 230px;
  overflow: hidden;
  white-space: nowrap;

  @media (min-width: @screenWidthForMenubarWide) {
    width: 230px + @menubarWideExtra;
  }

};

div.navMenu3 {
  .STYLE_left_nav();
  padding-bottom: 2px;
  width: 245px;
  overflow: hidden;
  white-space: nowrap;

  @media (min-width: @screenWidthForMenubarWide) {
    width: 245px + @menubarWideExtra;
  }

};

div.navMenu4 {
  .STYLE_left_nav();
  padding-bottom: 2px;
  width: 245px;
  overflow: hidden;
  white-space: nowrap;

  @media (min-width: @screenWidthForMenubarWide) {
    width: 245px + @menubarWideExtra;
  }

};

div.navMenu5 {
  .STYLE_left_nav();
  padding-bottom: 2px;
  width: 245px;
  overflow: hidden;
  white-space: nowrap;

  @media (min-width: @screenWidthForMenubarWide) {
    width: 245px + @menubarWideExtra;
  }

};

div.navSectionSpacer {
  height: 10px;
};

div.navPlusMinus {
  width: 15px;
};

div.navDisclosure {
  width: 15px;
};

div.navIndent2 {
  width: 15px;
};

div.navIndent3 {
  width: 25px;
};

div.navContent3 {
  width: 210px;
  overflow: hidden;
  white-space: nowrap;

  @media (min-width: @screenWidthForMenubarWide) {
    width: 210px + @menubarWideExtra;
  }

};

div.navIndent4 {
  width: 55px;
};

div.navContent4 {
  width: 195px;
  overflow: hidden;
  white-space: nowrap;

  @media (min-width: @screenWidthForMenubarWide) {
    width: 200px + @menubarWideExtra;
  }

};

div.navIndent5 {
  width: 70px;
};

div.navContent5 {
  width: 180px;
  overflow: hidden;
  white-space: nowrap;

  @media (min-width: @screenWidthForMenubarWide) {
    width: 185px + @menubarWideExtra;
  }

};

div.navContent {
  overflow: hidden;
};

a.navLink {
  .STYLE_left_nav();
};

a.navLink {
  &:link {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }  
}

a.navLinkActive {
  .STYLE_left_nav();
};

a.navLinkActive {
  &:link {
    text-decoration: underline;
  }
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: underline;
  }  
}


.menubar li a,
.menubar li a:visited {
  //font-size: 16px;
  //font-weight: normal;
  //color: @gray;
  margin: 2px 0;
  text-decoration: none;
  &:hover {
    //color: @spark-blue;
    text-decoration: underline;
  }
}
.menubar li {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  padding: 2px 0;
  i {
      font-size: .875em;
      user-select: none;
  }
}

@media print {
  .menubar {
    display: none;
  }
}
