.popup {
  background-color: transparent;
  border-radius: 4px;
  font-weight:normal;
  .transition(opacity 0.25s);
  font-size: 12px;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  display:block;
  transform: translateY(-50%);
  max-height: 320px;
}

.popupLink:hover .popup {
  visibility: visible;
  opacity: 1;
}

.popupLink {
  border-bottom: 1px solid #00adef;
  cursor: pointer;
}

.two-columns .content .img {
  .popup {
    margin: 0;
  }
}

@media screen and (min-width: @small-size) {

  .popup {
    left: 25%;
    max-width: 100%;
  }

}

@media screen and (max-width: @small-size) and (min-width: 0) {

  .popup {
    width: 100%;
    max-width: 320px;
  }


}

@media print
{
    .popupLink
    {
        display: none !important;
    }
}
