.resources-wrapper {
	max-width: 1300px;
	.center-block();
	padding: 40px 40px;
	text-align: center;

	h2 {
		font-size: 36px;
	}

	h4 {
		margin: 10px auto;
    font-size: 20px;
    line-height: 28px;
    max-width: 860px;
	}

	h5 {
		font-size: 18px;
	}

	p {
		font-size: @base-font-size;
	}

}


.row {
	.make-row();
}

.tile {
	.make-column(3);
}

.tilde-row {
	padding-top: 15px;
	.make-column(2);

	a {
		color: #34495e;
	}
}

.offset-1 {
	.make-column-offset(1);
}

.resource-tile {
	transition: all 0.25s ease;
	display: block;
  max-width: 240px;
  text-decoration: none;
  border: 5px solid transparent;
  border-radius: 10px;
  text-align: center;
  color: #34495e;
  padding: 20px;
  margin-top: 10px;
}

.resource-tile:hover {
	display: block;
  max-width: 240px;
  text-decoration: none;
  border: 5px solid transparent;
  border-radius: 10px;
  text-align: center;
  color: #34495e;
  padding: 20px;
  margin-top: 10px;
	-webkit-box-shadow: 7px 10px 25px 1px rgba(0,0,0,0.47);
	-moz-box-shadow: 7px 10px 25px 1px rgba(0,0,0,0.47);
	box-shadow: 7px 10px 25px 1px rgba(0,0,0,0.47);

}

.icon-iHelp {
	font-size: 36px;
}


.icon-smHelp {
	padding-top: 10px;
	font-size: 20px;
}

//Extract this to external JS file

.icon-xxHelp {
	//padding-top: 10px;
	font-size: 26px;
}

.help-button-wrapper {
	position: fixed;
	bottom: 25px;
	left: 25px; 
	z-index: 999;

}

#buttonParticle {
	background: #00ADEF;
	display:block;
  width:50px;
  height:50px;
  line-height:50px;
  //border: 2px solid #f5f5f5;
  border-radius: 50%;
  color:#f5f5f5;
  text-align:center;
  text-decoration:none;
  box-shadow: 0 0 3px gray;
  font-size:20px;
  font-weight:bold;
	/*Transition*/
	-webkit-transition: All 0.45s ease;
	-moz-transition: All 00.45s ease;
	-o-transition: All 00.45s ease;
	-ms-transition: All 00.45s ease;
	transition: All 00.45s ease;
}

#buttonParticle:hover{
	background: #00ADEF;
	display:block;
  width:55px;
  height:55px;
  line-height:55px;
  //border: 2px solid #f5f5f5;
  border-radius: 55%;
  color:#f5f5f5;
  text-align:center;
  text-decoration:none;
  box-shadow: 0 0 3px gray;
  font-size:20px;
  font-weight:bold;
}

a.buttonTextHelp {
	color: #fff;
	padding: -2px;
	font-size: 26px;
  text-decoration: none;
}

//Extract this to external JS file -end


