.resources-wrapper {
	max-width: 1300px;
	.center-block();
	padding: 40px 40px;
	text-align: center;

	h2 {
		font-size: 36px;
	}

	h4 {
		margin: 10px auto;
    font-size: 20px;
    line-height: 28px;
    max-width: 860px;
	}

	h5 {
		font-size: 18px;
	}

	p {
		font-size: @base-font-size;
	}

}


.row {
	.make-row();
}

.tile {
	.make-column(3);
}

.tilde-row {
	padding-top: 15px;
	.make-column(1);
	.make-column-offset(1);

	a {
		color: #34495e;
	}


}

.resource-tile {
	transition: all 0.75s ease;
	display: block;
  max-width: 240px;
  text-decoration: none;
  border: 5px solid transparent;
  border-radius: 10px;
  text-align: center;
  color: #34495e;
  padding: 20px;
  margin-top: 10px;
}

.resource-tile:hover {
	display: block;
  max-width: 240px;
  text-decoration: none;
  border: 5px solid transparent;
  border-radius: 10px;
  text-align: center;
  color: #34495e;
  padding: 20px;
  margin-top: 10px;
	-webkit-box-shadow: 7px 10px 25px 1px rgba(0,0,0,0.47);
	-moz-box-shadow: 7px 10px 25px 1px rgba(0,0,0,0.47);
	box-shadow: 7px 10px 25px 1px rgba(0,0,0,0.47);
}

.icon {
	font-size: 36px;
}

.icon-sm {
	padding-top: 10px;
	font-size: 20px;
}

