<!doctype html>
<html class="two-columns">
<head>
  
  {{> suppHead}} 

<script src='/assets/js/checkform.js'></script>
</head>

<body>

<div id="docs" data-level>
  {{> header}}
  {{> suppBody}}

<div class="content-root resources-wrapper">
  <div> {{!-- Outer Static Div --}}
    <div id="res-title">
      <h2>How can we help you today?</h2>
      <h4>We've probably have the answer somewhere around here...</h4>
    </div>
    <div class='container' id='resources'> {{!-- Container Closing --}}
      <div class='row'>{{!-- Help Buttons --}}
        <div class='tile'>
          <a class='resource-tile' href='/guide/getting-started/start'>
            <i class='icon ion-document-text'></i>
            <h5>Documentation</h5>
            <p>Level up on Particle and learn how to make amazing connected products.</p>
          </a>
        </div>
        <div class='tile'>
          <a class='resource-tile' href='/support/troubleshooting/common-issues'>
            <i class='icon ion-wrench'></i>
            <h5>Troubleshooting</h5>
            <p>Need help fixing an issue with your device? This is definitely the place to start.</p>
          </a>
        </div>
        <div class='tile'>
          <a class='resource-tile' href='/support/account-and-shipping/shipping-account-info/photon/'>
            <i class='icon ion-bag'></i>
            <h5>Order Information</h5>
            <p>Shipping question, address change, or Kickstarter question? Let's start here.</p>
          </a>
        </div>
        <div class='tile'>
          <a class='resource-tile' href='/page-not-found/'>
            <i class='icon ion-gear-a'></i>
            <h5>Account</h5>
            <p>Having issues with your Build IDE login, Mobile App, or Fleet Dashboard? This is your place.</p>
          </a>
        </div>
      </div>
      <div class='row'>
        <div class='tile'>
          <a class='resource-tile' href='http://particle.hackster.io/' target="_blank">
            <i class='icon ion-hammer'></i>
            <h5>Projects & Tutorials</h5>
            <p>Share your projects, or find inspiration. Powered by Hackster.io.</p>
          </a>
        </div>
        <div class='tile'>
          <a class='resource-tile' href='https://community.particle.io/' target="_blank">
            <i class='icon ion-person-stalker'></i>
            <h5>Community forums</h5>
            <p>Ask questions, share ideas, and participate in Particle's community of product creators.</p>
          </a>
        </div>
        <div class='tile'>
          <a class='resource-tile' href='http://blog.particle.io/' target="_blank">
            <i class='icon ion-social-rss'></i>
            <h5>Blog</h5>
            <p>Follow the latest from the Particle team, like new features, bug fixes, and example projects.</p>
          </a>
        </div>
        <div class='tile'>
          <a class='resource-tile' href='http://status.particle.io/' target="_blank">
            <i class='icon ion-alert-circled'></i>
            <h5>Status</h5>
            <p>Check the status of the Particle Cloud to make sure everything's running smoothly.</p>
          </a>
        </div>
      </div> {{!-- Help Buttons --}}

      <div class='row'> {{!-- Social Media Row --}}
        <div class='tilde-row offset-1'>
          <a class='social-tile' href='https://webchat.freenode.net/?channels=%23particle'  target="_blank">
            <i class='icon-sm ion-pound'></i>
            <h5>IRC</h5>
            <p>##Particle</p>
          </a>
        </div>
        <div class='tilde-row'>
          <a class='social-tile' href='https://twitter.com/particle'  target="_blank">
            <i class='icon-sm ion-social-twitter'></i>
            <h5>Twitter</h5>
            <p>@Particle</p>
          </a>
        </div>
        <div class='tilde-row'>
          <a class='social-tile' href='http://www.facebook.com/particle'  target="_blank">
            <i class='icon-sm ion-social-facebook'></i>
            <h5>Facebook</h5>
            <p>Particle</p>
          </a>
        </div>
        <div class='tilde-row'>
          <a class='social-tile' href='http://www.github.com/spark'  target="_blank">
            <i class='icon-sm ion-social-github'></i>
            <h5>Github</h5>
            <p>@Spark</p>
          </a>
        </div>
        <div class='tilde-row'>
          <a class='social-tile' href='https://www.youtube.com/channel/UCYMzCwo0oBpX5RXaRfwod-w'  target="_blank">
            <i class='icon-sm ion-social-youtube'></i>
            <h5>Youtube</h5>
            <p>Particle</p>
          </a>
        </div>
      </div> {{!-- Social Media Row --}}

      {{!-- <div id="row row-form"> --}}
        <div id="form-main"> {{!-- New webform section --}}
          <div id="form-div">
            <form class="form" id="form1">
              
              <p class="name">
                <input name="name" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input" placeholder="Name" id="name" />
              </p>
              
              <p class="email">
                <input name="email" type="text" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Email" />
              </p>

              <select id="category" name="category" class="feedback-input">
                <option value="1">Option one</option>
                <option value="2">Option two</option>
                <option value="3">Option three</option>
                <option value="4">Option four</option>
                <option value="5">Option five</option>
                <option value="6">Option six</option>
                <option value="7">Option seven</option>
                <option value="8">Option eight</option>
              </select>              
              
              <p class="text">
                <textarea name="text" class="validate[required,length[6,300]] feedback-input" id="comment" placeholder="Comment"></textarea>
              </p>
              
              
              <div class="submit">
                <input type="submit" value="SEND" id="button-blue"/>
                <div class="ease"></div>
              </div>
            </form>
          </div>
        </div>
      {{!-- </div> --}} {{!-- New webform section --}}
    </div> {{!-- Container Closing --}}
  </div> {{!-- Outer Static Div --}}
</div>



  <!-- Scripts section before end of body -->
  {{> scripts}}

    
</body>
</html>
