<!doctype html>
<html class="two-columns">
<head>

  {{> head}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src='/assets/js/checkform.js'></script>
</head>

<body>

<div id="docs" data-level>
  {{> header}}


<div class="content-root resources-wrapper">
  <div> {{!-- Outer Static Div --}}
    <div id="res-title">
      <h2>How can we help you today?</h2>
      <h4>We probably have the answer somewhere around here...</h4>
    </div>
    <div class='container' id='resources'> {{!-- Container Closing --}}
      <div class='row'>{{!-- Help Buttons --}}
        <div class='tile'>
          <a class='resource-tile' href='/guide/getting-started/start'>
            <i class='icon-iHelp ion-document-text'></i>
            <h3>Documentation</h3>
            <p>Level up on the Particle platform.</p>
          </a>
        </div>
        <div class='tile'>
          <a class='resource-tile' href='/support/support-and-fulfillment/faq/' target="_blank">
            <i class='icon-iHelp ion-social-rss'></i>
            <h3>FAQ</h3>
            <p>All things Particle, answered.</p>
          </a>
        </div>
        <div class='tile'>
          <a class='resource-tile' href='/support/troubleshooting/common-issues/'>
            <i class='icon-iHelp ion-wrench'></i>
            <h3>Help</h3>
            <p>Having an issue with your device?</p>
          </a>
        </div>
      </div>
      <div class='row'>
        <div class='tile'>
          <a class='resource-tile' href='https://community.particle.io/' target="_blank">
            <i class='icon-iHelp ion-person-stalker'></i>
            <h3>Community Forums</h3>
            <p>Questions, answers, ideas. Join the Particle alliance, today.</p>
          </a>
        </div>
        <div class='tile'>
          <a class='resource-tile' href='/support/support-and-fulfillment/faq/photon/#orders'>
            <i class='icon-iHelp ion-gear-a'></i>
            <h3>Order Information</h3>
            <p>Shipping, orders, password resets. Let's start here.</p>
          </a>
        </div>
        <div class='tile'>
          <a class='resource-tile' href='http://status.particle.io/' target="_blank">
            <i class='icon-iHelp ion-alert-circled'></i>
            <h3>System Status</h3>
            <p>Check the Particle Cloud to make sure everything's running smoothly.</p>
          </a>
        </div>
      </div> {{!-- Help Buttons --}}

      {{!-- <div id="row row-form"> --}}
        <div href="#" id="form-main"> {{!-- New webform section --}}
          <div id="form-div">
            <form class="form" id="form1">

              <fieldset>
              <legend>Do you have a different question?</legend>

              <select id="category" name="category" class="feedback-input" required="required">
                <option value="" disabled selected> Please select a Category</option>
                <option value="AA">Logistics</option>
                <option value="BB">Technical Help</option>
                <option value="CC">Service</option>
                <option value="DD">Billing</option>
              </select>
              
              <select id="secondmenu" name="subOptions">
                <option value="--">--</option>
                <option value="1">Something wrong with shopping cart</option>
                <option value="2">Where is my order?</option>
                <option value="3">Where is my Electron?</option>
                <option value="4">Update my Address</option>
                <option value="5">I may need a refund</option>
                <option value="6">Business Inquiry</option>

                <option value="7">Help claiming a device</option>
                <option value="8">Troubleshooting the P0/P1</option>
                <option value="9">Troubleshooting the Photon</option>
                <option value="10">Troubleshooting the Electron</option>
                <option value="11">Troubleshooting the CORE</option>
                <option value="12">Building a product on Particle</option>
                <option value="13">A particle shield/kit/accessory</option>
                <option value="14">Particle Dashboard</option>
                <option value="15">Other technical question</option>

                <option value="16">What is the cellular coverage?</option>
                <option value="17">What is my data cap?</option>
                <option value="18">Is there a cellular outage?</option>
                <option value="19">Using a non-Particle SIM card</option>
                <option value="20">Can I cancel my SIM card/account?</option>
                <option value="21">Is the Particle Cloud down?</option>
                <option value="22">A Particle shield, kit, or accessory</option>

                <option value="23">What am I being charged for?</option>
                <option value="24">Why am I being charged monthly</option>
                <option value="25">What is my data limit + cost?</option>
                <option value="26">How do I update my credit card?</option>
                <option value="27">I may need a refund on my data</option>
                <option value="28">I may need a refund on the dashboard</option>
                <option value="29">Other billing question</option>
              </select>
              <br/>

              <p class="name">
                <input type="text" name="name" type="text" class="validate[required,custom[onlyLetter],length[0,100]] feedback-input"  placeholder="Name" id="name" required="required"/>
              </p>

              <p class="email">
                <input type="email" name="EMAIL_1" type="text" class="validate[required,custom[email]] feedback-input" id="email" placeholder="Email"  required="required"/>
              </p>

              <p class="text">
                <textarea type="text" name="text" class="validate[required,length[6,300]] feedback-input" id="comment" placeholder="Message" required="required"></textarea>
              </p>

              <div class="submit">
                <input type="submit" value="SEND" id="button-blue"/>
              </div>

              </fieldset>
            </form>
          </div>
        </div>
      {{!-- </div> --}} {{!-- New webform section --}}
    </div> {{!-- Container Closing --}}
  </div> {{!-- Outer Static Div --}}
</div>
  <!-- Scripts section before end of body -->
  {{> scripts}}


</body>
</html>
